<template>
    <div class="w-full flex items-center justify-between px-[24px] py-[12px]">
        <div>
            <p class="text-[28px] font-extrabold">Add Role</p>
        </div>
        <div class="flex justify-end gap-5">
            <button
                class="h-[44px] px-[60px] bg-activeColor rounded-[8px] text-white flex items-center gap-2"
                @click="SaveRole"
            >
                Save
            </button>
        </div>
    </div>
    <div
        class="flex flex-row gap-5 justify-between p-5 border-0 border-t-[1px]"
    >
        <div class="w-[420px] min-w-[420px] flex flex-col gap-5">
            <div class="border rounded-lg p-5 flex flex-col gap-5">
                <p class="text-xl font-bold">Type of Permisson</p>
                <InputField
                    type="text"
                    fieldname="Role name"
                    placeholder="Type something"
                    :value="rolename"
                    @update:value="rolename = $event"
                />
                <ColorPickerField
                    :rolecolor="rolecolor"
                    :UpdateColor="UpdateColor"
                />
                <InputField
                    type="text"
                    fieldname="Description"
                    :value="description"
                    @update:value="description = $event"
                />
            </div>
            <div class="border rounded-lg p-5 flex flex-col gap-5">
                <div class="flex justify-between items-center">
                    <input
                        type="search"
                        placeholder="Members"
                        class="p-2 bg-[#1B1F3B07] text-[#1B1F3B66]"
                    />
                    <button
                        class="px-4 py-2 bg-[#26ABE0] text-white rounded-lg"
                    >
                        Add Members
                    </button>
                </div>
                <div class="flex flex-col gap-3">
                    <MemberField />
                    <MemberField />
                    <MemberField />
                    <MemberField />
                    <MemberField />
                    <MemberField />
                    <MemberField />
                    <MemberField />
                </div>
            </div>
        </div>
        <PermissionComponent
            :permission="this.permission"
            :updatePermission="this.updatePermission"
            :flag="this.flag"
        />
    </div>
</template>

<script>
import { defineComponent } from "vue";
import ColorPickerField from "../../components/ColorPickerField.vue";
import AccessField from "../../components/AccessField.vue";
import MemberField from "../../components/MemberField.vue";
import InputField from "../../components/InputField.vue";
import PermissionComponent from "../../components/PermissionComponent.vue";

import api from "../../utils/api_user";
import toast from "../../utils/toast";

import {
    BIconPerson,
    BIconPersonLock,
    BIconEnvelope,
} from "bootstrap-icons-vue";

export default defineComponent({
    name: "users",
    data: () => ({
        rolename: "",
        description: "",
        rolecolor: 0,
        permission: {
            reports: {
                access: true,
                objectreport: {
                    access: true,
                    object: [
                        {
                            pname: "Type 1",
                            pvalue: 1,
                        },
                        {
                            pname: "Type 2",
                            pvalue: 1,
                        },
                        {
                            pname: "Type 3",
                            pvalue: 1,
                        },
                        {
                            pname: "Type 4",
                            pvalue: 1,
                        },
                        {
                            pname: "Type 5",
                            pvalue: 1,
                        },
                    ],
                    technology: [
                        {
                            pname: "BLE",
                            pvalue: 1,
                        },
                        {
                            pname: "aRFID",
                            pvalue: 1,
                        },
                        {
                            pname: "pRFID",
                            pvalue: 1,
                        },
                        {
                            pname: "UWB",
                            pvalue: 1,
                        },
                    ],
                    sites: [
                        {
                            pname: "Site1",
                            pvalue: 1,
                        },
                        {
                            pname: "Site2",
                            pvalue: 1,
                        },
                        {
                            pname: "Site3",
                            pvalue: 1,
                        },
                        {
                            pname: "Site4",
                            pvalue: 1,
                        },
                    ],
                },
                tagreport: {
                    access: true,
                    object: [
                        {
                            pname: "Type 1",
                            pvalue: 1,
                        },
                        {
                            pname: "Type 2",
                            pvalue: 1,
                        },
                        {
                            pname: "Type 3",
                            pvalue: 1,
                        },
                        {
                            pname: "Type 4",
                            pvalue: 1,
                        },
                        {
                            pname: "Type 5",
                            pvalue: 1,
                        },
                    ],
                    technology: [
                        {
                            pname: "BLE",
                            pvalue: 1,
                        },
                        {
                            pname: "aRFID",
                            pvalue: 1,
                        },
                        {
                            pname: "pRFID",
                            pvalue: 1,
                        },
                        {
                            pname: "UWB",
                            pvalue: 1,
                        },
                    ],
                    sites: [
                        {
                            pname: "Site1",
                            pvalue: 1,
                        },
                        {
                            pname: "Site2",
                            pvalue: 1,
                        },
                        {
                            pname: "Site3",
                            pvalue: 1,
                        },
                        {
                            pname: "Site4",
                            pvalue: 1,
                        },
                    ],
                },
            },
            locallive: {
                access: false,
                zones: 2,
            },
            history: {
                access: true,
                objectsite: {
                    access: false,
                    data: [
                        {
                            pname: "Site1",
                            pvalue: 2,
                        },
                        {
                            pname: "Site2",
                            pvalue: 2,
                        },
                        {
                            pname: "Site3",
                            pvalue: 2,
                        },
                        {
                            pname: "Site4",
                            pvalue: 2,
                        },
                        {
                            pname: "Site5",
                            pvalue: 2,
                        },
                    ],
                },
                objectobject: {
                    access: false,
                    data: [
                        {
                            pname: "Object1",
                            pvalue: 2,
                        },
                        {
                            pname: "Object2",
                            pvalue: 2,
                        },
                        {
                            pname: "Object3",
                            pvalue: 2,
                        },
                        {
                            pname: "Object4",
                            pvalue: 2,
                        },
                        {
                            pname: "Object5",
                            pvalue: 2,
                        },
                    ],
                },
                tagblinksite: {
                    access: true,
                    data: [
                        {
                            pname: "Site1",
                            pvalue: 1,
                        },
                        {
                            pname: "Site2",
                            pvalue: 1,
                        },
                        {
                            pname: "Site3",
                            pvalue: 1,
                        },
                        {
                            pname: "Site4",
                            pvalue: 1,
                        },
                        {
                            pname: "Site5",
                            pvalue: 1,
                        },
                    ],
                },
                tagblinkobject: {
                    access: true,
                    data: [
                        {
                            pname: "Object1",
                            pvalue: 1,
                        },
                        {
                            pname: "Object2",
                            pvalue: 1,
                        },
                        {
                            pname: "Object3",
                            pvalue: 1,
                        },
                        {
                            pname: "Object4",
                            pvalue: 1,
                        },
                        {
                            pname: "Object5",
                            pvalue: 1,
                        },
                    ],
                },
            },
            alert: {
                access: true,
                objectalert: {
                    access: true,
                    data: [
                        {
                            pname: "Site1",
                            pvalue: 1,
                        },
                        {
                            pname: "Site2",
                            pvalue: 1,
                        },
                        {
                            pname: "Site3",
                            pvalue: 1,
                        },
                        {
                            pname: "Site4",
                            pvalue: 1,
                        },
                        {
                            pname: "Site5",
                            pvalue: 1,
                        },
                    ],
                },
                systemalert: {
                    access: true,
                    data: [
                        {
                            pname: "Site1",
                            pvalue: 1,
                        },
                        {
                            pname: "Site2",
                            pvalue: 1,
                        },
                        {
                            pname: "Site3",
                            pvalue: 1,
                        },
                        {
                            pname: "Site4",
                            pvalue: 1,
                        },
                        {
                            pname: "Site5",
                            pvalue: 1,
                        },
                    ],
                },
            },
            sitemanager: {
                access: true,
                sitegroup: [
                    {
                        pname: "Site1",
                        pvalue: 1,
                    },
                    {
                        pname: "Site2",
                        pvalue: 1,
                    },
                    {
                        pname: "Site3",
                        pvalue: 1,
                    },
                    {
                        pname: "Site4",
                        pvalue: 1,
                    },
                    {
                        pname: "Site5",
                        pvalue: 1,
                    },
                ],
            },
            devicemanager: {
                access: true,
                devices: [
                    {
                        pname: "BLE",
                        pvalue: 1,
                    },
                    {
                        pname: "UWB",
                        pvalue: 2,
                    },
                    {
                        pname: "pRFID",
                        pvalue: 1,
                    },
                    {
                        pname: "aRFID",
                        pvalue: 1,
                    },
                    {
                        pname: "GPS",
                        pvalue: 1,
                    },
                    {
                        pname: "Lorawan",
                        pvalue: 2,
                    },
                ],
            },
            rulesmanager: {
                access: true,
                rules: 1,
            },
            analytics: {
                access: false,
                analytics: 1,
            },
            user: {
                access: false,
                add: false,
                edit: false,
                delete: false,
                view: true,
            },
            system: {
                access: true,
                systempermission: 2,
            },
        },
        flag: false,
    }),
    components: {
        ColorPickerField,
        AccessField,
        MemberField,
        InputField,
        PermissionComponent,
    },
    methods: {
        UpdateColor(color) {
            this.rolecolor = color;
        },
        SaveRole() {
            api.post("/addrole", {
                color: this.rolecolor,
                name: this.rolename,
                description: this.description,
                devicepermission: [
                    { pname: "", pvalue: 0 },
                    { pname: "", pvalue: 1 },
                    { pname: "", pvalue: 0 },
                    { pname: "", pvalue: 2 },
                    { pname: "", pvalue: 1 },
                    { pname: "", pvalue: 0 },
                ],
                pagepermission: this.permission,
            })
                .then((response) => {
                    toast(this, "success", response.data.message);
                    this.$router.go(-1);
                })
                .catch((error) => {
                    console.log(error);
                    if (error.response.status === 422) {
                        for (let x in error.response.data.data) {
                            toast(this, "error", error.response.data.data[x]);
                        }
                        return;
                    }
                    toast(this, "error", "Server Error");
                });
        },
        updatePermission(oldPermission) {
            this.permission = oldPermission;
            this.flag = !this.flag;
        },
    },
});
</script>

<style>
/* customize the scrollbar styles */
.user-body::-webkit-scrollbar {
    width: 5px;
}

.user-body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.user-body::-webkit-scrollbar-thumb {
    background-color: rgb(231, 145, 145);
    border-radius: 5px;
}
.user-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-color: rgb(229, 231, 235);
    @apply px-10 border-y-2;
}
.user-header-button {
    width: 100px;
    text-align: center;
    color: rgba(27, 31, 59, 0.8);
    @apply py-3;
}
</style>
