<template>
    <div class="w-full flex items-center justify-between px-[24px] py-[12px]">
        <div>
            <p class="text-[28px] font-extrabold">
                {{ this.previous_userName }} - Edit User
            </p>
        </div>
        <div class="flex justify-end gap-5">
            <button
                class="h-[44px] px-[60px] bg-activeColor rounded-[8px] text-white flex items-center gap-2"
                @click="SaveUser"
            >
                Save
            </button>
        </div>
    </div>
    <div
        class="flex flex-row gap-5 justify-between p-5 border-0 border-t-[1px]"
    >
        <div class="border rounded-lg p-5 flex flex-col gap-5 w-full">
            <p class="text-xl font-bold">Account Details</p>
            <InputField
                type="text"
                fieldname="First Name"
                placeholder="Ivan"
                :value="firstName"
                @update:value="firstName = $event"
            />
            <InputField
                type="text"
                fieldname="Last name"
                placeholder="Ivanov"
                :value="lastName"
                @update:value="lastName = $event"
            />
            <InputField
                type="text"
                fieldname="Description"
                placeholder="Type something"
                :value="description"
                @update:value="description = $event"
            />
        </div>
        <div class="border rounded-lg p-5 flex flex-col gap-5 w-full">
            <p class="text-xl font-bold">Security</p>
            <InputField
                type="text"
                fieldname="Username"
                placeholder="@ivanovivan"
                :value="userName"
                @update:value="userName = $event"
            >
                <BIconPerson />
            </InputField>
            <InputField
                type="password"
                fieldname="Password"
                placeholder="Password"
                :value="password"
                @update:value="password = $event"
            >
                <BIconPersonLock />
            </InputField>
            <InputField
                type="text"
                fieldname="Email Adress"
                placeholder="example@email.com"
                :value="email"
                @update:value="email = $event"
            >
                <BIconEnvelope />
            </InputField>
        </div>
        <div class="border rounded-lg p-5 flex flex-col gap-3 w-full">
            <p class="text-xl font-bold">Groups</p>
            <div class="grid grid-cols-3 gap-5 relative">
                <RoleField
                    v-for="(role, index) in troles"
                    :key="role._id"
                    :role="role"
                />
                <GroupPlusField :toggleClick="toggleClick" />
            </div>
            <SearchRoleComponent
                :roles="roles"
                :selectRole="selectRole"
                v-if="isShow"
            />
        </div>
    </div>
</template>

<script>
import { defineComponent } from "vue";
import UsersDatatable from "../../components/UsersDatatable.vue";
import InputField from "../../components/InputField.vue";
import GroupField from "../../components/GroupField.vue";
import GroupPlusField from "../../components/GroupPlusField.vue";
import RoleField from "../../components/RoleField.vue";
import SearchRoleComponent from "../../components/SearchRoleComponent.vue";

import api from "../../utils/api_user";
import toast from "../../utils/toast";

import {
    BIconPerson,
    BIconPersonLock,
    BIconEnvelope,
} from "bootstrap-icons-vue";

export default {
    name: "users",
    props: {
        user_id: {
            type: String,
        },
    },
    data: () => ({
        id: "",
        firstName: "",
        lastName: "",
        description: "",
        userName: "",
        previous_userName: "",
        password: "",
        email: "",
        photo: "1.png",

        troles: [],
        roles: [],

        isShow: false,
    }),
    mounted() {
        api.get("/roles")
            .then((response) => {
                this.roles = response.data.data;
            })
            .catch((error) => {
                console.log(error);
                toast(this, "error", "Server Error");
            });

        api.get("/userbyid/" + this.user_id)
            .then((response) => {
                const user = response.data.data;

                this.id = this.user_id;
                this.userName = user.username;
                this.previous_userName = user.username;
                this.firstName = user.firstname;
                this.lastName = user.lastname;
                this.description = user.description;
                this.email = user.email;
                this.password = user.password;
                this.photo = user.photo;
                this.troles = user.briefrole ? user.briefrole : [];
            })
            .catch((error) => {
                toast(this, "error", "Server Error");
                console.log(error);
            });
    },
    components: {
        UsersDatatable,
        InputField,
        GroupPlusField,
        RoleField,
        SearchRoleComponent,

        BIconPerson,
        BIconPersonLock,
        BIconEnvelope,
    },
    methods: {
        selectRole(id) {
            {
                const role = this.troles.filter((item) => item._id === id);
                if (role.length) return;
            }
            {
                const role = this.roles.filter((item) => item._id === id);
                if (role.length) {
                    this.troles.push(...role);
                }
            }
        },
        toggleClick() {
            this.isShow = !this.isShow;
        },
        SaveUser() {
            api.put("/edituser/" + this.id, {
                photo: this.photo,
                username: this.userName,
                password: this.password,
                email: this.email,
                firstname: this.firstName,
                lastname: this.lastName,
                description: this.description,
                role: this.troles.map((role) => {
                    return role._id;
                }),
            })
                .then((response) => {
                    toast(this, "success", response.data.message);
                    this.$router.go(-1);
                })
                .catch((error) => {
                    toast(this, "error", "Server Error");
                    console.log(error);
                });
        },
    },
};
</script>

<style>
.user-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-color: rgb(229, 231, 235);
    @apply px-10 border;
}
.user-header-button {
    width: 100px;
    text-align: center;
    color: rgba(27, 31, 59, 0.8);
    @apply py-3;
}
</style>
