<template>
    <div class="w-full flex items-center justify-between px-[24px] py-[12px]">
        <div>
            <p class="text-[28px] font-extrabold">Users and Roles</p>
        </div>
        <div class="flex justify-end gap-5 relative">
            <!-- search bar -->
            <SearchField :value="searchValue" :OnChange="OnChange" />
            <!-- filter bar -->
            <button
                class="h-[44px] px-[20px] border-activeColor rounded-[8px] text-activeColor flex items-center gap-2"
                :style="buttonStyle"
                @click="UpdateFilter"
            >
                Filter <BIconFunnelFill />
            </button>
            <div
                class="flex flex-col gap-3 p-5 border absolute min-w-[240px] top-full right-0 z-10 bg-white rounded-lg"
                v-if="isShowFilter"
            >
                <div class="flex flex-row items-center gap-2">
                    <BIconLayoutThreeColumns class="text-[#26ABE0] w-6 h-6" />
                    <p class="text-base">Columns</p>
                </div>
                <div
                    class="flex flex-row items-center gap-2"
                    v-for="(column, index) in this.table.thead"
                >
                    <input
                        type="checkbox"
                        v-bind:id="column.id"
                        @change="(e) => UpdateColumn(column.id, e)"
                        :checked="!this.hideColumns.includes(column.id)"
                    />
                    <label v-bind:for="column.id">{{ column.name }}</label>
                </div>
            </div>
            <!-- create role -->
            <router-link
                class="h-[44px] px-[20px] bg-activeColor rounded-[8px] text-white flex items-center gap-2"
                to="/group/addrole"
            >
                <img src="/assets/img/white/plus.svg" class="w-6 h-6" /> Create
                Role
            </router-link>
        </div>
    </div>
    <div class="user-header">
        <router-link class="user-header-button active" to="/group/roles"
            >Roles</router-link
        >
        <router-link class="user-header-button" to="/group/users"
            >Users</router-link
        >
    </div>
    <div class="user-body overflow-y-auto">
        <RolesDatatable
            :table="this.temp_table"
            :deleteRow="deleteRow"
            :hideColumns="hideColumns"
            :selectAllRoles="selectAllRoles"
        />
    </div>
</template>

<script>
import { defineComponent } from "vue";
import RolesDatatable from "../../components/RolesDatatable.vue";
import SearchField from "../../components/SearchField.vue";

import { BIconFunnelFill, BIconLayoutThreeColumns } from "bootstrap-icons-vue";

import api from "../../utils/api_user";
import toast from "../../utils/toast";

export default defineComponent({
    name: "roles",
    data: () => ({
        buttonStyle: {
            borderWidth: "1px",
            borderStyle: "solid",
        },
        isShowFilter: false,
        temp_table: {},
        searchValue: "",
        table: {
            thead: [
                {
                    class: "text-left pl-9",
                    name: "Role-9",
                    id: 0,
                },
                {
                    name: "Description",
                    id: 1,
                },
                {
                    name: "Users",
                    id: 2,
                },
                {
                    name: "Resources",
                    id: 3,
                },
                {
                    name: "Device",
                    id: 4,
                },
                {
                    name: "Tags",
                    id: 5,
                },
                {
                    name: "RFID",
                    id: 6,
                },
                {
                    name: "Bluetooth",
                    id: 7,
                },
                {
                    name: "Something",
                    id: 8,
                },
            ],
            tbody: [],
        },
        // roles: [
        //     {
        //         _id: "asdf",
        //         name: "asdf",
        //         color: 5,
        //         description:
        //             "asdfa asdf asd fasd fa asdfas asdf df asdfasdfsdf",
        //         devicepermission: [1, 0, 2, 1, 0, 2],
        //     },
        //     {
        //         _id: "asdf",
        //         name: "asdf",
        //         color: 3,
        //         description: "as dsd fsa sdfsdf",
        //         devicepermission: [1, 1, 1, 1, 1, 1],
        //     },
        //     {
        //         _id: "asdf",
        //         name: "asdf",
        //         color: 7,
        //         description: "as fds df fa asdfas asdf df asdfasdfsdf",
        //         devicepermission: [1, 0, 2, 1, 0, 2],
        //     },
        //     {
        //         _id: "asdf",
        //         name: "asdf",
        //         color: 3,
        //         description:
        //             "asdfa asdf asd fasd fa asdfas asdf df asdfasdfsdf",
        //         devicepermission: [1, 1, 1, 1, 1, 1],
        //     },
        //     {
        //         _id: "asdf",
        //         name: "asdf",
        //         color: 4,
        //         description: "as fds df fa asdfas asdf df asdfasdfsdf",
        //         devicepermission: [1, 0, 2, 1, 0, 2],
        //     },
        //     {
        //         _id: "asdf",
        //         name: "asdf",
        //         color: 10,
        //         description:
        //             "asdfa asdf asd fasd fa asdfas asdf df asdfasdfsdf",
        //         devicepermission: [1, 1, 1, 1, 1, 1],
        //     },
        // ],
        hideColumns: [],
    }),
    components: {
        BIconFunnelFill,
        BIconLayoutThreeColumns,

        RolesDatatable,
        SearchField,
    },
    mounted() {
        this.updateRoles();
    },
    methods: {
        UpdateFilter() {
            this.isShowFilter = !this.isShowFilter;
        },
        UpdateColumn(columnNumber, event) {
            const checked = event.target.checked;
            const filteredArr = this.hideColumns;
            this.hideColumns = [];
            if (!checked) {
                filteredArr.push(columnNumber);
            } else {
                const index = filteredArr.indexOf(columnNumber);
                if (index > -1) {
                    filteredArr.splice(index, 1);
                }
            }
            this.hideColumns.push(...filteredArr);
        },
        checkValue(obj, value) {
            if (Array.isArray(obj)) {
                for (let i = 0; i < obj.length; i++) {
                    if (this.checkValue(obj[i], value)) {
                        return true; // Return true if the value is found in any child object in the array
                    }
                }
            } else if (typeof obj === "object") {
                for (let key in obj) {
                    if (this.checkValue(obj[key], value)) {
                        return true; // Return true if the value is found in any child object
                    }
                }
            } else if (obj.toString().includes(value)) {
                return true; // Return true if the value is found in the current object
            }

            return false; // Return false if the value is not found in any child object
        },
        OnChange(targetValue) {
            this.searchValue = targetValue;
            this.temp_table = {};

            this.temp_table.thead = this.table.thead;
            this.temp_table.tbody = [];

            for (let i = 0; i < this.table.tbody.length; i++) {
                const body = this.table.tbody[i].body;
                const flag = this.checkValue(body, this.searchValue);
                if (flag) {
                    this.temp_table.tbody.push(this.table.tbody[i]);
                }
            }
        },
        deleteRow(id) {
            this.$swal
                .fire({
                    title: "Delete Role",
                    html: `Are you sure you want to delete the <span class="text-[#26ABE0]">CMS</span> role?<br/> This action cannot be undone.`,
                    showCancelButton: true,
                    confirmButtonText: `Delete`,
                    cancelButtonText: "Cancel",
                    reverseButtons: true,
                })
                .then((result) => {
                    if (result.isConfirmed) {
                        api.delete(`/deleterole/${id}`)
                            .then((response) => {
                                toast(
                                    this,
                                    "success",
                                    "Your work has been saved"
                                );
                                this.updateRoles();
                            })
                            .catch((error) => {
                                console.log(error);
                                toast(this, "error", "Server Error");
                            });
                        // Do something with the entered name
                    }
                });
        },
        selectAllRoles(e) {
            const checked = e.target.checked;

            for (let i = 0; i < this.temp_table.tbody.length; i++) {
                const role = this.temp_table.tbody[i];
                role.selected = checked;
            }
        },
        updateRoles() {
            this.table.tbody = [];
            api.get("/roles")
                .then((response) => {
                    const roles = response.data.data;
                    if (roles === null) {
                        toast(this, "error", "Empty");
                        return;
                    }

                    for (let i = 0; i < roles.length; i++) {
                        const role = roles[i];
                        let body = {};
                        body._id = role._id;
                        body.selected = false;
                        body.body = [];
                        body.body.push({
                            color: role.color,
                            name: role.name,
                        });
                        body.body.push({ description: role.description });
                        body.body.push({ count: 4 });
                        if (role.isadmin === 0 || role.isadmin === 1) {
                            body.body.push(
                                { pname: 0, pvalue: 0 },
                                { pname: 0, pvalue: 0 },
                                { pname: 0, pvalue: 0 },
                                { pname: 0, pvalue: 0 },
                                { pname: 0, pvalue: 0 },
                                { pname: 0, pvalue: 0 }
                            );
                        } else {
                            body.body.push({
                                pname: role.devicepermission[0].pname,
                                pvalue: role.devicepermission[0].pvalue,
                            });
                            body.body.push({
                                pname: role.devicepermission[1].pname,
                                pvalue: role.devicepermission[1].pvalue,
                            });
                            body.body.push({
                                pname: role.devicepermission[2].pname,
                                pvalue: role.devicepermission[2].pvalue,
                            });
                            body.body.push({
                                pname: role.devicepermission[3].pname,
                                pvalue: role.devicepermission[3].pvalue,
                            });
                            body.body.push({
                                pname: role.devicepermission[4].pname,
                                pvalue: role.devicepermission[4].pvalue,
                            });
                            body.body.push({
                                pname: role.devicepermission[5].pname,
                                pvalue: role.devicepermission[5].pvalue,
                            });
                        }
                        this.table.tbody.push(body);
                    }
                    this.temp_table = this.table;
                })
                .catch((error) => {
                    console.log(error);
                    toast(this, "error", "Server Error");
                });
        },
    },
});
</script>

<style>
/* customize the scrollbar styles */
.user-body::-webkit-scrollbar {
    width: 5px;
}

.user-body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.user-body::-webkit-scrollbar-thumb {
    background-color: rgb(231, 145, 145);
    border-radius: 5px;
}
.user-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-color: rgb(229, 231, 235);
    @apply px-10 border-y-2;
}
.user-header-button {
    width: 100px;
    text-align: center;
    color: rgba(27, 31, 59, 0.8);
    @apply py-3;
}
.user-header > .active {
    color: black !important;
    border-bottom: 2px solid #26abe0;
}
.swal2-actions {
    display: grid !important;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    gap: 10px;
    justify-content: space-between;
}
.swal2-confirm::before {
    content: url("/assets/img/User/Vector.svg");
    margin-right: 10px;
}
.swal2-confirm {
    background-color: red !important; /* Change to desired color */
    color: white !important;
    border-radius: 10px !important;
    /* width: 100%; */
}
.swal2-cancel {
    background-color: #1b1f3b0a !important; /* Change to desired color */
    color: black !important;
    border-radius: 10px !important;
    /* width: 100%; */
}
</style>
