<template>
    <div class="w-full flex items-center justify-between px-[24px] py-[12px]">
        <div>
            <p class="text-[28px] font-extrabold">Users and Roles</p>
        </div>
        <div class="flex justify-end gap-5 relative">
            <!-- search bar -->
            <SearchField :value="searchValue" :OnChange="OnChange" />
            <!-- filter bar -->
            <button
                class="h-[44px] px-[20px] border-activeColor rounded-[8px] text-activeColor flex items-center gap-2"
                :style="buttonStyle"
                @click="UpdateFilter"
            >
                Filter <BIconFunnelFill />
            </button>
            <div
                class="flex flex-col gap-3 p-5 border absolute min-w-[240px] top-full right-0 z-10 bg-white rounded-lg"
                v-if="isShowFilter"
            >
                <div class="flex flex-row items-center gap-2">
                    <BIconLayoutThreeColumns class="text-[#26ABE0] w-6 h-6" />
                    <p class="text-base">Columns</p>
                </div>
                <div
                    class="flex flex-row items-center gap-2"
                    v-for="(column, index) in this.table.thead"
                >
                    <input
                        type="checkbox"
                        v-bind:id="column.id"
                        @change="(e) => UpdateColumn(column.id, e)"
                        :checked="!this.hideColumns.includes(column.id)"
                    />
                    <label v-bind:for="column.id">{{ column.name }}</label>
                </div>
            </div>
            <!-- create user -->
            <router-link
                class="h-[44px] px-[20px] bg-activeColor rounded-[8px] text-white flex items-center gap-2"
                to="/group/adduser"
                ><img src="/assets/img/white/plus.svg" class="w-6 h-6" /> Create
                User</router-link
            >
        </div>
    </div>
    <div class="user-header">
        <router-link class="user-header-button" to="/group/roles"
            >Roles</router-link
        >
        <router-link class="user-header-button active" to="/group/users"
            >Users</router-link
        >
    </div>
    <div class="user-body overflow-y-auto">
        <UsersDatatable
            :table="this.temp_table"
            :hideColumns="hideColumns"
            :deleteRow="deleteRow"
            :selectAllUsers="selectAllUsers"
        />
    </div>
</template>

<script>
import { defineComponent } from "vue";
import {
    BIconFunnelFill,
    BIconTrash3,
    BIconLayoutThreeColumns,
} from "bootstrap-icons-vue";
import UsersDatatable from "../../components/UsersDatatable.vue";
import SearchField from "../../components/SearchField.vue";

import api from "../../utils/api_user";
import toast from "../../utils/toast";

export default defineComponent({
    name: "users",
    components: {
        BIconFunnelFill,
        BIconTrash3,
        BIconLayoutThreeColumns,

        UsersDatatable,
        SearchField,
    },
    data: () => ({
        buttonStyle: {
            borderWidth: "1px",
            borderStyle: "solid",
        },
        isShowFilter: false,
        temp_table: {},
        searchValue: "",
        table: {
            thead: [
                {
                    class: "text-left pl-9",
                    name: "UserName",
                    id: 0,
                },
                {
                    name: "First Name",
                    id: 1,
                },
                {
                    name: "Last Name",
                    id: 2,
                },
                {
                    name: "Description",
                    id: 3,
                },
                {
                    class: "text-left pl-9",
                    name: "Groups",
                    id: 4,
                },
                {
                    name: "Inactive",
                    id: 5,
                },
            ],
            tbody: [],
        },
        hideColumns: [],
    }),
    mounted() {
        this.updateUsers();
    },
    methods: {
        UpdateFilter() {
            this.isShowFilter = !this.isShowFilter;
        },
        UpdateColumn(columnNumber, event) {
            const checked = event.target.checked;
            const filteredArr = this.hideColumns;
            this.hideColumns = [];
            if (!checked) {
                filteredArr.push(columnNumber);
            } else {
                const index = filteredArr.indexOf(columnNumber);
                if (index > -1) {
                    filteredArr.splice(index, 1);
                }
            }
            this.hideColumns.push(...filteredArr);
        },
        checkValue(obj, value) {
            if (Array.isArray(obj)) {
                for (let i = 0; i < obj.length; i++) {
                    if (this.checkValue(obj[i], value)) {
                        return true; // Return true if the value is found in any child object in the array
                    }
                }
            } else if (typeof obj === "object") {
                for (let key in obj) {
                    if (this.checkValue(obj[key], value)) {
                        return true; // Return true if the value is found in any child object
                    }
                }
            } else if (obj.toString().includes(value)) {
                return true; // Return true if the value is found in the current object
            }

            return false; // Return false if the value is not found in any child object
        },
        OnChange(targetValue) {
            this.searchValue = targetValue;
            this.temp_table = {};

            this.temp_table.thead = this.table.thead;
            this.temp_table.tbody = [];

            for (let i = 0; i < this.table.tbody.length; i++) {
                const body = this.table.tbody[i].body;
                const flag = this.checkValue(body, this.searchValue);
                if (flag) {
                    this.temp_table.tbody.push(this.table.tbody[i]);
                }
            }
        },
        deleteRow(id) {
            console.log("This is my function", id);
            this.$swal
                .fire({
                    title: "Delete User",
                    html: `Are you sure you want to delete the <span class="text-[#26ABE0]">CMS</span> user?<br/> This action cannot be undone.`,
                    showCancelButton: true,
                    confirmButtonText: `Delete`,
                    cancelButtonText: "Cancel",
                    reverseButtons: true,
                })
                .then((result) => {
                    if (result.isConfirmed) {
                        api.delete(`/deleteuser/${id}`)
                            .then((response) => {
                                console.log(response);
                                toast(
                                    this,
                                    "success",
                                    "Your work has been saved"
                                );
                                this.updateUsers();
                            })
                            .catch((error) => {
                                console.log(error);
                                toast(this, "error", "Server Error");
                            });
                        // Do something with the entered name
                    }
                });
        },
        selectAllUsers(e) {
            const checked = e.target.checked;

            for (let i = 0; i < this.temp_table.tbody.length; i++) {
                const user = this.temp_table.tbody[i];
                user.selected = checked;
            }
        },
        updateUsers() {
            this.temp_table = {};
            this.table.tbody = [];
            api.get("/users")
                .then((response) => {
                    const roles = response.data.data;

                    for (let i = 0; i < roles.length; i++) {
                        const role = roles[i];
                        let body = {};
                        body._id = role._id;
                        body.selected = false;
                        body.body = [];
                        body.body.push({
                            photo: role.photo,
                        });
                        body.body.push({ username: role.username });
                        body.body.push({ firstname: role.firstname });
                        body.body.push({ lastname: role.lastname });
                        body.body.push({ description: role.description });

                        let briefrole = [];
                        if (role.briefrole) {
                            for (let i = 0; i < role.briefrole.length; i++)
                                briefrole.push({ ...role.briefrole[i] });
                        }

                        body.body.push({ briefrole: briefrole });
                        body.body.push({ lastconnect: role.lastconnect });
                        this.table.tbody.push(body);
                    }
                    this.temp_table = this.table;
                })
                .catch((error) => {
                    console.log(error);
                    toast(this, "error", "Server Error");
                });
        },
    },
});
</script>

<style></style>
