<template>
  <div>
    chart
  </div>
</template>


<script>

import { defineComponent } from 'vue'
import {BIconArrowRepeat } from 'bootstrap-icons-vue';
export default defineComponent({
  name: 'chart',
  components: {
    BIconArrowRepeat,
  },
  data:()=>({
    }),
  mounted() {
   
  },

  methods:{
   
  }
})
</script>