<template>
  <div>
    dashboard
  </div>
</template>


<script>

import { defineComponent } from 'vue'
import {BIconArrowRepeat } from 'bootstrap-icons-vue';
export default defineComponent({
  name: 'dashboard',
  components: {
    BIconArrowRepeat,
  },
  data:()=>({
    }),
  mounted() {
   
  },

  methods:{
   
  }
})
</script>