<template>
    <div class="w-full flex">
        <!-- side menu bar   -->
        <div class="flex min-h-screen">
            <div
                class="w-[282px] pt-[24px] min-w-[282px] bg-white relative border-x-[1px] overflow-y-hidden"
            >
                <!-- header -->
                <div class="flex items-center justify-between px-[16px]">
                    <p class="text-[28px] font-bold">Site Map</p>
                    <img
                        class="w-6 h-6"
                        src="/assets/img/sitemap/minimize.svg"
                    />
                </div>
                <div
                    class="flex flex-row justify-between items-center mt-[12px] gap-3 px-[16px]"
                >
                    <!-- search bar -->
                    <div
                        class="relative flex items-center border rounded-lg border-gray-300"
                    >
                        <input
                            type="text"
                            class="h-[44px] opacity-100 focus:outline-none text-[14px] py-1 pl-[20px] pr-[40px] w-full"
                            placeholder="Search"
                            autocomplete="off"
                        />
                        <img
                            class="absolute w-6 h-6 right-3 ml-1"
                            src="/assets/img/gray/search.svg"
                        />
                    </div>
                    <!-- Plus button -->
                    <v-dialog v-model="dialog" persistent width="auto">
                        <template v-slot:activator="{ props }">
                            <v-btn
                                class="pa-2 rounded-lg w-auto h-auto"
                                color="#26ABE0"
                                v-bind="props"
                            >
                                <img
                                    class="w-6 h-6"
                                    src="/assets/img/white/plus.svg"
                                />
                            </v-btn>
                        </template>
                        <div
                            class="px-4 py-5 w-96 rounded-lg flex flex-col gap-4 bg-white"
                        >
                            <p class="text-[17px] text-center font-bold">
                                New Site Group
                            </p>
                            <div
                                class="text-[15px] px-[16px] py-[5px] border-[#1B1F3B1A] rounded-[10px] border-2"
                            >
                                <input
                                    type="text"
                                    class="border-0 w-100 py-[10px] focus:outline-none"
                                    placeholder="Site Group Name"
                                />
                            </div>
                            <div class="flex justify-center">
                                <span> - or - </span>
                            </div>
                            <button
                                class="flex flex-row p-4 gap-3 justify-center bg-[#26ABE010] rounded-[10px] text-white"
                            >
                                <img
                                    class="w-6 h-6"
                                    src="/assets/img/sitemap/Import.svg"
                                />
                                <span
                                    class="text-[#26ABE0] font-semibold line-[21px]"
                                    >Import from file</span
                                >
                            </button>
                            <hr />
                            <div class="grid grid-cols-2 gap-3">
                                <button
                                    class="p-2 py-3 text-black rounded-[10px] bg-[#1B1F3B04] w-full text-[13px]"
                                    @click="dialog = false"
                                >
                                    Cancel
                                </button>
                                <button
                                    class="p-2 py-3 text-white rounded-[10px] bg-[#26ABE0] w-full text-[13px]"
                                    @click="dialog = false"
                                >
                                    Create
                                </button>
                            </div>
                        </div>
                    </v-dialog>
                </div>
                <menulist
                    :menu="menu"
                    :Append="Append"
                    :SelectMap="SelectMap"
                    :selectedMapID="selectedMap.id"
                    :updateDialogShow="
                        (id) => {
                            this.updateDialogShow(id);
                            this.dialog1 = true;
                        }
                    "
                />
            </div>
        </div>
        <div class="w-full relative flex-col flex">
            <!-- header -->
            <NavbarComponent />
            <!-- body -->
            <div class="w-full flex flex-grow">
                <div class="flex flex-grow">
                    <div
                        ref="container"
                        class="w-full relative overflow-hidden"
                    >
                        <!-- <div
                            class="flex flex-row justify-between items-center px-5 pb-3"
                        >
                            <p class="text-[28px] text-[#1B1F3B] font-bold">
                                Some Sample map
                            </p>
                            <div class="flex flex-row gap-5">
                                <button
                                    class="flex items-center whitespace-nowrap rounded-lg p-2 border-activeColor gap-3 w-36 justify-center"
                                    :style="buttonStyle"
                                >
                                    <img
                                        src="/assets/img/sitemap/create_scale.svg"
                                    />
                                    <p class="text-[13px]">Create Scale</p>
                                </button>
                                <button
                                    class="flex items-center whitespace-nowrap rounded-lg p-2 border-activeColor gap-3 w-36 justify-center"
                                    :style="buttonStyle"
                                >
                                    <img
                                        src="/assets/img/sitemap/check_scale.svg"
                                    />
                                    <p class="text-[13px]">Check Scale</p>
                                </button>
                                <button
                                    class="flex items-center whitespace-nowrap bg-activeColor rounded-lg p-2 w-40 justify-center gap-3 border-white"
                                    :style="buttonStyle"
                                    @click="() => (this.dialognewzone = true)"
                                >
                                    <img src="/assets/img/white/plus.svg" />
                                    <p class="text-white text-[13px]">
                                        New Zone
                                    </p>
                                </button>
                            </div>
                        </div> -->
                        <!-- <div class="w-full">
                            <div class="flex flex-row">
                                <div class="w-[30%] p-2 flex flex-col gap-3">
                                    <div
                                        class="flex flex-row gap-3 justify-start"
                                    >
                                        <p
                                            class="rounded-full border bg-activeColor text-white px-2"
                                        >
                                            1
                                        </p>
                                        <span class="text-activeColor"
                                            >Step:</span
                                        >
                                        <p>Define points</p>
                                    </div>
                                    <div class="flex flex-row gap-3">
                                        <div class="h-16">
                                            <button
                                                class="p-2 w-full bg-activeColor text-white rounded-lg"
                                            >
                                                Next
                                            </button>
                                        </div>
                                        <div class="h-16">
                                            <button
                                                class="p-2 h-11 w-full text-activeColor"
                                            >
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-[30%] flex flex-col p-2 gap-3">
                                    <p>Left:</p>
                                    <div class="flex flex-row">
                                        <v-text-field
                                            label="Zone Name"
                                            variant="solo"
                                            hide-details="auto"
                                        ></v-text-field>
                                        <v-text-field
                                            label="Zone Name"
                                            variant="solo"
                                            hide-details="auto"
                                        ></v-text-field>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div
                            class="w-full h-full z-[991] absolute border-t border-x"
                        >
                            <div
                                class="flex justify-between absolute w-full items-start"
                            >
                                <div
                                    class="border rounded-2xl m-6 bg-white flex flex-col z-[999]"
                                >
                                    <button class="p-4 IconButton">
                                        <img
                                            class="w-4 h-4"
                                            src="/assets/img/sitemap/global.svg"
                                        />
                                    </button>
                                    <button class="p-4 IconButton">
                                        <img
                                            class="w-4 h-4"
                                            src="/assets/img/sitemap/zone.svg"
                                        />
                                    </button>
                                    <button class="p-4 IconButton">
                                        <img
                                            class="w-4 h-4"
                                            src="/assets/img/sitemap/browse.svg"
                                        />
                                    </button>
                                    <button class="p-4 IconButton">
                                        <img
                                            class="w-4 h-4"
                                            src="/assets/img/sitemap/text.svg"
                                        />
                                    </button>
                                    <button class="p-4 IconButton">
                                        <img
                                            class="w-4 h-4"
                                            src="/assets/img/sitemap/play.svg"
                                        />
                                    </button>
                                </div>
                                <div
                                    class="border rounded-2xl m-6 bg-white flex flex-col z-[999]"
                                >
                                    <button class="p-4 IconButton">
                                        <img
                                            class="w-4 h-4"
                                            src="/assets/img/sitemap/zoomin.svg"
                                        />
                                    </button>
                                    <button class="p-4 IconButton">
                                        <img
                                            class="w-4 h-4"
                                            src="/assets/img/sitemap/zoomout.svg"
                                        />
                                    </button>
                                    <button class="p-4 IconButton">
                                        <img
                                            class="w-4 h-4"
                                            src="/assets/img/sitemap/exit.svg"
                                        />
                                    </button>
                                    <button class="p-4 IconButton">
                                        <img
                                            class="w-4 h-4"
                                            src="/assets/img/sitemap/center.svg"
                                        />
                                    </button>
                                </div>
                            </div>
                            <div
                                class="w-full h-full flex items-center justify-center"
                            >
                                <img
                                    src="/assets/img/Map.png"
                                    class="w-full z-0"
                                    draggable="false"
                                />
                                <!-- <div class="flex flex-col items-center gap-3">
                                    <img
                                        class="w-16 h-16"
                                        src="/assets/img/sitemap/loading.svg"
                                    />
                                    <div
                                        class="flex flex-col items-center gap-1"
                                    >
                                        <p class="text-[17px] font-bold">
                                            Map Calibration |
                                            <span class="text-[#26ABE0]"
                                                >60%</span
                                            >
                                        </p>
                                        <p class="text-[13px] text-[#26ABE0]">
                                            Please Wait
                                        </p>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div
                            class="absolute bottom-5 flex flex-row z-[992] w-full justify-center"
                        >
                            <div
                                class="rounded-xl border flex flex-row px-3 bg-[#1B1F3B07]"
                            >
                                <p class="w-8 text-center text-[13px] py-3">
                                    X
                                </p>
                                <p
                                    class="w-[80px] border-x text-center text-[13px] items-center flex justify-center bg-white"
                                >
                                    555.555
                                </p>
                                <p class="w-8 text-center text-[13px] py-3">
                                    Y
                                </p>
                                <p
                                    class="w-[80px] border-x text-center text-[13px] items-center flex justify-center bg-white"
                                >
                                    555.555
                                </p>
                                <p class="w-8 text-center text-[13px] py-3">
                                    Z
                                </p>
                                <p
                                    class="w-[80px] border-x text-center text-[13px] items-center flex justify-center bg-white"
                                >
                                    555.555
                                </p>
                                <p class="w-8 text-center text-[13px] py-3">
                                    ...
                                </p>
                            </div>
                        </div>
                        <div
                            class="absolute bottom-5 flex flex-col z-[992] w-full items-end px-5"
                        >
                            <div
                                class="w-[73px] border-l border-b text-right text-[11px] py-1"
                            >
                                50 ft
                            </div>
                            <div
                                class="w-[55px] border-l border-t text-right text-[11px] py-1"
                            >
                                10 m
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div
        class="absolute z-[999] top-0 left-0 flex justify-center items-center w-full h-full bg-[#27272960]"
        v-if="this.dialog1"
    >
        <div class="px-4 py-5 w-96 rounded-lg flex flex-col gap-4 bg-white">
            <p class="text-[17px] text-center font-bold">New Site Map</p>
            <div
                class="text-[15px] px-[16px] py-[5px] border-[#1B1F3B1A] rounded-[10px] border-2"
            >
                <input
                    type="text"
                    class="border-0 w-100 py-[10px] focus:outline-none"
                    placeholder="Site Name"
                />
            </div>
            <p class="text-[13px] font-bold">Map and Unit Metrics</p>
            <div class="grid grid-cols-3 gap-3">
                <div class="grid col-span-2 relative">
                    <select
                        class="focus:outline-none px-4 py-4 rounded-[12px] border border-[#1B1F3B] text-gray-300 text-left font-weight-300 w-full"
                    >
                        <option class="w-full">Zoom Level</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="grid grid-cols-2">
                    <button
                        class="rounded-[12px] text-[15px] border focus:text-[#26ABE0] focus:border-[#26ABE0]"
                        :style="buttonStyle1"
                    >
                        M</button
                    ><button
                        class="rounded-[12px] text-[15px] border focus:text-[#26ABE0] focus:border-[#26ABE0]"
                        :style="buttonStyle1"
                    >
                        FT
                    </button>
                </div>
            </div>
            <button
                class="flex flex-row p-4 gap-3 justify-center bg-[#26ABE010] rounded-[10px] text-white"
            >
                <img class="w-6 h-6" src="/assets/img/sitemap/Import.svg" />
                <span class="text-[#26ABE0] font-semibold line-[21px]"
                    >Upload Map</span
                >
            </button>
            <hr />
            <div class="grid grid-cols-2 gap-3">
                <button
                    class="p-2 py-3 text-black rounded-[10px] bg-[#1B1F3B04] w-full text-[13px]"
                    @click="dialog1 = false"
                >
                    Cancel
                </button>
                <button
                    class="p-2 py-3 text-white rounded-[10px] bg-[#26ABE0] w-full text-[13px]"
                    @click="dialog1 = false"
                >
                    Create
                </button>
            </div>
        </div>
    </div>

    <div
        class="absolute z-[999] top-[300px] right-32 border rounded-[16px] bg-white p-2 shadow-lg"
        v-if="this.dialognewzone"
    >
        <div class="px-4 py-5 w-80 rounded-lg flex flex-col gap-4">
            <div class="flex flex-row justify-between items-center">
                <p class="text-[17px] text-left font-bold">New Zone</p>
                <button class="p-2" @click="() => (this.dialognewzone = false)">
                    <img class="w-6 h-6" src="/assets/img/sitemap/close.svg" />
                </button>
            </div>
            <div class="flex flex-row justify-center gap-4">
                <button class="p-4 border-2 rounded-[12px] bg-[#1B1F3B10]">
                    <img class="w-6 h-6" src="/assets/img/sitemap/zone.svg" />
                </button>
                <button class="p-4 border-2 rounded-[12px] bg-[#26ABE010]">
                    <img
                        class="w-6 h-6"
                        src="/assets/img/sitemap/brush_tool.svg"
                    />
                </button>
            </div>
            <div class="flex flex-row justify-between gap-3">
                <v-text-field
                    label="Zone Name"
                    variant="solo"
                    hide-details="auto"
                ></v-text-field>
                <button
                    class="bg-[#26ABE0] min-w-[56px] h-14 rounded-[6px] relative"
                >
                    <img
                        class="absolute top-2 right-2"
                        src="/assets/img/sitemap/brush.svg"
                    />
                </button>
            </div>
            <div class="grid col-span-2 relative">
                <select
                    class="focus:outline-none px-4 py-4 rounded-[12px] border border-[#1B1F3B] text-gray-300 text-left font-weight-300 w-full"
                >
                    <option class="w-full">Zone type</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
            <div class="grid grid-cols-2 gap-3">
                <button
                    class="p-2 py-3 text-white rounded-[10px] bg-[#26ABE0] w-full text-[13px]"
                    @click="this.dialognewzone = false"
                >
                    Save
                </button>
                <button
                    class="p-2 py-3 text-black rounded-[10px] bg-[#1B1F3B04] w-full text-[13px]"
                    @click="this.dialognewzone = false"
                >
                    Cancel
                </button>
            </div>
        </div>
    </div>

    <div
        class="absolute z-[999] top-[160px] right-96 border rounded-[16px] bg-white p-2 shadow-lg"
        v-if="false"
    >
        <div class="px-2 py-2 w-80 rounded-lg flex flex-col gap-4">
            <div class="flex flex-row justify-between items-start gap-3">
                <img class="w-6 h-6" src="/assets/img/primary/ruler.svg" />
                <div class="flex flex-col gap-3">
                    <p class="text-[17px] text-left font-bold">
                        Input Scale Reference
                    </p>
                    <p class="text-[#1B1F3B66] text-[13px]">
                        Point 1 and Point 2
                    </p>
                    <div class="grid grid-cols-3 gap-3">
                        <div class="border rounded-[12px] p-1">
                            <input
                                type="text"
                                class="text-[13px] focus:outline-none pl-3"
                                placeholder="0.0m"
                            />
                        </div>
                        <div class="border rounded-[12px] p-1">
                            <input
                                type="text"
                                class="text-[13px] focus:outline-none pl-3"
                                placeholder="FT, M"
                            />
                        </div>
                        <button
                            class="border rounded-[12px] p-1 text-[13px] focus:outline-none bg-activeColor text-white"
                        >
                            Save
                        </button>
                    </div>
                </div>
                <button class="" @click="() => (this.dialognewzone = false)">
                    <img
                        class="w-6 h-6 min-w-[24px] min-h-[24px]"
                        src="/assets/img/sitemap/close.svg"
                    />
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import { defineComponent } from "vue";

import NavbarComponent from "../../components/NavbarComponent.vue";
import menulist from "./menulist.vue";

// import menu from "./menu.json";
import api from "../../utils/api_site";
import toast from "../../utils/toast";

export default defineComponent({
    name: "site",
    components: {
        NavbarComponent,
        menulist,
    },
    data: () => ({
        buttonStyle: {
            borderWidth: "1px !important",
            borderStyle: "solid !important",
        },
        buttonStyle1: {
            borderWidth: "1px !important",
            borderStyle: "solid !important",
            borderColor: "unset !important",
        },
        menu: {},
        scale: 1,
        selectedMap: { id: "" },
        dialog: false,
        dialog1: false,
        dialognewzone: false,
    }),
    mounted() {
        document.addEventListener("mouseup", this.handleMouseUp);
        api.get("/sites", {})
            .then((response) => {
                this.Start(response.data.data);
            })
            .catch((error) => {
                console.log(error);
                if (error.response.status === 422) {
                    for (let x in error.response.data.data) {
                        toast(this, "error", error.response.data.data[x]);
                    }
                    return;
                }
                toast(this, "error", "Server Error");
            });
    },
    beforeDestroy() {
        document.removeEventListener("mouseup", this.handleMouseUp);
    },
    methods: {
        Append(index, first = null, twice = null, third = null, fourth = null) {
            if (fourth !== null) {
            } else if (third !== null) {
                this.menu[index].submenu[first].submenu[twice].submenu[
                    third
                ].append =
                    !this.menu[index].submenu[first].submenu[twice].submenu[
                        third
                    ].append;
            } else if (twice !== null) {
                this.menu[index].submenu[first].submenu[twice].append =
                    !this.menu[index].submenu[first].submenu[twice].append;
            } else if (first !== null) {
                this.menu[index].submenu[first].append =
                    !this.menu[index].submenu[first].append;
            } else {
                this.menu[index].append = !this.menu[index].append;
            }
        },
        SelectMap(index, first, twice) {
            this.selectedMap = this.menu[index].submenu[first].submenu[twice];
            this.LoadMap(index, first, twice);
        },
        LoadMap(index, first, twice) {},
        Start(data) {
            const array = [];
            for (let i = 0; i < data.length; i++) {
                const element = data[i];

                const _id = element._id;
                const name = element.name;
                const level = element.level;
                const parentid = element.parentid;

                // console.log(i, _id, level, parentid);

                if (level === 0) {
                    array.push({
                        id: _id,
                        name: name,
                        level: level,
                        append: false,
                        submenu: [],
                    });
                } else {
                    let flag = false;
                    let object = null;
                    for (let i = 0; i < array.length; i++) {
                        const element = array[i];
                        // console.log(element.level, element.id);
                        if (element.id === parentid && level > element.level) {
                            object = element;
                            flag = true;
                            break;
                        }
                        for (let j = 0; j < element.submenu.length; j++) {
                            const element1 = element.submenu[j];
                            // console.log(element1.level, element1.id);
                            if (
                                element1.id === parentid &&
                                level > element1.level
                            ) {
                                object = element1;
                                flag = true;
                                break;
                            }
                            for (let k = 0; k < element1.submenu.length; k++) {
                                const element2 = element1.submenu[k];
                                // console.log(element2.level, element2.id);
                                if (
                                    element2.id === parentid &&
                                    level > element2.level
                                ) {
                                    object = element2;
                                    flag = true;
                                    break;
                                }
                                for (
                                    let l = 0;
                                    l < element2.submenu.length;
                                    l++
                                ) {
                                    const element3 = element2.submenu[l];
                                    // console.log(element3.level, element3.id);
                                    if (
                                        element3.id === parentid &&
                                        level > element3.level
                                    ) {
                                        object = element3;
                                        flag = true;
                                        break;
                                    }
                                }
                                if (flag) break;
                            }
                            if (flag) break;
                        }
                        if (flag) break;
                    }
                    if (object !== null) {
                        object.submenu.push({
                            id: _id,
                            name: name,
                            level: level,
                            append: false,
                            submenu: [],
                        });
                    } else {
                        console.log("error:", _id, level, parentid);
                    }
                }
            }
            // console.log(array);
            this.menu = array;
        },
        updateDialogShow(id) {
            console.log(id);
        },
    },
});
</script>

<style>
.IconButton {
    @apply rounded-2xl;
}
.IconButton:hover {
    @apply bg-layouthoverColor;
}
.v-btn--size-default {
    min-width: auto;
}
/* .v-field__input {
    padding-top: 12px;
    padding-bottom: 12px;
} */
.v-card-title {
    font-size: 17px;
}
.border {
    border-width: 1px !important;
    border-style: solid !important;
}
.v-field {
    @apply border border-[#1B1F3B19] rounded-[12px];
}
</style>
