<template>
    <!-- menu list -->
    <div class="flex flex-col mt-[24px] text-menuTextColor">
        <template v-for="(item, index) in menu">
            <div class="flex flex-col">
                <!-- main menu TITLE -->
                <menuitem
                    :Append="() => Append(index)"
                    :subitem="item"
                    class1="text-menuIconColor"
                    class2="text-menuIconColor"
                    imgSrc="/assets/icons/menu1.svg"
                    :updateDialogShow="updateDialogShow"
                />
                <!-- sub menu list -->
                <div
                    v-if="item.append"
                    class="ml-7 flex flex-col border-l-[1px] border-menuIconColor border-dashed"
                >
                    <template v-for="(subitem, childindex) in item.submenu">
                        <!-- twice menu title -->
                        <menuitem
                            :Append="() => Append(index, childindex)"
                            :subitem="subitem"
                            class1="text-menuIconColor"
                            class2="text-menuIconColor"
                            imgSrc="/assets/icons/menu2.svg"
                            :updateDialogShow="updateDialogShow"
                        />
                        <!-- sub menu list -->
                        <div
                            v-if="subitem.append"
                            class="ml-7 flex flex-col border-l-[1px] border-menuIconColor border-dashed"
                        >
                            <template
                                v-for="(
                                    grandsubitem, grandchildindex
                                ) in subitem.submenu"
                            >
                                <!-- twice menu title -->
                                <div
                                    class="flex items-center gap-[12px] px-5 py-3 hover:bg-gray-100"
                                >
                                    <div
                                        class="cursor-pointer"
                                        @click="
                                            this.Append(
                                                index,
                                                childindex,
                                                grandchildindex
                                            )
                                        "
                                    >
                                        <BIconCaretRightFill
                                            v-if="!grandsubitem.append"
                                            :class="{
                                                'text-menuIconColor':
                                                    grandsubitem.id !==
                                                    this.selectedMapID,
                                                'text-activeColor':
                                                    grandsubitem.id ===
                                                    this.selectedMapID,
                                            }"
                                        />
                                        <BIconCaretDownFill
                                            v-else
                                            :class="{
                                                'text-menuIconColor':
                                                    grandsubitem.id !==
                                                    this.selectedMapID,
                                                'text-activeColor':
                                                    grandsubitem.id ===
                                                    this.selectedMapID,
                                            }"
                                        />
                                    </div>
                                    <div
                                        class="flex items-center gap-[7px] cursor-pointer"
                                        @click="
                                            this.SelectMap(
                                                index,
                                                childindex,
                                                grandchildindex
                                            )
                                        "
                                    >
                                        <img
                                            :src="
                                                grandsubitem.id ===
                                                this.selectedMapID
                                                    ? '/assets/icons/menu3-active.svg'
                                                    : '/assets/icons/menu3.svg'
                                            "
                                        />
                                        <p
                                            class="text-[13px]"
                                            :class="{
                                                'text-activeColor':
                                                    grandsubitem.id ===
                                                    this.selectedMapID,
                                            }"
                                        >
                                            {{ grandsubitem.name }}
                                        </p>
                                    </div>
                                </div>
                                <!-- sub menu list -->
                                <div
                                    v-if="grandsubitem.append"
                                    class="ml-7 flex flex-col border-l-[1px] border-menuIconColor border-dashed"
                                >
                                    <template
                                        v-for="(
                                            zoneGroupitem, zoneGroupchildindex
                                        ) in grandsubitem.submenu.filter(
                                            (obj) => obj.level === 3
                                        )"
                                    >
                                        <menuitem
                                            :Append="
                                                () =>
                                                    Append(
                                                        index,
                                                        childindex,
                                                        grandchildindex,
                                                        zoneGroupchildindex
                                                    )
                                            "
                                            :SelectMap="
                                                () =>
                                                    this.SelectMap(
                                                        index,
                                                        childindex,
                                                        grandchildindex
                                                    )
                                            "
                                            :subitem="zoneGroupitem"
                                            class1="text-menuIconColor"
                                            class2="text-menuIconColor"
                                            imgSrc="/assets/icons/zonegroup.svg"
                                        />
                                        <!-- sub menu list -->
                                        <div
                                            v-if="zoneGroupitem.append"
                                            class="ml-7 flex flex-col border-l-[1px] border-menuIconColor border-dashed"
                                        >
                                            <template
                                                v-for="(
                                                    zoneitem, zonechildindex
                                                ) in zoneGroupitem.submenu.filter(
                                                    (obj) => obj.level === 4
                                                )"
                                            >
                                                <div
                                                    class="flex items-center gap-[12px] px-5 py-3 hover:bg-gray-100"
                                                >
                                                    <div
                                                        class="flex items-center gap-[7px]"
                                                        @click="
                                                            this.SelectMap(
                                                                index,
                                                                childindex,
                                                                grandchildindex
                                                            )
                                                        "
                                                    >
                                                        <img
                                                            src="/assets/icons/zone.svg"
                                                        />
                                                        <p class="text-[13px]">
                                                            {{ zoneitem.name }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </template>
                                        </div>
                                    </template>
                                    <template
                                        v-for="(
                                            zoneitem, zonechildindex
                                        ) in grandsubitem.submenu.filter(
                                            (obj) => obj.level === 4
                                        )"
                                    >
                                        <div
                                            class="flex items-center gap-[12px] hover:bg-gray-100"
                                        >
                                            <div
                                                class="flex items-center gap-[7px]"
                                            >
                                                <img
                                                    src="/assets/icons/zone.svg"
                                                />
                                                <p class="text-[13px]">
                                                    {{ zoneitem.name }}
                                                </p>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </template>
                        </div>
                    </template>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
import {
    BIconArrowRepeat,
    BIconCaretDownFill,
    BIconCaretUpFill,
    BIconCaretRightFill,
    BIconChevronLeft,
    BIconChevronDown,
} from "bootstrap-icons-vue";

import menuitem from "./menuitem.vue";

export default {
    props: {
        menu: {
            type: Object,
            required: true,
        },
        Append: {
            type: Function,
            required: true,
        },
        SelectMap: {
            type: Function,
            required: true,
        },
        selectedMapID: {
            type: String,
            required: true,
        },

        updateDialogShow: {
            type: Function,
            required: true,
        },
    },
    components: {
        BIconArrowRepeat,
        BIconCaretRightFill,
        BIconCaretDownFill,
        BIconChevronLeft,
        BIconChevronDown,
        BIconCaretUpFill,

        menuitem,
    },
};
</script>
