<template>
    <div
        class="flex items-center gap-[12px] relative px-5 py-3 hover:bg-gray-100"
        @mouseenter="showOption"
        @mouseleave="hideOption"
    >
        <div class="cursor-pointer" @click="this.Append">
            <BIconCaretRightFill
                v-if="!this.subitem.append"
                :class="this.class1"
            />
            <BIconCaretDownFill v-else :class="this.class2" />
        </div>
        <div
            class="flex items-center gap-[7px]"
            @click="this.SelectMap && this.SelectMap"
        >
            <img :src="this.imgSrc" :class="this.class3 && this.class3" />
            <p class="text-[13px]">
                {{ this.subitem.name }}
            </p>
        </div>
        <div class="absolute right-0 flex flex-row gap-0" v-if="isShow">
            <button
                class="p-2.5 rounded-lg flex items-center"
                @click="
                    () =>
                        this.subitem.level === 1 &&
                        updateDialogShow(this.subitem.id)
                "
            >
                <img
                    src="/assets/img/primary/plus.svg"
                    class="w-4 h-4 min-w-[16px] min-h-[16px]"
                />
            </button>
            <button class="p-2.5 rounded-lg">
                <img
                    src="/assets/img/menu/delete.svg"
                    class="w-4 h-4 min-w-[16px] min-h-[16px]"
                />
            </button>
            <router-link
                class="p-2.5 rounded-lg"
                :to="'/group/edituser/' + this.subitem.id"
                ><img
                    src="/assets/img/menu/edit.svg"
                    class="w-4 h-4 min-w-[16px] min-h-[16px]"
            /></router-link>
        </div>
    </div>
</template>

<script>
import { BIconCaretRightFill, BIconCaretDownFill } from "bootstrap-icons-vue";
export default {
    props: {
        Append: {
            type: Function,
            required: true,
        },
        SelectMap: {
            type: Function,
        },
        subitem: {
            type: Object,
            required: true,
        },
        class1: {
            type: String,
            required: true,
        },
        class2: {
            type: String,
            required: true,
        },
        class3: {
            type: String,
        },
        imgSrc: {
            type: String,
            required: true,
        },
        updateDialogShow: {
            type: Function,
            required: true,
        },
    },
    data: () => ({
        isShow: false,
    }),
    components: {
        BIconCaretDownFill,
        BIconCaretRightFill,
    },
    methods: {
        showOption() {
            if (this.subitem.level >= 2) return;
            this.isShow = true;
        },
        hideOption() {
            if (this.subitem.level >= 2) return;
            this.isShow = false;
        },
    },
};
</script>
