<template>
    <div class="flex flex-col gap-2">
        <div class="flex flex-row justify-between items-center">
            <div class="flex flex-row gap-5 items-center">
                <p>Site Name</p>
                <p
                    class="bg-[#26ABE018] text-[#26ABE0] rounded-lg px-3 py-1 text-sm"
                >
                    24 objects
                </p>
            </div>
            <div>
                <p class="text-[#26ABE0]">Change object</p>
            </div>
        </div>
        <div class="flex flex-row gap-3 justify-between accessOption">
            <button
                class="text-[#1B1F3B59] border border-[#1B1F3B59] active flex flex-row justify-start gap-3 rounded-lg px-3 py-2 items-center w-full"
            >
                <BIconCheck2 />
                <p>View/Edit</p>
            </button>
            <button
                class="text-[#1B1F3B59] border border-[#1B1F3B59] flex flex-row gap-3 rounded-lg px-3 py-2 items-center w-full"
            >
                <BIconEye />
                <p>View</p>
            </button>
            <button
                class="text-[#1B1F3B59] border border-[#1B1F3B59] flex flex-row gap-3 rounded-lg px-3 py-2 items-center w-full"
            >
                <BIconXLg />
                <p>No Access</p>
            </button>
        </div>
    </div>
</template>

<script>
import { BIconCheck2, BIconEye, BIconXLg } from "bootstrap-icons-vue";
export default {
    components: {
        BIconCheck2,
        BIconEye,
        BIconXLg,
    },
};
</script>

<style>
.accessOption > .active {
    @apply text-[#26ABE0] border border-[#26ABE0];
}
svg {
    margin: 0px !important;
}
</style>
