<template>
    <div class="w-full">
        <table class="w-full relative alertTable">
            <thead>
                <th>
                    <input type="checkbox" @change="ChangeAllCheckBox" />
                </th>
                <template
                    v-for="(head, index) in this.table.thead.filter((obj) => {
                        return !this.hideColumns.includes(obj.id);
                    })"
                    :key="head.id"
                >
                    <th class="relative">
                        <div
                            class="flex justify-center items-center gap-3 cursor-pointer"
                            @click="(e) => ToggleSortDialogNumber(e, index)"
                        >
                            {{ head.name }}<BIconFilter />
                        </div>
                        <SortDialogField
                            :columnNumber="index"
                            :SortAscending="SortAscending"
                            :SortDecending="SortDecending"
                            :HideColumn="HideColumn"
                            v-if="this.sortDialogNumber === index"
                        />
                    </th>
                </template>
            </thead>
            <tbody>
                <AlertsDatatableTR
                    v-for="(alert, index) in this.table.tbody"
                    :hideColumns="this.hideColumns"
                    :head="this.table.thead"
                    :key="alert._id"
                    :id="alert._id"
                    :deleteRow="this.deleteRow"
                    :alert="alert"
                />
            </tbody>
        </table>
    </div>
</template>

<script>
import { defineComponent } from "vue";
import AlertsDatatableTR from "./AlertsDatatableTR.vue";
import SortDialogField from "./SortDialogField.vue";

import { BIconFilter } from "bootstrap-icons-vue";

export default defineComponent({
    name: "device",
    data: () => ({
        sortDialogNumber: -1,
    }),
    props: {
        table: {
            type: Object,
            required: true,
        },
        deleteRow: {
            type: Function,
            required: true,
        },
        hideColumns: {
            type: Array,
            required: true,
        },
    },
    components: {
        AlertsDatatableTR,
        SortDialogField,

        BIconFilter,
    },
    methods: {
        ChangeAllCheckBox(event) {
            console.log(event);
        },
        SortAscending(columnNumber) {
            this.sortDialogNumber = -1;
        },
        SortDecending(columnNumber) {
            this.sortDialogNumber = -1;
        },
        HideColumn(columnNumber) {
            this.sortDialogNumber = -1;
        },
        ToggleSortDialogNumber(event, columnNumber) {
            if (this.sortDialogNumber === columnNumber) {
                this.sortDialogNumber = -1;
                return;
            }
            this.sortDialogNumber = columnNumber;
        },
    },
});
</script>

<style>
th {
    color: #26abe0;
    font-weight: 200;
}
thead th {
    /* position: sticky;
  top: 0; */
    background-color: white;
}
.alertTable > thead {
    height: 50px;
    @apply border-y-2;
}
</style>
