<template>
    <tr class="relative">
        <td><input type="checkbox" /></td>
        <td
            v-if="
                this.alert.body.length > 0 &&
                this.head &&
                !this.hideColumns.includes(this.head[0].id)
            "
        >
            <p>{{ this.alert.body[0].date }}</p>
        </td>
        <td
            v-if="
                this.alert.body.length > 1 &&
                this.head &&
                !this.hideColumns.includes(this.head[1].id)
            "
        >
            <div class="flex flex-row items-center justify-center gap-3">
                <img src="/assets/img/User/Error_symbols.svg" />
                <p>{{ this.alert.body[1].alertType }}</p>
            </div>
        </td>
        <td
            v-if="
                this.alert.body.length > 2 &&
                this.head &&
                !this.hideColumns.includes(this.head[2].id)
            "
        >
            <div class="flex flex-row items-center justify-center gap-3">
                <img src="/assets/img/User/Pointer.svg" />
                <p>{{ this.alert.body[2].objectType }}</p>
            </div>
        </td>
        <td
            v-if="
                this.alert.body.length > 3 &&
                this.head &&
                !this.hideColumns.includes(this.head[3].id)
            "
        >
            <p>{{ this.alert.body[3].sitegroup }}</p>
        </td>
        <td
            v-if="
                this.alert.body.length > 4 &&
                this.head &&
                !this.hideColumns.includes(this.head[4].id)
            "
        >
            <p>{{ this.alert.body[4].site }}</p>
        </td>
        <td
            v-if="
                this.alert.body.length > 5 &&
                this.head &&
                !this.hideColumns.includes(this.head[5].id)
            "
        >
            <p>{{ this.alert.body[5].floor }}</p>
        </td>
        <td
            v-if="
                this.alert.body.length > 6 &&
                this.head &&
                !this.hideColumns.includes(this.head[6].id)
            "
        >
            <p>{{ this.alert.body[6].object }}</p>
        </td>
    </tr>
</template>

<script>
import { defineComponent } from "vue";
import {
    BIconCheck2All,
    BIconSlashCircle,
    BIconTrash3,
    BIconPencil,
} from "bootstrap-icons-vue";

export default defineComponent({
    name: "device",
    data: () => ({}),
    props: {
        id: {
            type: String,
            required: true,
        },
        alert: {
            type: Object,
            required: true,
        },
        hideColumns: {
            type: Array,
            required: true,
        },
        head: {
            type: Array,
            required: true,
        },
        deleteRow: {
            type: Function,
            required: true,
        },
    },
    components: {
        BIconCheck2All,
        BIconSlashCircle,
        BIconTrash3,
        BIconPencil,
    },
});
</script>

<style>
td {
    text-align: center;
    color: #1b1f3b;
}
th {
    color: #26abe0;
    font-weight: 200;
    min-width: 30px;
}
tr {
    height: 50px;
    border-color: rgb(229, 231, 235);
    @apply border-y-2;
}
.blockIcon {
    @apply p-2.5 rounded-lg;
    background-color: rgb(247, 221, 199);
    color: #f49d49;
}
.removeIcon {
    @apply p-2.5 rounded-lg;
    background-color: rgb(241, 218, 207);
    color: #f6576f;
}
.editIcon {
    @apply p-2.5 rounded-lg;
    background-color: rgb(209, 209, 243);
    color: #1b1f3b;
}
tr:hover {
    background-color: rgba(27, 31, 59, 0.03);
}
</style>
