<template>
    <div
        :class="`w-4 min-w-[16px] h-4 min-h-[16px] border rounded-md ${getColorClass(
            color
        )}`"
    ></div>
</template>

<script>
export default {
    props: {
        color: {
            type: Number,
            required: true,
        },
    },
    mounted() {},
    methods: {
        getColorClass(color) {
            switch (color) {
                case 0:
                    return "bg-blue-400";
                case 1:
                    return "bg-blue-200";
                case 2:
                    return "bg-purple-400";
                case 3:
                    return "bg-purple-200";
                case 4:
                    return "bg-yellow-400";
                case 5:
                    return "bg-yellow-200";
                case 6:
                    return "bg-red-400";
                case 7:
                    return "bg-red-200";
                case 8:
                    return "bg-green-400";
                case 9:
                    return "bg-green-200";
                case 10:
                    return "bg-gray-400";
                case 11:
                    return "bg-gray-200";
                default:
                    return "";
            }
        },
    },
};
</script>
