<template>
    <div class="flex flex-col">
        <p class="font-bold text-base">Role Color</p>
        <p class="text-sm text-[#1B1F3B64]">
            Members use the color of the higest role they have on the roles list
        </p>
        <div class="flex flex-row gap-5">
            <div
                :class="this.colors[this.current] + ' rounded-lg relative w-40'"
            >
                <BIconEyedropper class="absolute top-3 right-3 text-white" />
            </div>
            <div class="grid grid-cols-6 gap-2 w-full">
                <div
                    v-for="(color, index) in colors"
                    :class="this.colors[index] + ' w-8 h-8 rounded-lg'"
                    @click="(e) => Update(index)"
                ></div>
            </div>
        </div>
    </div>
</template>

<script>
import { BIconEyedropper } from "bootstrap-icons-vue";
export default {
    data: () => ({
        current: 0,
        colors: [
            "bg-blue-400",
            "bg-blue-200",
            "bg-purple-400",
            "bg-purple-200",
            "bg-yellow-400",
            "bg-yellow-200",
            "bg-red-400",
            "bg-red-200",
            "bg-green-400",
            "bg-green-200",
            "bg-gray-400",
            "bg-gray-200",
        ],
    }),
    props: {
        rolecolor: {
            type: Number,
        },
        UpdateColor: {
            type: Function,
            required: true,
        },
    },
    mounted() {
        this.current = this.rolecolor;
    },
    watch: {
        rolecolor(newVal, oldVal) {
            this.current = this.rolecolor;
        },
    },
    components: {
        BIconEyedropper,
    },
    methods: {
        Update(color) {
            this.current = color;
            this.UpdateColor(color);
        },
    },
};
</script>
<style></style>
