<!-- FormPassword.vue -->
<template>
    <div>
        <div :class="['form-group', { 'is-invalid': !!error }]">
            <BIconPerson draggable="false" />
            <input
                :type="type"
                class="form-control"
                :placeholder="placeholder"
                v-model="inputValue"
                @input="$emit('validate')"
                draggable="false"
                @focus="isActive = true"
                @blur="isActive = false"
            />
            <BIconXLg @click="closeInput" />
        </div>
        <p class="errors" v-if="!!error">{{ error }}</p>
    </div>
</template>

<script>
import { BIconPerson, BIconEye, BIconXLg } from "bootstrap-icons-vue";

export default {
    components: {
        BIconPerson,
        BIconEye,
        BIconXLg,
    },
    props: {
        type: {
            type: String,
            default: "text",
        },
        placeholder: {
            type: String,
            default: "",
        },
        value: {
            type: String,
            default: "",
        },
        error: {
            type: String,
            default: "",
        },
        onBlur: {
            type: Function,
            default: () => {},
        },
        onKeypress: {
            type: Function,
            default: () => {},
        },
    },
    data: () => ({
        isActive: false,
        isShow: false,
    }),
    computed: {
        inputValue: {
            get() {
                return this.value;
            },
            set(newValue) {
                console.log(newValue);
                this.$emit("update:value", newValue);
            },
        },
    },
    methods: {
        closeInput() {
            this.$emit("update:value", "");
        },
    },
};
</script>

<style scoped>
.errors {
    color: red;
}
.form-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    gap: 10px;
}
.form-group:hover {
    border-color: #26abe04c;
}
.form-group:hover svg {
    color: #26abe04c;
}
.form-group.active {
    border-color: #26abe0 !important;
    color: #26abe0 !important;
}
.form-group.active svg {
    color: #26abe0 !important;
}
.form-group input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
}
.form-group .icon {
    color: gray;
}
.form-group svg {
    color: gray;
}
.form-group .icon:first {
    margin-right: 10px;
}
.is-invalid {
    border-color: red;
}
</style>
