<!-- FormInput.vue -->
<template>
    <v-text-field
        v-model="email"
        :rules="[rules.required, rules.email]"
        label="E-mail"
        prepend-inner-icon="user-account"
        variant="solo"
    ></v-text-field>
</template>

<script>
export default {
    components: {},
    props: {
        value: {
            type: String,
        },
    },
    data: () => ({
        rules: {
            required: (value) => !!value || "Required.",
            counter: (value) => value.length <= 20 || "Max 20 characters",
            email: (value) => {
                const pattern =
                    /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return pattern.test(value) || "Invalid e-mail.";
            },
        },
    }),
    computed: {
        email: {
            get() {
                return this.value;
            },
            set(newValue) {
                this.$emit("update:value", newValue);
            },
        },
    },
    methods: {},
};
</script>

<style>
.user-account {
    background-image: url("assets/img/login/user.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.v-field {
    @apply border border-[#1B1F3B19] rounded-[12px];
}
.v-field--active {
    @apply border-2 border-[#26ABE04C] bg-white;
}
.v-field__overlay {
    opacity: 0.04 !important;
}
</style>
