<!-- FormPassword.vue -->
<template>
    <v-text-field
        v-model="inputValue"
        :rules="[rules.required, rules.counter]"
        prepend-inner-icon="user-lock"
        :append-inner-icon="marker ? 'user-eye' : 'user-eye-off'"
        variant="solo"
        clear-icon="user-clear"
        clearable
        label="Password"
        :type="marker ? 'password' : 'text'"
        @click:append-inner="toggleMarker"
        @click:clear="clearMessage"
    ></v-text-field>
</template>

<script>
import { BIconPerson, BIconEye, BIconXLg } from "bootstrap-icons-vue";

export default {
    components: {
        BIconPerson,
        BIconEye,
        BIconXLg,
    },
    props: {
        value: {
            type: String,
            default: "",
        },
    },
    data: () => ({
        marker: true,
        iconIndex: 0,
        icons: [
            "mdi-emoticon",
            "mdi-emoticon-cool",
            "mdi-emoticon-dead",
            "mdi-emoticon-excited",
            "mdi-emoticon-happy",
            "mdi-emoticon-neutral",
            "mdi-emoticon-sad",
            "mdi-emoticon-tongue",
        ],
        rules: {
            required: (value) => !!value || "Required.",
            counter: (value) => {
                if (value.length >= 20) return "Max 20 characters";
                else if (value.length <= 4) return "Min 4 characters";
                return true;
            },
            email: (value) => {
                const pattern =
                    /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return pattern.test(value) || "Invalid e-mail.";
            },
        },
    }),
    computed: {
        icon() {
            return this.icons[this.iconIndex];
        },
        inputValue: {
            get() {
                return this.value;
            },
            set(newValue) {
                this.$emit("update:value", newValue);
            },
        },
    },
    methods: {
        toggleMarker() {
            this.marker = !this.marker;
        },
        sendMessage() {
            this.resetIcon();
            this.clearMessage();
        },
        clearMessage() {
            this.message = "";
        },
        resetIcon() {
            this.iconIndex = 0;
        },
        changeIcon() {
            this.iconIndex === this.icons.length - 1
                ? (this.iconIndex = 0)
                : this.iconIndex++;
        },
    },
};
</script>

<style>
.user-lock {
    background-image: url("assets/img/login/lock.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.user-eye {
    background-image: url("assets/img/login/eye.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.user-eye-off {
    background-image: url("assets/img/login/eye.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.user-clear {
    background-image: url("assets/img/login/clear.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
</style>
