<template>
    <div
        class="p-3 flex gap-3 items-center rounded-lg bg-[#1b1f3b08] text-[#26ABE0]"
        @click="toggleClick"
    >
        <img class="w-6 h-6" src="/assets/img/primary/plus.svg" />
    </div>
</template>

<script>
export default {
    props: {
        toggleClick: {
            type: Function,
        },
    },
    components: {},
};
</script>

<style></style>
