<template>
    <div class="p-3 flex gap-3 items-center rounded-lg bg-[#1b1f3b08]">
        <div class="w-4 h-4 bg-blue border bg-blue-400 rounded-md"></div>
        <p>CEO</p>
    </div>
</template>

<script></script>

<style></style>
