<template>
    <div class="flex flex-col gap-2">
        <p class="font-bold text-base">{{ this.fieldname }}</p>
        <div class="form-group">
            <slot></slot>
            <input
                :type="type"
                :placeholder="placeholder"
                v-model="inputValue"
                @input="$emit('validate')"
                class="rounded-lg w-full px-2 py-2"
                placeholder="Ivan"
            />
        </div>
    </div>
</template>

<script>
export default {
    components: {},
    props: {
        type: {
            type: String,
            default: "text",
        },
        fieldname: {
            type: String,
            default: "",
        },
        placeholder: {
            type: String,
            default: "",
        },
        value: {
            type: String,
            default: "",
        },
    },
    data: () => ({
        isShow: false,
    }),
    computed: {
        inputValue: {
            get() {
                return this.value;
            },
            set(newValue) {
                this.$emit("update:value", newValue);
            },
        },
    },
};
</script>

<style>
.form-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 10px;
    gap: 0px;
}

.form-group input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
}
.form-group .icon {
    color: gray;
}

.form-group svg {
    color: gray;
}

.form-group .icon:first {
    margin-right: 10px;
}
</style>
