<template>
  <!-- main device -->
  <div class="absolute top-[20px] right-[20px] p-[10px]">
    <BIconCaretDownFill @click="()=>this.this.item.append=!this.item.append" v-if="this.item.antennas.length!=0&&!this.item.append" class="text-menuIconColor"/>
    <BIconCaretUpFill @click="()=>this.item.append=!this.item.append" v-else-if="this.item.antennas.length!=0" class="text-menuIconColor"/>
  </div>
  <div  @mousedown="(event)=>{this.handleMouseDown(event, index)}" class="p-[16px] flex flex-col gap-[6px] cursor-pointer">
    <div class="flex items-center gap-[2px]">
      <img :src="'/assets/icons/'+ this.item.image+'.svg'"  class=""/>
      <div class="flex flex-col gap-[8px] justify-center flex-grow">
        <div class="flex items-center gap-[4px]">
          <p class="leading-none text-[13px] font-bold">
            Device Name
          </p>
          <div class="w-[8px] h-[8px] rounded-full"  :class="{'bg-activeDColor':this.item.pointer.x!=''&&this.item.pointer.y!='','bg-warningDColor':this.item.pointer.x==''||this.item.pointer.y==''}"></div>
        </div>
        <div class="flex items-center gap-2">
          <p class="leading-none text-[13px] text-black font-semibold">
            Id: <span>321</span>
          </p>
          <p v-if="this.item.pointer.x!=''&&this.item.pointer.y!=''" class="font-bold text-[#26ABE0] px-[8px] py-[2px] rounded-[5px] bg-[#26ABE012] bg-opacity-[7%]">
            On map
          </p>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-between gap-[10px]">
      <div class="flex-grow h-[44px] relative">
        <div class="absolute inset-y-0 flex items-center pl-4 h-[32px] w-[40px] rounded-l-[10px] bg-[#1B1F3B] bg-opacity-[3%]">
          X
        </div>
        <input v-model="this.item.pointer.y" type="number" disabled class="w-full h-[32px] rounded-[10px]  opacity-100 border-[1px] border-gray-300 focus:outline-none focus:border-activeColor text-[14px] py-1 pl-[40px]" placeholder="" autocomplete="off">
      </div>
      <div class="flex-grow h-[44px] relative">
        <div class="absolute inset-y-0 flex items-center pl-4 h-[32px] w-[40px] rounded-l-[10px] bg-[#1B1F3B] bg-opacity-[3%]">
          Y
        </div>
        <input v-model="this.item.pointer.x" type="number" disabled class="w-full h-[32px] rounded-[10px]  opacity-100 border-[1px] border-gray-300 focus:outline-none focus:border-activeColor text-[14px] py-1 pl-[40px]" placeholder="" autocomplete="off">
      </div>
    </div>

  </div>
  <!-- light -->
  <div v-if="this.item.antennas.length!=0&&!this.item.append" class="w-full border-t-[1px] flex items-center gap-[4px] pl-[16px] py-[10px]">
    <div v-for="(antenna, aindex) in this.item.antennas" class="w-[18px] h-[18px]  bg-opacity-50 rounded-full" :class="{'bg-activeDColor':antenna.pointer.x!=''&&antenna.pointer.y!='','bg-warningDColor':antenna.pointer.x==''||antenna.pointer.y==''}">
      <div class="w-[18px] h-[16px] rounded-full flex items-center justify-center font-bold text-white text-[15px]" :class="{'bg-activeDColor':antenna.pointer.x!=''&&antenna.pointer.y!='','bg-warningDColor':antenna.pointer.x==''||antenna.pointer.y==''}">
        {{ aindex+1 }}
      </div>
    </div>
  </div>
  <!-- antennas list -->
  <template v-if="this.item.antennas.length==0&&this.item.append" v-for="(antenna, aindex) in this.item.antennas">
    <div @mousedown="(event)=>{this.handleMouseDown(event, index, aindex)}" class="w-full border-t-[1px] py-[16px] px-[16px] flex-col flex gap-[16px] cursor-pointer">
      <div class="flex items-center gap-[16px]">
        <div class="w-[18px] h-[18px]  bg-opacity-50 rounded-full" :class="{'bg-activeDColor':antenna.pointer.x!=''&&antenna.pointer.y!='','bg-warningDColor':antenna.pointer.x==''||antenna.pointer.y==''}">
            <div class="w-[18px] h-[16px] rounded-full flex items-center justify-center font-bold text-white text-[15px]" :class="{'bg-activeDColor':antenna.pointer.x!=''&&antenna.pointer.y!='','bg-warningDColor':antenna.pointer.x==''||antenna.pointer.y==''}">
              {{ aindex+1 }}
            </div>
        </div>
        <p class="font-bold text-[13px]">
          Antenna-{{ aindex+1 }}
        </p>
      </div>
      <div class="flex items-center justify-between gap-[10px]">
        <div class="flex-grow h-[44px] relative">
          <div class="absolute inset-y-0 flex items-center pl-4 h-[32px] w-[40px] rounded-l-[10px] bg-[#1B1F3B] bg-opacity-[3%]">
            X
          </div>
          <input v-model="antenna.pointer.y" type="number" disabled class="w-full h-[32px] rounded-[10px]  opacity-100 border-[1px] border-gray-300 focus:outline-none focus:border-activeColor text-[14px] py-1 pl-[40px]" placeholder="" autocomplete="off">
        </div>
        <div class="flex-grow h-[44px] relative">
          <div class="absolute inset-y-0 flex items-center pl-4 h-[32px] w-[40px] rounded-l-[10px] bg-[#1B1F3B] bg-opacity-[3%]">
            Y
          </div>
          <input v-model="antenna.pointer.x" type="number" disabled class="w-full h-[32px] rounded-[10px]  opacity-100 border-[1px] border-gray-300 focus:outline-none focus:border-activeColor text-[14px] py-1 pl-[40px]" placeholder="" autocomplete="off">
        </div>
      </div>
    </div>
  </template>
</template>

<script>
import { BIconCaretDownFill, BIconCaretUpFill } from 'bootstrap-icons-vue';

export default {
    props: {
        item: Object,
        handleMouseDown: Function
    },
    components: { BIconCaretDownFill, BIconCaretUpFill }
}
</script>