<template>
    <div class="flex flex-row justify-between items-center">
        <div class="flex flex-row gap-2 items-center">
            <img src="/assets/img/User/2.png" width="32" height="32" />
            <p class="text-[#1B1F3BCC]">Paula Mora</p>
            <p class="text-[#1B1F3B66]">id:423311</p>
        </div>
        <div
            class="rounded-lg w-6 h-6 bg-[#A4A5B1] flex items-center justify-center"
        >
            <BIconXLg class="text-white font-bold" />
        </div>
    </div>
</template>

<script>
import { BIconXLg } from "bootstrap-icons-vue";
export default {
    components: {
        BIconXLg,
    },
};
</script>
