<template>
    <ul
        class="flex flex-row justify-between list-none whitespace-nowrap overflow-auto navbar-body"
    >
        <NavbarChildField
            v-for="(tab, index) in this.tabs"
            :selectedTabIndex="selectedTabIndex"
            :setSelectedTab="setSelectedTab"
            :tab="tab"
        />
    </ul>
</template>

<script>
import NavbarChildField from "./NavbarChildField.vue";

export default {
    components: {
        NavbarChildField,
    },
    props: {
        selectedTabIndex: {
            type: Number,
            required: true,
        },
        tabs: {
            type: Object,
            required: true,
        },
        setSelectedTab: {
            type: Function,
            required: true,
        },
    },
    data: () => ({}),
    methods: {},
};
</script>

<style>
ul {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #ccc #f1f1f1;
}
ul::-webkit-scrollbar {
    width: 6px;
}
ul::-webkit-scrollbar-track {
    background: #f1f1f1;
}
ul::-webkit-scrollbar-thumb {
    background-color: rgb(255, 147, 147);
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}
ul::-webkit-scrollbar-thumb:hover {
    background-color: rgb(255, 120, 120);
}
</style>
