<template>
    <!-- header -->
    <div class="w-full p-[24px] flex flex-col gap-[24px]">
        <div class="w-full flex items-center gap-[12px]">
            <!-- back icon -->
            <!-- <button
                        class="flex items-center gap-[15px] px-[20px] h-[44px] border-[1px] rounded-[8px]"
                        @click="goBack"
                    >
                        <BIconChevronLeft />
                        <p class="text-[13px] font-bold">Back</p>
                    </button> -->
            <!-- search bar -->
            <div
                class="flex flex-row gap-3 h-[44px] relative rounded-[10px] border border-gray-300 focus:border-activeColor w-full items-center"
            >
                <img
                    class="w-6 h-6 left-2 ml-3"
                    src="/assets/img/gray/search.svg"
                />
                <input
                    type="text"
                    class="w-full text-[14px] focus:outline-none"
                    placeholder="Search"
                    autocomplete="off"
                />
            </div>
            <!-- notify -->
            <div class="border p-2 rounded-lg">
                <img
                    class="w-6 h-6 min-w-[24px] min-h-[24px]"
                    src="/assets/img/black/bell.svg"
                />
            </div>
            <!-- avatar -->
            <div
                class="relative flex items-center h-[44px] px-[8px] border-[1px] rounded-[8px] gap-[5px]"
            >
                <div
                    class="w-[32px] h-[32px] bg-activeColor rounded-[10px] text-white text-center flex items-center justify-center text-[13px] font-bold"
                >
                    {{
                        this.userAuth
                            ? this.userAuth.firstname[0].toUpperCase() +
                              this.userAuth.lastname[0].toUpperCase()
                            : ""
                    }}
                </div>
                <div class="flex flex-col gap-[1px] justify-center">
                    <p class="leading-none text-[13px] whitespace-nowrap">
                        {{
                            this.userAuth
                                ? this.userAuth.firstname +
                                  " " +
                                  this.userAuth.lastname
                                : ""
                        }}
                    </p>
                    <!-- <p class="leading-none text-[13px] text-menutextColor">
                        Developer
                    </p> -->
                </div>
                <BIconChevronDown
                    class="ml-[28px] cursor-pointer"
                    @click="
                        () => {
                            this.isShow = !this.isShow;
                        }
                    "
                />
                <div
                    class="absolute top-full bg-white rounded-lg border right-0 w-32 flex justify-center items-center"
                    v-if="this.isShow"
                >
                    <button @click="LogOut">Log Out</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { BIconBell, BIconChevronDown } from "bootstrap-icons-vue";
import { mapState } from "vuex";

import { delAuthToken } from "../utils/setAuthtoken";

export default {
    data: () => ({
        isShow: false,
    }),
    computed: {
        ...mapState("auth", {
            userAuth: (state) => state.user,
        }),
    },
    components: {
        BIconBell,
        BIconChevronDown,
    },
    methods: {
        goBack() {
            this.$router.go(-1);
        },
        LogOut: async function () {
            await this.$store.dispatch("auth/logout");
            delAuthToken();
            this.$router.push("/login");
        },
    },
};
</script>

<style></style>
