<template>
    <li class="nav-item" @click="(e) => this.setSelectedTab(this.tab.id)">
        <a
            :class="
                (this.tab.id === selectedTabIndex
                    ? 'text-black font-bold border-b-2 border-b-[#26ABE0]'
                    : '') +
                ' px-3 py-2 flex items-center text-base uppercase font-bold leading-snug text-[#1B1F3B66] hover:opacity-75'
            "
            href="javascript:;"
        >
            <span class="ml-2">{{ this.tab.content }}</span>
        </a>
    </li>
</template>

<script>
export default {
    props: {
        selectedTabIndex: {
            type: Number,
            required: true,
        },
        tab: {
            type: Object,
            required: true,
        },
        setSelectedTab: {
            type: Function,
            required: true,
        },
    },
    methods: {},
};
</script>
