<template>
    <div class="permission_reports">
        <PermissionAccessField
            header="Access to this Tab"
            content="Description what is permission do"
            :access="this.history.access"
            :accessTap="accessToReportTap"
        />
        <div class="px-5 py-3 border border-[#1B1F3B19]">
            <p class="text-[#26ABE0]">Object Event History</p>
        </div>
        <PermissionAccessField
            header="Object Event History"
            content="Description what is permission do"
            :access="this.history.objectsite.access"
            :accessTap="accessToObjectEventTap"
        />
        <div
            class="flex flex-row justify-start items-center px-5 py-3 border border-[#1B1F3B19] gap-3"
        >
            <BIconArrowReturnRight class="text-[#1B1F3B66]" />
            <p class="text-[#1B1F3B66]">Sites</p>
        </div>
        <div
            class="flex flex-row justify-between items-center px-5 py-3 border border-[#1B1F3B19]"
        >
            <div>
                <p class="font-bold">Site Groups</p>
                <p class="text-[#1B1F3B99] text-sm">
                    Description what is permission do
                </p>
            </div>
            <button class="text-white bg-[#26ABE0] p-3 rounded-lg">
                Choose Sites
            </button>
        </div>
        <div
            class="flex flex-row justify-start items-center px-5 py-3 border border-[#1B1F3B19] gap-3"
        >
            <BIconArrowReturnRight class="text-[#1B1F3B66]" />
            <p class="text-[#1B1F3B66]">Object Types</p>
        </div>
        <div
            class="flex flex-row justify-start px-5 py-3 border border-[#1B1F3B19] gap-5"
        >
            <div class="flex flex-col justify-start gap-3 w-[320px]">
                <p class="font-bold">Object Type</p>
                <p class="text-[#1B1F3B99] text-sm">
                    Description what is permission do
                </p>
                <div class="relative flex items-center">
                    <input
                        type="text"
                        class="h-[44px] rounded-[10px] opacity-100 border-[1px] border-gray-300 focus:outline-none focus:border-activeColor text-[14px] py-1 pl-[20px] pr-[40px] w-full"
                        placeholder="Search"
                        autocomplete="off"
                    />
                    <img
                        class="absolute w-6 h-6 right-3 ml-1"
                        src="/assets/img/gray/search.svg"
                    />
                </div>
                <button class="text-white bg-[#26ABE0] p-3 rounded-lg">
                    Add Type
                </button>
            </div>
            <div class="flex flex-col justify-center items-center gap-3 w-full">
                <img
                    class="w-[130px] h-[86px]"
                    src="/assets/img/no_object_selected.svg"
                    v-if="this.history.objectsite.data === null"
                />
                <template v-else>
                    <p class="text-[#1B1F3B66]">Selected Types</p>
                    <div class="flex flex-col w-full gap-3">
                        <SelectedTypeField
                            v-for="object in this.history.objectsite.data"
                            :object="object"
                        />
                    </div>
                </template>
            </div>
        </div>

        <div class="px-5 py-3 border border-[#1B1F3B19]">
            <p class="text-[#26ABE0]">Tag Blink History</p>
        </div>
        <PermissionAccessField
            header="Tag Blink History"
            content="Description what is permission do"
            :access="this.history.tagblinksite.access"
            :accessTap="accessToTagBlinkTap"
        />
        <div
            class="flex flex-row justify-start items-center px-5 py-3 border border-[#1B1F3B19] gap-3"
        >
            <BIconArrowReturnRight class="text-[#1B1F3B66]" />
            <p class="text-[#1B1F3B66]">Sites</p>
        </div>
        <div
            class="flex flex-row justify-between items-center px-5 py-3 border border-[#1B1F3B19]"
        >
            <div>
                <p class="font-bold">Site Groups</p>
                <p class="text-[#1B1F3B99] text-sm">
                    Description what is permission do
                </p>
            </div>
            <button class="text-white bg-[#26ABE0] p-3 rounded-lg">
                Choose Sites
            </button>
        </div>
        <div
            class="flex flex-row justify-start items-center px-5 py-3 border border-[#1B1F3B19] gap-3"
        >
            <BIconArrowReturnRight class="text-[#1B1F3B66]" />
            <p class="text-[#1B1F3B66]">Object Types</p>
        </div>
        <div
            class="flex flex-row justify-start px-5 py-3 border border-[#1B1F3B19] gap-5"
        >
            <div class="flex flex-col justify-start gap-3 w-[320px]">
                <p class="font-bold">Object Type</p>
                <p class="text-[#1B1F3B99] text-sm">
                    Description what is permission do
                </p>
                <div class="relative flex items-center">
                    <input
                        type="text"
                        class="h-[44px] rounded-[10px] opacity-100 border-[1px] border-gray-300 focus:outline-none focus:border-activeColor text-[14px] py-1 pl-[20px] pr-[40px] w-full"
                        placeholder="Search"
                        autocomplete="off"
                    />
                    <img
                        class="absolute w-6 h-6 right-2 ml-1"
                        src="/assets/img/gray/search.svg"
                    />
                </div>
                <button class="text-white bg-[#26ABE0] p-3 rounded-lg">
                    Add Type
                </button>
            </div>
            <div class="flex flex-col justify-center items-center gap-3 w-full">
                <img
                    class="w-[130px] h-[86px]"
                    src="/assets/img/no_object_selected.svg"
                    v-if="this.history.tagblinkobject.data === null"
                />
                <template v-else>
                    <p class="text-[#1B1F3B66]">Selected Types</p>
                    <div class="flex flex-col w-full gap-3">
                        <SelectedTypeField
                            v-for="object in this.history.tagblinkobject.data"
                            :object="object"
                        />
                    </div>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
import SelectedTypeField from "./SelectedTypeField.vue";
import PermissionAccessField from "./PermissionAccessField.vue";

import {
    BIconArrowReturnRight,
    BIconXLg,
    BIconCheckLg,
    BIconEye,
} from "bootstrap-icons-vue";

export default {
    props: {
        history: {
            type: Object,
            required: true,
        },
        updatePermissionHistory: {
            type: Function,
            required: true,
        },
        flag: {
            type: Boolean,
        },
    },
    components: {
        BIconArrowReturnRight,
        BIconXLg,
        BIconCheckLg,
        BIconEye,

        SelectedTypeField,
        PermissionAccessField,
    },
    methods: {
        accessToReportTap(value) {
            this.history.access = value;
            this.updatePermissionHistory(this.history);
        },
        accessToObjectEventTap(value) {
            this.history.objectsite.access = value;
            this.updatePermissionHistory(this.history);
        },
        accessToTagBlinkTap(value) {
            this.history.tagblinksite.access = value;
            this.updatePermissionHistory(this.history);
        },
    },
};
</script>

<style></style>
