<template>
    <div class="permission_reports">
        <PermissionAccessField
            header="Access to this Tab"
            content="Description what is permission do"
            :access="this.alert.access"
            :accessTap="accessToReportTap"
        />
        <div class="px-5 py-3 border border-[#1B1F3B19]">
            <p class="text-[#26ABE0]">Object Alerts</p>
        </div>
        <PermissionAccessField
            header="Object Alerts"
            content="Description what is permission do"
            :access="this.alert.objectalert.access"
            :accessTap="accessToObjectAlertTap"
        />
        <div
            class="flex flex-row justify-start items-center px-5 py-3 border border-[#1B1F3B19] gap-3"
        >
            <BIconArrowReturnRight class="text-[#1B1F3B66]" />
            <p class="text-[#1B1F3B66]">Sites</p>
        </div>
        <div
            class="flex flex-row justify-between items-center px-5 py-3 border border-[#1B1F3B19]"
        >
            <div>
                <p class="font-bold">Site Groups</p>
                <p class="text-[#1B1F3B99] text-sm">
                    Description what is permission do
                </p>
            </div>
            <button class="text-white bg-[#26ABE0] p-3 rounded-lg">
                Choose Sites
            </button>
        </div>
        <div class="px-5 py-3 border border-[#1B1F3B19]">
            <p class="text-[#26ABE0]">System Alerts</p>
        </div>
        <PermissionAccessField
            header="System Alerts"
            content="Description what is permission do"
            :access="this.alert.systemalert.access"
            :accessTap="accessToSystemAlertTap"
        />
        <div
            class="flex flex-row justify-between items-center px-5 py-3 border border-[#1B1F3B19]"
        >
            <div>
                <p class="font-bold">Site Groups</p>
                <p class="text-[#1B1F3B99] text-sm">
                    Description what is permission do
                </p>
            </div>
            <button class="text-white bg-[#26ABE0] p-3 rounded-lg">
                Choose Sites
            </button>
        </div>
    </div>
</template>

<script>
import SelectedTypeField from "./SelectedTypeField.vue";
import PermissionAccessField from "./PermissionAccessField.vue";

import {
    BIconArrowReturnRight,
    BIconXLg,
    BIconCheckLg,
    BIconEye,
} from "bootstrap-icons-vue";

export default {
    props: {
        alert: {
            type: Object,
            required: true,
        },
        updatePermissionAlert: {
            type: Function,
            required: true,
        },
        flag: {
            type: Boolean,
        },
    },
    components: {
        BIconArrowReturnRight,
        BIconXLg,
        BIconCheckLg,
        BIconEye,

        SelectedTypeField,
        PermissionAccessField,
    },
    methods: {
        accessToReportTap(value) {
            this.alert.access = value;
            this.updatePermissionAlert(this.alert);
        },
        accessToObjectAlertTap(value) {
            this.alert.objectalert.access = value;
            this.updatePermissionAlert(this.alert);
        },
        accessToSystemAlertTap(value) {
            this.alert.systemalert.access = value;
            this.updatePermissionAlert(this.alert);
        },
    },
};
</script>

<style></style>
