<template>
    <div class="flex justify-center">
        <BIconXLg v-if="permission === 0" />
        <BIconEye v-if="permission === 1" />
        <BIconCheck2 v-if="permission === 2" />
    </div>
</template>
<script>
import { BIconCheck2, BIconXLg, BIconEye } from "bootstrap-icons-vue";

export default {
    props: {
        permission: {
            type: Number,
            required: true,
        },
    },
    components: {
        BIconCheck2,
        BIconXLg,
        BIconEye,
    },
    methods: {},
};
</script>
