<template>
    <div class="permission_reports">
        <PermissionAccessField
            header="Access to this Tab"
            content="Description what is permission do"
            :access="this.user.access"
            :accessTap="accessToReportTap"
        />
        <div
            class="flex flex-row justify-start items-center px-5 py-3 border border-[#1B1F3B19] gap-3"
        >
            <p class="text-activeColor">Users</p>
        </div>
        <PermissionAccessField
            header="Add User"
            content="Description what is permission do"
            :access="this.user.add"
            :accessTap="accessToAddTap"
        />
        <PermissionAccessField
            header="Edit User"
            content="Description what is permission do"
            :access="this.user.edit"
            :accessTap="accessToEditTap"
        />
        <PermissionAccessField
            header="Delete User"
            content="Description what is permission do"
            :access="this.user.delete"
            :accessTap="accessToDeleteTap"
        />
        <PermissionAccessField
            header="View User"
            content="Description what is permission do"
            :access="this.user.view"
            :accessTap="accessToViewTap"
        />
    </div>
</template>

<script>
import {
    BIconArrowReturnRight,
    BIconXLg,
    BIconCheckLg,
    BIconEye,
} from "bootstrap-icons-vue";

import SelectedTypeField from "./SelectedTypeField.vue";
import PermissionAccessField from "./PermissionAccessField.vue";

export default {
    props: {
        user: {
            type: Object,
            required: true,
        },
        updatePermissionUser: {
            type: Function,
            required: true,
        },
        flag: {
            type: Boolean,
        },
    },
    components: {
        BIconArrowReturnRight,
        BIconXLg,
        BIconCheckLg,
        BIconEye,

        SelectedTypeField,
        PermissionAccessField,
    },
    methods: {
        accessToReportTap(value) {
            this.user.access = value;
            this.updatePermissionUser(this.user);
        },
        accessToAddTap(value) {
            this.user.add = value;
            this.updatePermissionUser(this.user);
        },
        accessToEditTap(value) {
            this.user.edit = value;
            this.updatePermissionUser(this.user);
        },
        accessToDeleteTap(value) {
            this.user.delete = value;
            this.updatePermissionUser(this.user);
        },
        accessToViewTap(value) {
            this.user.view = value;
            this.updatePermissionUser(this.user);
        },
        updateTechnologySource(name, value) {
            this.user[name] = value;
            this.updatePermissionUser(this.user);
        },
    },
};
</script>

<style></style>
