<template>
    <div
        class="border-t border-x rounded-lg flex flex-col gap-5 h-full"
        style="width: calc(100% - 420px)"
    >
        <div class="flex justify-between items-center px-5 pt-5">
            <p class="text-xl font-bold">Permissions</p>
        </div>
        <div class="flex items-start px-5">
            <Navbar
                :selectedTabIndex="selectedTabIndex"
                :tabs="tabs"
                :setSelectedTab="setSelectedTab"
            />
        </div>
        <PermissionReportComponent
            v-if="this.selectedTabIndex === 0"
            :flag="this.flag"
            :reports="this.permission.reports"
            :updatePermissionReport="updatePermissionReport"
        />
        <PermissionLocaliveComponent
            v-if="this.selectedTabIndex === 1"
            :flag="this.flag"
            :locallive="this.permission.locallive"
            :updatePermissionLocalLive="updatePermissionLocalLive"
        />
        <PermissionHistoryComponent
            v-if="this.selectedTabIndex === 2"
            :flag="this.flag"
            :history="this.permission.history"
            :updatePermissionHistory="updatePermissionHistory"
        />
        <PermissionAlertComponent
            v-if="this.selectedTabIndex === 3"
            :flag="this.flag"
            :alert="this.permission.alert"
            :updatePermissionAlert="updatePermissionAlert"
        />
        <PermissionSiteManagerComponent
            v-if="this.selectedTabIndex === 4"
            :flag="this.flag"
            :sitemanager="this.permission.sitemanager"
            :updatePermissionSiteManager="updatePermissionSiteManager"
        />
        <PermissionDeviceManagerComponent
            v-if="this.selectedTabIndex === 5"
            :flag="this.flag"
            :devicemanager="this.permission.devicemanager"
            :updatePermissionDeviceManager="updatePermissionDeviceManager"
        />
        <PermissionRulesManagerComponent
            v-if="this.selectedTabIndex === 6"
            :flag="this.flag"
            :rulesmanager="this.permission.rulesmanager"
            :updatePermissionRulesManager="updatePermissionRulesManager"
        />
        <PermissionAnalyticsComponent
            v-if="this.selectedTabIndex === 7"
            :flag="this.flag"
            :analytics="this.permission.analytics"
            :updatePermissionAnalytics="updatePermissionAnalytics"
        />
        <PermissionUserComponent
            v-if="this.selectedTabIndex === 8"
            :flag="this.flag"
            :user="this.permission.user"
            :updatePermissionUser="updatePermissionUser"
        />
    </div>
</template>

<script>
import PermissionReportComponent from "./PermissionReportComponent.vue";
import PermissionLocaliveComponent from "./PermissionLocaliveComponent.vue";
import PermissionHistoryComponent from "./PermissionHistoryComponent.vue";
import PermissionAlertComponent from "./PermissionAlertComponent.vue";
import PermissionSiteManagerComponent from "./PermissionSiteManagerComponent.vue";
import PermissionDeviceManagerComponent from "./PermissionDeviceManagerComponent.vue";
import PermissionRulesManagerComponent from "./PermissionRulesManagerComponent.vue";
import PermissionAnalyticsComponent from "./PermissionAnalyticsComponent.vue";
import PermissionUserComponent from "./PermissionUserComponent.vue";
import SelectedTypeField from "./SelectedTypeField.vue";
import Navbar from "./Navbar.vue";

import {
    BIconArrowReturnRight,
    BIconXLg,
    BIconCheckLg,
    BIconEye,
} from "bootstrap-icons-vue";

export default {
    props: {
        flag: {
            type: Boolean,
            required: true,
        },
        permission: {
            type: Object,
            required: true,
        },
        updatePermission: {
            type: Function,
            required: true,
        },
    },
    data: () => ({
        selectedTabIndex: 0,
        tabs: [
            {
                content: "Reports",
                id: 0,
            },
            {
                content: "Localive",
                id: 1,
            },
            {
                content: "History",
                id: 2,
            },
            {
                content: "Alert",
                id: 3,
            },
            {
                content: "Site Manager",
                id: 4,
            },
            {
                content: "Device Manager",
                id: 5,
            },
            {
                content: "Rules Manager",
                id: 6,
            },
            {
                content: "Analytics",
                id: 7,
            },
            {
                content: "User",
                id: 8,
            },
            {
                content: "System",
                id: 9,
            },
        ],
    }),
    watch: {
        flag() {},
    },
    components: {
        PermissionReportComponent,
        PermissionLocaliveComponent,
        PermissionHistoryComponent,
        PermissionAlertComponent,
        PermissionSiteManagerComponent,
        PermissionDeviceManagerComponent,
        PermissionRulesManagerComponent,
        PermissionAnalyticsComponent,
        PermissionUserComponent,
        SelectedTypeField,
        Navbar,

        BIconArrowReturnRight,
        BIconXLg,
        BIconCheckLg,
        BIconEye,
    },
    methods: {
        updatePermissionReport(PermissionReport) {
            this.permission.reports = PermissionReport;
            this.updatePermission(this.permission);
        },
        updatePermissionLocalLive(PermissionLocallive) {
            this.permission.locallive = PermissionLocallive;
            this.updatePermission(this.permission);
        },
        updatePermissionHistory(PermissionHistory) {
            this.permission.history = PermissionHistory;
            this.updatePermission(this.permission);
        },
        updatePermissionAlert(PermissionAlert) {
            this.permission.alert = PermissionAlert;
            this.updatePermission(this.permission);
        },
        updatePermissionSiteManager(PermissionSiteManager) {
            this.permission.sitemanager = PermissionSiteManager;
            this.updatePermission(this.permission);
        },
        updatePermissionDeviceManager(PermissionDeviceManager) {
            this.permission.devicemanager = PermissionDeviceManager;
            this.updatePermission(this.permission);
        },
        updatePermissionRulesManager(PermissionRulesManager) {
            this.permission.rulesmanager = PermissionRulesManager;
            this.updatePermission(this.permission);
        },
        updatePermissionAnalytics(PermissionAnalytics) {
            this.permission.analytics = PermissionAnalytics;
            this.updatePermission(this.permission);
        },
        updatePermissionUser(PermissionUser) {
            this.permission.user = PermissionUser;
            this.updatePermission(this.permission);
        },
        setSelectedTab(index) {
            this.selectedTabIndex = index;
        },
    },
};
</script>

<style></style>
