<template>
    <div class="permission_reports">
        <PermissionAccessField
            header="Access to this Tab"
            content="Description what is permission do"
            :access="this.devicemanager.access"
            :accessTap="accessToReportTap"
        />
        <div
            class="flex flex-row justify-start items-center px-5 py-3 border border-[#1B1F3B19] gap-3"
        >
            <BIconArrowReturnRight class="text-[#1B1F3B66]" />
            <p class="text-[#1B1F3B66]">Technologies</p>
        </div>
        <TechnologyField
            :technology="this.devicemanager.devices"
            category=""
            name="BLE"
            :flag="this.flag"
            :updateTechnologySource="this.updateTechnologySource"
        />
        <TechnologyField
            :technology="this.devicemanager.devices"
            category=""
            name="aRFID"
            :flag="this.flag"
            :updateTechnologySource="this.updateTechnologySource"
        />
        <TechnologyField
            :technology="this.devicemanager.devices"
            category=""
            name="UWB"
            :flag="this.flag"
            :updateTechnologySource="this.updateTechnologySource"
        />
        <TechnologyField
            :technology="this.devicemanager.devices"
            category=""
            name="GPS"
            :flag="this.flag"
            :updateTechnologySource="this.updateTechnologySource"
        />
        <TechnologyField
            :technology="this.devicemanager.devices"
            category=""
            name="Lorawan"
            :flag="this.flag"
            :updateTechnologySource="this.updateTechnologySource"
        />
        <TechnologyField
            :technology="this.devicemanager.devices"
            category=""
            name="pRFID"
            :flag="this.flag"
            :updateTechnologySource="this.updateTechnologySource"
        />
    </div>
</template>

<script>
import {
    BIconArrowReturnRight,
    BIconXLg,
    BIconCheckLg,
    BIconEye,
} from "bootstrap-icons-vue";

import SelectedTypeField from "./SelectedTypeField.vue";
import PermissionAccessField from "./PermissionAccessField.vue";
import TechnologyField from "./TechnologyField.vue";

export default {
    props: {
        devicemanager: {
            type: Object,
            required: true,
        },
        updatePermissionDeviceManager: {
            type: Function,
            required: true,
        },
        flag: {
            type: Boolean,
        },
    },
    components: {
        BIconArrowReturnRight,
        BIconXLg,
        BIconCheckLg,
        BIconEye,

        SelectedTypeField,
        PermissionAccessField,
        TechnologyField,
    },
    methods: {
        accessToReportTap(value) {
            this.devicemanager.access = value;
            this.updatePermissionDeviceManager(this.devicemanager);
        },
        updateTechnologySource(category, name, value) {
            const technology = this.devicemanager.devices;

            const obj = technology.find((obj) => obj.pname === name);
            if (obj) {
                obj.pvalue = value;
            } else {
                technology.push({ pname: name, pvalue: value });
            }
            this.updatePermissionDeviceManager(this.devicemanager);
        },
    },
};
</script>

<style></style>
