<template>
    <div class="permission_reports">
        <PermissionAccessField
            header="Access to this Tab"
            content="Description what is permission do"
            :access="this.rulesmanager.access"
            :accessTap="accessToReportTap"
        />
        <TechnologyField1
            name="BLE"
            content="Description what is permission do"
            :pvalue="this.rulesmanager.rules"
            :updateTechnologySource="updateTechnologySource"
        />
    </div>
</template>

<script>
import {
    BIconArrowReturnRight,
    BIconXLg,
    BIconCheckLg,
    BIconEye,
} from "bootstrap-icons-vue";

import SelectedTypeField from "./SelectedTypeField.vue";
import PermissionAccessField from "./PermissionAccessField.vue";
import TechnologyField1 from "./TechnologyField1.vue";

export default {
    props: {
        rulesmanager: {
            type: Object,
            required: true,
        },
        updatePermissionRulesManager: {
            type: Function,
            required: true,
        },
        flag: {
            type: Boolean,
        },
    },
    components: {
        BIconArrowReturnRight,
        BIconXLg,
        BIconCheckLg,
        BIconEye,

        SelectedTypeField,
        PermissionAccessField,
        TechnologyField1,
    },
    methods: {
        accessToReportTap(value) {
            this.rulesmanager.access = value;
            this.updatePermissionRulesManager(this.rulesmanager);
        },
        updateTechnologySource(name, value) {
            this.rulesmanager.rules = value;
            this.updatePermissionRulesManager(this.rulesmanager);
        },
    },
};
</script>

<style></style>
