<template>
    <div
        class="flex flex-row justify-between items-center px-5 py-3 border border-[#1B1F3B19]"
    >
        <div>
            <p class="font-bold">{{ this.header }}</p>
            <p class="text-[#1B1F3B99] text-sm">{{ this.content }}</p>
        </div>
        <div>
            <label class="relative inline-flex items-center cursor-pointer">
                <input
                    type="checkbox"
                    value=""
                    class="sr-only peer"
                    :checked="this.access"
                    @change="updateCheckBox"
                />
                <div
                    class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
                ></div>
            </label>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        header: {
            type: String,
            required: true,
        },
        content: {
            type: String,
            required: true,
        },
        access: {
            type: Boolean,
            required: true,
        },
        accessTap: {
            type: Function,
            required: true,
        },
    },
    methods: {
        updateCheckBox(e) {
            this.accessTap(e.target.checked);
        },
    },
};
</script>

<style></style>
