<template>
    <div class="permission_reports">
        <PermissionAccessField
            header="Access to this Tab"
            content="Description what is permission do"
            :access="this.reports.access"
            :accessTap="accessToReportTap"
        />
        <div class="px-5 py-3 border border-[#1B1F3B19]">
            <p class="text-[#26ABE0]">Object Report</p>
        </div>
        <PermissionAccessField
            header="Object Report"
            content="Description what is permission do"
            :access="this.reports.objectreport.access"
            :accessTap="accessToObjectReport"
        />
        <div
            class="flex flex-row justify-start items-center px-5 py-3 border border-[#1B1F3B19] gap-3"
        >
            <BIconArrowReturnRight class="text-[#1B1F3B66]" />
            <p class="text-[#1B1F3B66]">Object Report</p>
        </div>
        <div
            class="flex flex-row justify-start px-5 py-3 border border-[#1B1F3B19] gap-5"
        >
            <div class="flex flex-col justify-start gap-3 w-[320px]">
                <p class="font-bold">Object Type</p>
                <p class="text-[#1B1F3B99] text-sm">
                    Description what is permission do
                </p>

                <div class="relative flex items-center">
                    <input
                        type="text"
                        class="h-[44px] rounded-[10px] opacity-100 border-[1px] border-gray-300 focus:outline-none focus:border-activeColor text-[14px] py-1 pl-[20px] pr-[40px] w-full"
                        placeholder="Search"
                        autocomplete="off"
                    />
                    <img
                        class="absolute w-6 h-6 right-3 ml-1"
                        src="/assets/img/gray/search.svg"
                    />
                </div>
                <button class="text-white bg-activeColor p-3 rounded-lg">
                    Add Type
                </button>
                <button class="bg-white text-activeColor">Select All</button>
            </div>
            <div class="flex flex-col justify-center items-center gap-3 w-full">
                <img
                    class="w-[130px] h-[86px]"
                    src="/assets/img/no_object_selected.svg"
                    v-if="this.reports.objectreport.object === null"
                />
                <template v-else>
                    <p class="text-[#1B1F3B66]">Selected Types</p>
                    <div class="flex flex-col w-full gap-3">
                        <SelectedTypeField
                            v-for="object in this.reports.objectreport.object"
                            :object="object"
                        />
                    </div>
                </template>
            </div>
        </div>
        <div
            class="flex flex-row justify-start items-center px-5 py-3 border border-[#1B1F3B19] gap-3"
        >
            <BIconArrowReturnRight class="text-[#1B1F3B66]" />
            <p class="text-[#1B1F3B66]">Technology Source</p>
        </div>
        <TechnologyField
            :technology="this.reports.objectreport.technology"
            category="objectreport"
            name="aRFID"
            :flag="this.flag"
            :updateTechnologySource="this.updateTechnologySource"
        />
        <TechnologyField
            :technology="this.reports.objectreport.technology"
            category="objectreport"
            name="BLE"
            :flag="this.flag"
            :updateTechnologySource="this.updateTechnologySource"
        />
        <TechnologyField
            :technology="this.reports.objectreport.technology"
            category="objectreport"
            name="pRFID"
            :flag="this.flag"
            :updateTechnologySource="this.updateTechnologySource"
        />
        <TechnologyField
            :technology="this.reports.objectreport.technology"
            category="objectreport"
            name="GPS"
            :flag="this.flag"
            :updateTechnologySource="this.updateTechnologySource"
        />
        <TechnologyField
            :technology="this.reports.objectreport.technology"
            category="objectreport"
            name="LoraWan"
            :flag="this.flag"
            :updateTechnologySource="this.updateTechnologySource"
        />
        <TechnologyField
            :technology="this.reports.objectreport.technology"
            category="objectreport"
            name="UWB"
            :flag="this.flag"
            :updateTechnologySource="this.updateTechnologySource"
        />
        <div
            class="flex flex-row justify-start items-center px-5 py-3 border border-[#1B1F3B19] gap-3"
        >
            <BIconArrowReturnRight class="text-[#1B1F3B66]" />
            <p class="text-[#1B1F3B66]">Sites</p>
        </div>
        <div
            class="flex flex-row justify-between items-center px-5 py-3 border border-[#1B1F3B19]"
        >
            <div>
                <p class="font-bold">Site Groups</p>
                <p class="text-[#1B1F3B99] text-sm">
                    Description what is permission do
                </p>
            </div>
            <button class="text-white bg-[#26ABE0] p-3 rounded-lg">
                Choose Sites
            </button>
        </div>
        <div
            class="flex flex-row justify-start items-center px-5 py-3 border border-[#1B1F3B19] gap-3"
        >
            <BIconArrowReturnRight class="text-[#1B1F3B66]" />
            <p class="text-[#1B1F3B66]">Tag Report</p>
        </div>
        <PermissionAccessField
            header="Tag Report"
            content="Description what is permission do"
            :access="this.reports.tagreport.access"
            :accessTap="accessToTapReport"
        />
        <div
            class="flex flex-row justify-start px-5 py-3 border border-[#1B1F3B19] gap-5"
        >
            <div class="flex flex-col justify-start gap-3 w-[320px]">
                <p class="font-bold">Object Type</p>
                <p class="text-[#1B1F3B99] text-sm">
                    Description what is permission do
                </p>

                <div class="relative flex items-center">
                    <input
                        type="text"
                        class="h-[44px] rounded-[10px] opacity-100 border-[1px] border-gray-300 focus:outline-none focus:border-activeColor text-[14px] py-1 pl-[20px] pr-[40px] w-full"
                        placeholder="Search"
                        autocomplete="off"
                    />
                    <img
                        class="absolute w-6 h-6 right-3 ml-1"
                        src="/assets/img/gray/search.svg"
                    />
                </div>
                <button class="text-white bg-activeColor p-3 rounded-lg">
                    Add Type
                </button>
                <button class="bg-white text-activeColor">Select All</button>
            </div>
            <div class="flex flex-col justify-center items-center gap-3 w-full">
                <img
                    class="w-[130px] h-[86px]"
                    src="/assets/img/no_object_selected.svg"
                    v-if="this.reports.tagreport.object === null"
                />
                <template v-else>
                    <p class="text-[#1B1F3B66]">Selected Types</p>
                    <div class="flex flex-col w-full gap-3">
                        <SelectedTypeField
                            v-for="object in this.reports.tagreport.object"
                            :object="object"
                        />
                    </div>
                </template>
            </div>
        </div>
        <div
            class="flex flex-row justify-start items-center px-5 py-3 border border-[#1B1F3B19] gap-3"
        >
            <BIconArrowReturnRight class="text-[#1B1F3B66]" />
            <p class="text-[#1B1F3B66]">Technology Source</p>
        </div>
        <TechnologyField
            :technology="this.reports.tagreport.technology"
            category="tagreport"
            name="aRFID"
            :flag="this.flag"
            :updateTechnologySource="this.updateTechnologySource"
        />
        <TechnologyField
            :technology="this.reports.tagreport.technology"
            category="tagreport"
            name="BLE"
            :flag="this.flag"
            :updateTechnologySource="this.updateTechnologySource"
        />
        <TechnologyField
            :technology="this.reports.tagreport.technology"
            category="tagreport"
            name="pRFID"
            :flag="this.flag"
            :updateTechnologySource="this.updateTechnologySource"
        />
        <TechnologyField
            :technology="this.reports.tagreport.technology"
            category="tagreport"
            name="GPS"
            :flag="this.flag"
            :updateTechnologySource="this.updateTechnologySource"
        />
        <TechnologyField
            :technology="this.reports.tagreport.technology"
            category="tagreport"
            name="LoraWan"
            :flag="this.flag"
            :updateTechnologySource="this.updateTechnologySource"
        />
        <TechnologyField
            :technology="this.reports.tagreport.technology"
            category="tagreport"
            name="UWB"
            :flag="this.flag"
            :updateTechnologySource="this.updateTechnologySource"
        />
        <div
            class="flex flex-row justify-start items-center px-5 py-3 border border-[#1B1F3B19] gap-3"
        >
            <BIconArrowReturnRight class="text-[#1B1F3B66]" />
            <p class="text-[#1B1F3B66]">Sites</p>
        </div>
        <div
            class="flex flex-row justify-between items-center px-5 py-3 border border-[#1B1F3B19]"
        >
            <div>
                <p class="font-bold">Site Groups</p>
                <p class="text-[#1B1F3B99] text-sm">
                    Description what is permission do
                </p>
            </div>
            <button class="text-white bg-[#26ABE0] p-3 rounded-lg">
                Choose Sites
            </button>
        </div>
    </div>
</template>

<script>
import {
    BIconArrowReturnRight,
    BIconXLg,
    BIconCheckLg,
    BIconEye,
} from "bootstrap-icons-vue";

import SelectedTypeField from "./SelectedTypeField.vue";
import TechnologyField from "./TechnologyField.vue";
import PermissionAccessField from "./PermissionAccessField.vue";

export default {
    props: {
        reports: {
            type: Object,
            required: true,
        },
        updatePermissionReport: {
            type: Function,
            required: true,
        },
        flag: {
            type: Boolean,
        },
    },
    components: {
        BIconArrowReturnRight,
        BIconXLg,
        BIconCheckLg,
        BIconEye,
        SelectedTypeField,
        TechnologyField,
        TechnologyField,
        PermissionAccessField,
    },
    methods: {
        accessToReportTap(value) {
            this.reports.access = value;
            this.updatePermissionReport(this.reports);
        },
        accessToObjectReport(value) {
            this.reports.objectreport.access = value;
            this.updatePermissionReport(this.reports);
        },
        accessToTapReport(value) {
            this.reports.tagreport.access = value;
            this.updatePermissionReport(this.reports);
        },
        updateTechnologySource(category, name, value) {
            let technology;
            if (category === "objectreport")
                technology = this.reports.objectreport.technology;
            else if (category === "tagreport")
                technology = this.reports.tagreport.technology;

            const obj = technology.find((obj) => obj.pname === name);
            if (obj) {
                obj.pvalue = value;
            } else {
                technology.push({ pname: name, pvalue: value });
            }
            this.updatePermissionReport(this.reports);
        },
    },
};
</script>

<style></style>
