<template>
    <div class="w-full">
        <table class="w-full relative">
            <thead>
                <th>
                    <input type="checkbox" @change="this.selectAllRoles" />
                </th>
                <template
                    v-for="(th, index) in this.table.thead &&
                    this.table.thead.filter((obj) => {
                        return !this.hideColumns.includes(obj.id);
                    })"
                    :key="th.id"
                >
                    <th class="relative" :class="th.class && th.class">
                        {{ th.name }}
                    </th>
                </template>
            </thead>
            <tbody>
                <RolesDatatableTR
                    v-for="(role, index) in this.table.tbody"
                    :hideColumns="this.hideColumns"
                    :head="this.table.thead"
                    :key="role._id"
                    :id="role._id"
                    :deleteRow="this.deleteRow"
                    :role="role"
                />
            </tbody>
        </table>
    </div>
</template>

<script>
import { defineComponent } from "vue";
import RolesDatatableTR from "./RolesDatatableTR.vue";

export default defineComponent({
    name: "device",
    props: {
        table: {
            type: Object,
            required: true,
        },
        deleteRow: {
            type: Function,
            required: true,
        },
        hideColumns: {
            type: Array,
            required: true,
        },
        selectAllRoles: {
            type: Function,
            required: true,
        },
    },
    components: {
        RolesDatatableTR,
    },
});
</script>

<style>
th {
    color: #26abe0;
    font-weight: 200;
}
thead th {
    /* position: sticky;
  top: 0; */
    background-color: white;
}
</style>
