<template>
    <div class="flex items-center gap-2 justify-start pl-3" @click="onClick">
        <ColorField :color="role.color" />
        <p>{{ role.name }}</p>
    </div>
</template>

<script>
import ColorField from "./ColorField.vue";

export default {
    props: {
        role: {
            type: Object,
            required: true,
        },
        selectRole: {
            type: Function,
        },
    },
    mounted() {},
    components: {
        ColorField,
    },
    methods: {
        onClick() {
            if (this.selectRole) {
                this.selectRole(this.role._id);
            }
        },
    },
};
</script>

<style></style>
