<template>
    <tr @mouseenter="showOption" @mouseleave="hideOption">
        <td><input type="checkbox" :checked="this.role.selected" /></td>
        <td
            v-if="
                this.role.body.length > 0 &&
                this.head &&
                !this.hideColumns.includes(this.head[0].id)
            "
        >
            <RoleField :role="this.role.body[0]" />
        </td>
        <td
            v-if="
                this.role.body.length > 1 &&
                this.head &&
                !this.hideColumns.includes(this.head[1].id)
            "
        >
            <p>
                {{
                    this.role.body[1].description.split(" ").length > 3
                        ? this.role.body[1].description
                              .split(" ")
                              .slice(0, 3)
                              .join(" ") + " ..."
                        : this.role.body[1].description
                }}
            </p>
        </td>
        <td
            v-if="
                this.role.body.length > 2 &&
                this.head &&
                !this.hideColumns.includes(this.head[2].id)
            "
        >
            <p>{{ this.role.body[2].count }}</p>
        </td>
        <td
            v-if="
                this.role.body.length > 3 &&
                this.head &&
                !this.hideColumns.includes(this.head[3].id)
            "
        >
            <PermissionField :permission="this.role.body[3].pvalue" />
        </td>
        <td
            v-if="
                this.role.body.length > 4 &&
                this.head &&
                !this.hideColumns.includes(this.head[4].id)
            "
        >
            <PermissionField :permission="this.role.body[4].pvalue" />
        </td>
        <td
            v-if="
                this.role.body.length > 5 &&
                this.head &&
                !this.hideColumns.includes(this.head[5].id)
            "
        >
            <PermissionField :permission="this.role.body[5].pvalue" />
        </td>
        <td
            v-if="
                this.role.body.length > 6 &&
                this.head &&
                !this.hideColumns.includes(this.head[6].id)
            "
        >
            <PermissionField :permission="this.role.body[6].pvalue" />
        </td>
        <td
            v-if="
                this.role.body.length > 7 &&
                this.head &&
                !this.hideColumns.includes(this.head[7].id)
            "
        >
            <PermissionField :permission="this.role.body[7].pvalue" />
        </td>
        <td
            v-if="
                this.role.body.length > 8 &&
                this.head &&
                !this.hideColumns.includes(this.head[8].id)
            "
            class="relative"
        >
            <PermissionField
                :permission="this.role.body[8].pvalue"
                v-if="!isShow"
            />
            <div
                class="absolute top-0 left-0 h-full flex items-center justify-center gap-3 right-5 bg-[#1b1f3b08]"
                v-if="isShow"
            >
                <button
                    class="p-2.5 rounded-lg bg-[#F49D4912] flex items-center"
                >
                    <img
                        src="/assets/img/menu/block.svg"
                        class="w-4 h-4 min-w-[16px] min-h-[16px]"
                    />
                </button>
                <button
                    class="p-2.5 rounded-lg bg-[#F6576F12]"
                    @click="this.deleteRow(this.id)"
                >
                    <img
                        src="/assets/img/menu/delete.svg"
                        class="w-4 h-4 min-w-[16px] min-h-[16px]"
                    />
                </button>
                <router-link
                    class="p-2.5 rounded-lg bg-[#1B1F3B12]"
                    :to="'/group/editrole/' + this.id"
                    ><img
                        src="/assets/img/menu/edit.svg"
                        class="w-4 h-4 min-w-[16px] min-h-[16px]"
                /></router-link>
            </div>
        </td>
    </tr>
</template>

<script>
import { defineComponent } from "vue";
import {
    BIconCheck2,
    BIconSlashCircle,
    BIconTrash3,
    BIconPencil,
    BIconXLg,
    BIconEye,
} from "bootstrap-icons-vue";

import RoleField from "./RoleField.vue";
import PermissionField from "./PermissionField.vue";

export default defineComponent({
    name: "device",
    data: () => ({
        isShow: false,
    }),
    props: {
        role: {
            type: Object,
            required: true,
        },
        id: {
            type: String,
            required: true,
        },
        deleteRow: {
            type: Function,
            required: true,
        },
        hideColumns: {
            type: Array,
            required: true,
        },
        head: {
            type: Array,
            required: true,
        },
    },
    components: {
        BIconCheck2,
        BIconSlashCircle,
        BIconTrash3,
        BIconPencil,
        BIconXLg,
        BIconEye,

        RoleField,
        PermissionField,
    },
    methods: {
        showOption() {
            this.isShow = true;
        },
        hideOption() {
            this.isShow = false;
        },
    },
});
</script>

<style>
td {
    text-align: center;
    color: #1b1f3b;
}
th {
    color: #26abe0;
    font-weight: 200;
    min-width: 30px;
}
tr {
    height: 50px;
    border-color: rgb(229, 231, 235);
    @apply border-y-2;
}
thead {
    height: 50px;
}
td > svg {
    margin: auto;
}
.blockIcon {
    @apply p-2.5 rounded-lg;
    background-color: rgb(247, 221, 199);
    color: #f49d49;
}
.removeIcon {
    @apply p-2.5 rounded-lg;
    background-color: rgb(241, 218, 207);
    color: #f6576f;
}
.editIcon {
    @apply p-2.5 rounded-lg;
    background-color: rgb(209, 209, 243);
    color: #1b1f3b;
}
tr:hover {
    background-color: rgba(27, 31, 59, 0.03);
}
</style>
