<template>
    <div class="relative flex items-center border rounded-lg border-gray-300">
        <input
            type="text"
            class="h-[44px] opacity-100 focus:outline-none text-[14px] py-1 pl-[20px] pr-[40px] w-full"
            placeholder="Search"
            autocomplete="off"
            v-model="inputValue"
        />
        <img
            class="absolute w-6 h-6 right-3 ml-1"
            src="/assets/img/gray/search.svg"
        />
    </div>
</template>

<script>
export default {
    props: {
        value: {
            type: String,
            required: true,
        },
        OnChange: {
            type: Function,
            required: true,
        },
    },
    computed: {
        inputValue: {
            get() {
                return this.value;
            },
            set(newValue) {
                this.OnChange(newValue);
            },
        },
    },
};
</script>
