<template>
    <div class="flex flex-col gap-3 h-60 overflow-y-scroll user-body p-3">
        <div
            class="relative flex items-center border rounded-lg border-gray-300"
        >
            <input
                type="text"
                class="h-[44px] opacity-100 focus:outline-none text-[14px] py-1 pl-[20px] pr-[40px] w-full"
                placeholder="Search"
                autocomplete="off"
            />
            <img
                class="absolute w-6 h-6 right-3 ml-1"
                src="/assets/img/gray/search.svg"
            />
        </div>
        <RoleField
            v-for="(role, index) in data"
            :key="role._id"
            :role="role"
            :selectRole="selectRole"
        />
    </div>
</template>

<script>
import RoleField from "./RoleField.vue";

export default {
    data: () => ({
        data: [],
    }),
    props: {
        roles: {
            type: Array,
            required: true,
        },
        selectRole: {
            type: Function,
            required: true,
        },
    },
    mounted() {
        this.data = this.roles;
    },
    components: {
        RoleField,
    },
    methods: {
        onChange(e) {
            const value = e.target.value;
            this.data = this.roles.filter((item) => {
                if (item.name.includes(value)) return true;
                return false;
            });
        },
    },
};
</script>
