<template>
    <div class="flex flex-row justify-between">
        <div class="flex flex-row gap-3 items-center">
            <img src="/assets/object/Pointer.svg" />
            <p>{{ this.object.pname }}</p>
            <BIconXLg />
        </div>
        <div class="flex flex-row gap-3 items-center">
            <button
                class="text-[#1B1F3B60] border p-3 rounded-lg"
                :class="{ active: this.object.pvalue === 2 }"
            >
                <BIconCheckLg />
            </button>
            <button
                class="text-[#1B1F3B60] border p-3 rounded-lg"
                :class="{ active: this.object.pvalue === 1 }"
            >
                <BIconEye />
            </button>
            <button
                class="text-[#1B1F3B60] border p-3 rounded-lg"
                :class="{ active: this.object.pvalue === 0 }"
            >
                <BIconXLg />
            </button>
        </div>
    </div>
</template>

<script>
import { BIconXLg, BIconCheckLg, BIconEye } from "bootstrap-icons-vue";

export default {
    props: {
        object: {
            type: Object,
            required: true,
        },
    },
    components: {
        BIconXLg,
        BIconEye,
        BIconCheckLg,
    },
};
</script>

<style></style>
