<template>
    <div
        class="absolute top-full left-1/2 transform -translate-x-1/2 flex flex-col w-40 bg-white border border-[#1B1F3B19] z-10 rounded-xl text-black"
    >
        <button
            class="p-2 font-sans hover:font-bold flex flex-row justify-start items-center gap-3"
            @click="this.SortAscending(this.columnNumber)"
        >
            <BIconArrowUp />Sort Ascending
        </button>
        <button
            class="p-2 font-sans hover:font-bold flex flex-row justify-start items-center gap-3"
            @click="this.SortDecending(this.columnNumber)"
        >
            <BIconArrowDown /> Sort Descending
        </button>
        <button
            class="p-2 font-sans hover:font-bold flex flex-row justify-start items-center gap-3"
            @click="this.HideColumn(this.columnNumber)"
        >
            <BIconEyeSlash />Hide Column
        </button>
    </div>
</template>

<script>
import {
    BIconArrowUp,
    BIconArrowDown,
    BIconEyeSlash,
} from "bootstrap-icons-vue";

export default {
    props: {
        columnNumber: {
            type: Number,
            required: true,
        },
        SortAscending: {
            type: Function,
            required: true,
        },
        SortDecending: {
            type: Function,
            required: true,
        },
        HideColumn: {
            type: Function,
            required: true,
        },
    },
    components: {
        BIconArrowUp,
        BIconArrowDown,
        BIconEyeSlash,
    },
    methods: {},
};
</script>
