<template>
    <div
        class="flex flex-row justify-between items-center px-5 py-3 border border-[#1B1F3B19]"
    >
        <div>
            <p class="font-bold">{{ this.name }}</p>
            <p class="text-[#1B1F3B99] text-sm">
                Description what is permission do
            </p>
        </div>
        <div class="flex flex-row gap-3">
            <button
                class="text-[#1B1F3B59] border border-[#1B1F3B59] flex flex-row justify-start gap-3 rounded-lg px-3 py-2 items-center w-full whitespace-nowrap"
                :class="{ active: this.pvalue === 2 }"
                @click="(e) => this.updateTechnology(2)"
            >
                <BIconCheckLg />
                <p>View/Edit</p>
            </button>
            <button
                class="text-[#1B1F3B59] border border-[#1B1F3B59] flex flex-row gap-3 rounded-lg px-3 py-2 items-center w-full whitespace-nowrap"
                :class="{ active: this.pvalue === 1 }"
                @click="(e) => this.updateTechnology(1)"
            >
                <BIconEye />
                <p>View</p>
            </button>
            <button
                class="text-[#1B1F3B59] border border-[#1B1F3B59] flex flex-row gap-3 rounded-lg px-3 py-2 items-center w-full whitespace-nowrap"
                :class="{ active: this.pvalue === 0 }"
                @click="(e) => this.updateTechnology(0)"
            >
                <BIconXLg />
                <p>No Access</p>
            </button>
        </div>
    </div>
</template>

<script>
import { BIconCheckLg, BIconEye, BIconXLg } from "bootstrap-icons-vue";
export default {
    props: {
        name: {
            type: String,
            required: true,
        },
        technology: {
            type: Array,
            required: true,
        },
        updateTechnologySource: {
            type: Function,
            required: true,
        },
        flag: {
            type: Boolean,
        },
        category: {
            type: String,
        },
    },
    data: () => ({
        pvalue: 0,
    }),
    mounted() {
        const obj = this.technology.find((obj) => obj.pname === this.name);
        this.pvalue = obj ? obj.pvalue : 0;
    },
    watch: {
        technology(newValue) {
            const obj = newValue.find((obj) => obj.pname === this.name);
            this.pvalue = obj ? obj.pvalue : 0;
        },
        flag() {
            const obj = this.technology.find((obj) => obj.pname === this.name);
            this.pvalue = obj ? obj.pvalue : 0;
        },
    },
    components: {
        BIconCheckLg,
        BIconXLg,
        BIconEye,
    },
    methods: {
        updateTechnology(value) {
            this.updateTechnologySource(this.category, this.name, value);
        },
    },
};
</script>

<style>
.active {
    @apply text-activeColor border-activeColor;
}
</style>
