<template>
    <tr @mouseenter="showOption" @mouseleave="hideOption">
        <td><input type="checkbox" :checked="this.user.selected" /></td>
        <td
            v-if="
                this.user.body.length > 0 &&
                this.head &&
                !this.hideColumns.includes(this.head[0].id)
            "
        >
            <div class="flex items-center gap-2 justify-start">
                <img src="/assets/img/User/1.png" width="24" height="24" />
                <p>{{ this.user.body[1].username }}</p>
            </div>
        </td>
        <td
            v-if="
                this.user.body.length > 1 &&
                this.head &&
                !this.hideColumns.includes(this.head[1].id)
            "
        >
            <p>{{ this.user.body[2].firstname }}</p>
        </td>
        <td
            v-if="
                this.user.body.length > 2 &&
                this.head &&
                !this.hideColumns.includes(this.head[2].id)
            "
        >
            <p>{{ this.user.body[3].lastname }}</p>
        </td>
        <td
            v-if="
                this.user.body.length > 3 &&
                this.head &&
                !this.hideColumns.includes(this.head[3].id)
            "
        >
            <p>
                {{
                    this.user.body[4].description.split(" ").length > 3
                        ? this.user.body[4].description
                              .split(" ")
                              .slice(0, 3)
                              .join(" ") + " ..."
                        : this.user.body[4].description
                }}
            </p>
        </td>
        <td
            v-if="
                this.user.body.length > 4 &&
                this.head &&
                !this.hideColumns.includes(this.head[4].id)
            "
        >
            <RoleField
                :role="this.user.body[5].briefrole[0]"
                v-if="this.user.body[5].briefrole.length > 0"
            />
        </td>
        <td
            v-if="
                this.user.body.length > 5 &&
                this.head &&
                !this.hideColumns.includes(this.head[5].id)
            "
            class="relative"
        >
            <p v-if="!isShow">
                {{
                    Math.floor(
                        (new Date().getTime() -
                            new Date(this.user.body[6].lastconnect).getTime()) /
                            1000 /
                            60 /
                            60 /
                            24
                    )
                }}
                days
            </p>
            <div
                class="absolute top-0 left-0 h-full flex items-center justify-center gap-3 right-5 bg-[#1b1f3b08]"
                v-if="isShow"
            >
                <button
                    class="p-2.5 rounded-lg bg-[#F49D4912] flex items-center"
                >
                    <img
                        src="/assets/img/menu/block.svg"
                        class="w-4 h-4 min-w-[16px] min-h-[16px]"
                    />
                </button>
                <button
                    class="p-2.5 rounded-lg bg-[#F6576F12]"
                    @click="this.deleteRow(this.id)"
                >
                    <img
                        src="/assets/img/menu/delete.svg"
                        class="w-4 h-4 min-w-[16px] min-h-[16px]"
                    />
                </button>
                <router-link
                    class="p-2.5 rounded-lg bg-[#1B1F3B12]"
                    :to="'/group/edituser/' + this.id"
                    ><img
                        src="/assets/img/menu/edit.svg"
                        class="w-4 h-4 min-w-[16px] min-h-[16px]"
                /></router-link>
            </div>
        </td>
    </tr>
</template>

<!-- :src="
    'http://192.168.126.36:8080/static/' +
    this.user.body[0].photo
" -->

<script>
import { defineComponent } from "vue";
import {
    BIconCheck2All,
    BIconSlashCircle,
    BIconTrash3,
    BIconPencil,
} from "bootstrap-icons-vue";
import RoleField from "./RoleField.vue";

export default defineComponent({
    name: "device",
    data: () => ({
        isShow: false,
    }),
    props: {
        user: {
            type: Object,
            required: true,
        },
        id: {
            type: String,
            required: true,
        },
        deleteRow: {
            type: Function,
            required: true,
        },
        hideColumns: {
            type: Array,
            required: true,
        },
        head: {
            type: Array,
            required: true,
        },
    },
    mounted() {},
    components: {
        BIconCheck2All,
        BIconSlashCircle,
        BIconTrash3,
        BIconPencil,

        RoleField,
    },
    methods: {
        showOption() {
            this.isShow = true;
        },
        hideOption() {
            this.isShow = false;
        },
    },
});
</script>

<style>
td {
    text-align: center;
    color: #1b1f3b;
}
th {
    color: #26abe0;
    font-weight: 200;
    min-width: 30px;
}
tr {
    height: 50px;
    border-color: rgb(229, 231, 235);
    @apply border-y-2;
}
thead {
    height: 50px;
}
tr:hover {
    background-color: rgba(27, 31, 59, 0.03);
}
</style>
