<template>
    <div class="flex flex-row justify-between items-center">
        <div class="flex flex-row justify-start items-center gap-3">
            <p class="text-[28px] font-bold">Device Manager</p>
            <div class="p-2">
                <img class="w-6 h-6" src="/assets/img/view/Tile.svg" />
            </div>
            <div class="p-2">
                <img class="w-6 h-6" src="/assets/img/view/Column.svg" />
            </div>
        </div>
        <div class="flex flex-row justify-end gap-3">
            <div class="relative flex items-center">
                <input
                    type="text"
                    class="h-[44px] rounded-[10px] opacity-100 border-[1px] border-gray-300 focus:outline-none focus:border-activeColor text-[14px] py-1 pl-[20px] pr-[40px] w-full"
                    placeholder="Search"
                    autocomplete="off"
                />
                <img
                    class="absolute w-6 h-6 right-3 ml-1"
                    src="/assets/img/gray/search.svg"
                />
            </div>
            <div class="relative">
                <button
                    class="flex flex-row items-center text-activeColor border border-activeColor rounded-lg py-2 px-4"
                >
                    <p>Filter</p>
                    <img class="w-6 h-6" src="/assets/img/primary/funnel.svg" />
                </button>
            </div>
        </div>
    </div>
    <div></div>
</template>
