<template>
    <div class="w-full flex">
        <!-- side menu bar   -->
        <div class="flex min-h-screen">
            <div
                class="w-[282px] px-[16px] pt-[24px] min-w-[282px] bg-white relative border-x-[1px] overflow-y-hidden"
            >
                <!-- header -->
                <div class="flex items-center justify-between">
                    <p class="text-[28px] font-bold">Site Map</p>
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M8.50512 11.8936L19.4443 11.8936"
                            stroke="#1B1F3B"
                            stroke-width="2"
                            stroke-linecap="round"
                        />
                        <path
                            d="M12.8596 16.6544L8.65836 12.4712C8.34945 12.1636 8.34943 11.6635 8.65832 11.3559L12.8596 7.17203"
                            stroke="#1B1F3B"
                            stroke-opacity="0.8"
                            stroke-width="2"
                            stroke-linecap="round"
                        />
                        <path
                            d="M4 4.41721V18.5829"
                            stroke="#1B1F3B"
                            stroke-width="2"
                            stroke-linecap="round"
                        />
                    </svg>
                </div>
                <!-- search bar -->
                <div class="w-full mt-[12px]">
                    <input
                        type="text"
                        class="w-full h-[44px] rounded-[10px] opacity-100 border-[1px] border-gray-300 focus:outline-none focus:border-activeColor text-[14px] py-1 pl-[16px]"
                        placeholder="Search Site"
                        autocomplete="off"
                    />
                </div>

                <!-- menu list -->
                <div
                    class="flex flex-col gap-[24px] mt-[24px] text-menuTextColor"
                >
                    <template v-for="(item, index) in menu">
                        <div class="flex flex-col">
                            <!-- main menu TITLE -->
                            <div
                                @click="Append(index)"
                                class="flex items-center gap-[12px]"
                            >
                                <BIconCaretRightFill
                                    v-if="!item.append"
                                    class="text-menuIconColor"
                                />
                                <BIconCaretDownFill
                                    v-else
                                    class="text-menuIconColor"
                                />
                                <div class="flex items-center gap-[7px]">
                                    <img
                                        src="/assets/icons/menu1.svg"
                                        class=""
                                    />
                                    <p class="text-[13px]">{{ item.name }}</p>
                                </div>
                            </div>
                            <!-- sub menu list -->
                            <div
                                v-if="item.append"
                                class="ml-[8px] pl-[16px] flex flex-col my-[12px] py-[12px] border-l-[1px] border-menuIconColor border-dashed gap-[24px]"
                            >
                                <template
                                    v-for="(
                                        subitem, childindex
                                    ) in item.submenu"
                                >
                                    <!-- twice menu title -->
                                    <div
                                        @click="Append(index, childindex)"
                                        class="flex items-center gap-[12px]"
                                    >
                                        <BIconCaretRightFill
                                            v-if="!subitem.append"
                                            class="text-menuIconColor"
                                        />
                                        <BIconCaretDownFill
                                            v-else
                                            class="text-menuIconColor"
                                        />
                                        <div
                                            class="flex items-center gap-[7px]"
                                        >
                                            <img
                                                src="/assets/icons/menu2.svg"
                                                class=""
                                            />
                                            <p class="text-[13px]">
                                                {{ subitem.name }}
                                            </p>
                                        </div>
                                    </div>
                                    <!-- sub menu list -->
                                    <div
                                        v-if="subitem.append"
                                        class="ml-[8px] pl-[16px] flex flex-col py-[12px] border-l-[1px] border-menuIconColor border-dashed gap-[24px]"
                                    >
                                        <template
                                            v-for="(
                                                grandsubitem, grandchildindex
                                            ) in subitem.submenu"
                                        >
                                            <!-- twice menu title -->
                                            <div
                                                @click="
                                                    Append(
                                                        index,
                                                        childindex,
                                                        grandchildindex
                                                    )
                                                "
                                                class="flex items-center gap-[12px]"
                                            >
                                                <BIconCaretRightFill
                                                    v-if="!grandsubitem.append"
                                                    class="text-menuIconColor"
                                                />
                                                <BIconCaretDownFill
                                                    v-else
                                                    class="text-menuIconColor"
                                                />
                                                <div
                                                    class="flex items-center gap-[7px]"
                                                >
                                                    <img
                                                        :src="
                                                            !grandsubitem.append
                                                                ? '/assets/icons/menu3.svg'
                                                                : '/assets/icons/menu3-active.svg'
                                                        "
                                                        class=""
                                                    />
                                                    <p
                                                        class="text-[13px]"
                                                        :class="{
                                                            'text-menutextColor':
                                                                !grandsubitem.append,
                                                            'text-activeColor':
                                                                grandsubitem.append,
                                                        }"
                                                    >
                                                        {{ grandsubitem.name }}
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- sub menu list -->
                                            <div
                                                v-if="grandsubitem.append"
                                                class="ml-[8px] pl-[16px] flex flex-col gap-[24px] py-[12px] border-l-[1px] border-menuIconColor border-dashed"
                                            >
                                                <template
                                                    v-for="(
                                                        grandsubitem,
                                                        grandchildindex
                                                    ) in list"
                                                >
                                                    <div
                                                        @click="
                                                            () => {
                                                                isShow = true;
                                                            }
                                                        "
                                                        class="flex items-center gap-[7px] cursor-pointer"
                                                    >
                                                        <img
                                                            src="/assets/icons/menu4.svg"
                                                            class="w-[10px]"
                                                        />
                                                        <p class="text-[13px]">
                                                            BMW
                                                        </p>
                                                    </div>
                                                </template>
                                            </div>
                                        </template>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <div
            class="min-w-980 bg-red w-full min-w-[980px] relative h-full min-h-screen flex-col flex"
            v-if="isShow"
        >
            <!-- header -->
            <NavbarComponent />
            <!-- body -->
            <div class="w-full flex flex-grow">
                <!-- devices list -->
                <div
                    class="w-[300px] px-[24px] pt-[30px] flex flex-col gap-[16px] border-r-[1px]"
                >
                    <div
                        v-for="(item, index) in devices"
                        class="w-full border-[1px] rounded-[12px] relative"
                    >
                        <!-- main device -->
                        <div class="absolute top-[20px] right-[20px] p-[10px]">
                            <BIconCaretDownFill
                                @click="() => (item.append = !item.append)"
                                v-if="item.antennas.length != 0 && !item.append"
                                class="text-menuIconColor"
                            />
                            <BIconCaretUpFill
                                @click="() => (item.append = !item.append)"
                                v-else-if="item.antennas.length != 0"
                                class="text-menuIconColor"
                            />
                        </div>
                        <div
                            @mousedown="
                                (event) => {
                                    handleMouseDown(event, index);
                                }
                            "
                            class="p-[16px] flex flex-col gap-[6px] cursor-pointer"
                        >
                            <div class="flex items-center gap-[2px]">
                                <img
                                    :src="
                                        '/assets/icons/' + item.image + '.svg'
                                    "
                                    class=""
                                />
                                <div
                                    class="flex flex-col gap-[8px] justify-center flex-grow"
                                >
                                    <div class="flex items-center gap-[4px]">
                                        <p
                                            class="leading-none text-[13px] font-bold"
                                        >
                                            Device Name
                                        </p>
                                        <div
                                            class="w-[8px] h-[8px] rounded-full"
                                            :class="{
                                                'bg-activeDColor':
                                                    item.pointer.x != '' &&
                                                    item.pointer.y != '',
                                                'bg-warningDColor':
                                                    item.pointer.x == '' ||
                                                    item.pointer.y == '',
                                            }"
                                        ></div>
                                    </div>
                                    <div class="flex items-center gap-2">
                                        <p
                                            class="leading-none text-[13px] text-black font-semibold"
                                        >
                                            Id: <span>321</span>
                                        </p>
                                        <p
                                            v-if="
                                                item.pointer.x != '' &&
                                                item.pointer.y != ''
                                            "
                                            class="font-bold text-[#26ABE0] px-[8px] py-[2px] rounded-[5px] bg-[#26ABE012] bg-opacity-[7%]"
                                        >
                                            On map
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="flex items-center justify-between gap-[10px]"
                            >
                                <div class="flex-grow h-[44px] relative">
                                    <div
                                        class="absolute inset-y-0 flex items-center pl-4 h-[32px] w-[40px] rounded-l-[10px] bg-[#1B1F3B] bg-opacity-[3%]"
                                    >
                                        X
                                    </div>
                                    <input
                                        v-model="item.pointer.y"
                                        type="number"
                                        disabled
                                        class="w-full h-[32px] rounded-[10px] opacity-100 border-[1px] border-gray-300 focus:outline-none focus:border-activeColor text-[14px] py-1 pl-[40px]"
                                        placeholder=""
                                        autocomplete="off"
                                    />
                                </div>
                                <div class="flex-grow h-[44px] relative">
                                    <div
                                        class="absolute inset-y-0 flex items-center pl-4 h-[32px] w-[40px] rounded-l-[10px] bg-[#1B1F3B] bg-opacity-[3%]"
                                    >
                                        Y
                                    </div>
                                    <input
                                        v-model="item.pointer.x"
                                        type="number"
                                        disabled
                                        class="w-full h-[32px] rounded-[10px] opacity-100 border-[1px] border-gray-300 focus:outline-none focus:border-activeColor text-[14px] py-1 pl-[40px]"
                                        placeholder=""
                                        autocomplete="off"
                                    />
                                </div>
                            </div>
                        </div>
                        <!-- light -->
                        <div
                            v-if="item.antennas.length != 0 && !item.append"
                            class="w-full border-t-[1px] flex items-center gap-[4px] pl-[16px] py-[10px]"
                        >
                            <div
                                v-for="(antenna, aindex) in item.antennas"
                                class="w-[18px] h-[18px] bg-opacity-50 rounded-full"
                                :class="{
                                    'bg-activeDColor':
                                        antenna.pointer.x != '' &&
                                        antenna.pointer.y != '',
                                    'bg-warningDColor':
                                        antenna.pointer.x == '' ||
                                        antenna.pointer.y == '',
                                }"
                            >
                                <div
                                    class="w-[18px] h-[16px] rounded-full flex items-center justify-center font-bold text-white text-[15px]"
                                    :class="{
                                        'bg-activeDColor':
                                            antenna.pointer.x != '' &&
                                            antenna.pointer.y != '',
                                        'bg-warningDColor':
                                            antenna.pointer.x == '' ||
                                            antenna.pointer.y == '',
                                    }"
                                >
                                    {{ aindex + 1 }}
                                </div>
                            </div>
                        </div>
                        <!-- antennas list -->
                        <template
                            v-else
                            v-for="(antenna, aindex) in item.antennas"
                        >
                            <div
                                @mousedown="
                                    (event) => {
                                        handleMouseDown(event, index, aindex);
                                    }
                                "
                                class="w-full border-t-[1px] py-[16px] px-[16px] flex-col flex gap-[16px] cursor-pointer"
                            >
                                <div class="flex items-center gap-[16px]">
                                    <div
                                        class="w-[18px] h-[18px] bg-opacity-50 rounded-full"
                                        :class="{
                                            'bg-activeDColor':
                                                antenna.pointer.x != '' &&
                                                antenna.pointer.y != '',
                                            'bg-warningDColor':
                                                antenna.pointer.x == '' ||
                                                antenna.pointer.y == '',
                                        }"
                                    >
                                        <div
                                            class="w-[18px] h-[16px] rounded-full flex items-center justify-center font-bold text-white text-[15px]"
                                            :class="{
                                                'bg-activeDColor':
                                                    antenna.pointer.x != '' &&
                                                    antenna.pointer.y != '',
                                                'bg-warningDColor':
                                                    antenna.pointer.x == '' ||
                                                    antenna.pointer.y == '',
                                            }"
                                        >
                                            {{ aindex + 1 }}
                                        </div>
                                    </div>
                                    <p class="font-bold text-[13px]">
                                        Antenna-{{ aindex + 1 }}
                                    </p>
                                </div>
                                <div
                                    class="flex items-center justify-between gap-[10px]"
                                >
                                    <div class="flex-grow h-[44px] relative">
                                        <div
                                            class="absolute inset-y-0 flex items-center pl-4 h-[32px] w-[40px] rounded-l-[10px] bg-[#1B1F3B] bg-opacity-[3%]"
                                        >
                                            X
                                        </div>
                                        <input
                                            v-model="antenna.pointer.y"
                                            type="number"
                                            disabled
                                            class="w-full h-[32px] rounded-[10px] opacity-100 border-[1px] border-gray-300 focus:outline-none focus:border-activeColor text-[14px] py-1 pl-[40px]"
                                            placeholder=""
                                            autocomplete="off"
                                        />
                                    </div>
                                    <div class="flex-grow h-[44px] relative">
                                        <div
                                            class="absolute inset-y-0 flex items-center pl-4 h-[32px] w-[40px] rounded-l-[10px] bg-[#1B1F3B] bg-opacity-[3%]"
                                        >
                                            Y
                                        </div>
                                        <input
                                            v-model="antenna.pointer.x"
                                            type="number"
                                            disabled
                                            class="w-full h-[32px] rounded-[10px] opacity-100 border-[1px] border-gray-300 focus:outline-none focus:border-activeColor text-[14px] py-1 pl-[40px]"
                                            placeholder=""
                                            autocomplete="off"
                                        />
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="flex flex-grow">
                    <div
                        ref="container"
                        @mousemove="handleMouseMove"
                        class="w-[655px] h-[616px] relative overflow-hidden"
                    >
                        <div class="w-full h-full z-[991] absolute">
                            <div
                                class="flex justify-between absolute w-full items-start z-[999]"
                            >
                                <div
                                    class="border rounded-2xl m-6 bg-white flex flex-col"
                                >
                                    <button class="p-4 IconButton">
                                        <svg
                                            width="16"
                                            height="16"
                                            viewBox="0 0 16 16"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M14.6663 8.00016C14.6663 11.6821 11.6816 14.6668 7.99967 14.6668M14.6663 8.00016C14.6663 4.31826 11.6816 1.3335 7.99967 1.3335M14.6663 8.00016H1.33301M7.99967 14.6668C4.31778 14.6668 1.33301 11.6821 1.33301 8.00016M7.99967 14.6668C9.66719 12.8413 10.6148 10.4721 10.6663 8.00016C10.6148 5.52818 9.66719 3.15906 7.99967 1.3335M7.99967 14.6668C6.33215 12.8413 5.38451 10.4721 5.33301 8.00016C5.38451 5.52818 6.33215 3.15906 7.99967 1.3335M1.33301 8.00016C1.33301 4.31826 4.31778 1.3335 7.99967 1.3335"
                                                stroke="#1B1F3B"
                                                stroke-opacity="0.8"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </button>
                                    <button class="p-4 IconButton">
                                        <svg
                                            width="14"
                                            height="14"
                                            viewBox="0 0 14 14"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M6.111 2.85142H7.88898M6.111 11.1487H7.88898M2.85136 7.88904L2.85136 6.11106M11.1486 7.88904V6.11106M11.6667 2.33335L2.33332 11.6667M12.3341 11.0598C12.3341 10.356 11.7636 9.78556 11.0599 9.78556C10.3561 9.78556 9.78565 10.356 9.78565 11.0598C9.78565 11.7635 10.3561 12.334 11.0599 12.334C11.7636 12.334 12.3341 11.7635 12.3341 11.0598ZM4.21452 2.94079C4.21452 2.23703 3.64405 1.66656 2.9403 1.66656C2.23655 1.66656 1.66608 2.23703 1.66608 2.94079C1.66608 3.64454 2.23655 4.21501 2.9403 4.21501C3.64405 4.21501 4.21452 3.64454 4.21452 2.94079Z"
                                                stroke="#26ABE0"
                                                stroke-width="1.5"
                                                stroke-miterlimit="10"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </button>
                                </div>
                                <div
                                    class="border rounded-2xl m-6 bg-white flex flex-col"
                                >
                                    <button class="p-4 IconButton">
                                        <svg
                                            width="14"
                                            height="14"
                                            viewBox="0 0 14 14"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M12.9996 13.0001L10.0996 10.1001M6.33301 4.3335V8.3335M4.33301 6.3335H8.33301M11.6667 6.33333C11.6667 9.27885 9.27885 11.6667 6.33333 11.6667C3.38781 11.6667 1 9.27885 1 6.33333C1 3.38781 3.38781 1 6.33333 1C9.27885 1 11.6667 3.38781 11.6667 6.33333Z"
                                                stroke="#1B1F3B"
                                                stroke-opacity="0.8"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </button>
                                    <button class="p-4 IconButton">
                                        <svg
                                            width="14"
                                            height="14"
                                            viewBox="0 0 14 14"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M12.9996 13.0001L10.0996 10.1001M4.33301 6.3335H8.33301M11.6667 6.33333C11.6667 9.27885 9.27885 11.6667 6.33333 11.6667C3.38781 11.6667 1 9.27885 1 6.33333C1 3.38781 3.38781 1 6.33333 1C9.27885 1 11.6667 3.38781 11.6667 6.33333Z"
                                                stroke="#1B1F3B"
                                                stroke-opacity="0.8"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </button>
                                    <button class="p-4 IconButton">
                                        <svg
                                            width="16"
                                            height="16"
                                            viewBox="0 0 16 16"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M13.8135 10.2543H2.18652M5.62721 14.9999L6.81363 10.2542M8 7.88134V3.37291M8 3.37291C8.65526 3.37291 9.18633 2.84184 9.18633 2.18661C9.18633 1.53138 8.65517 1.00018 7.9999 1.00018C7.34467 1.00018 6.81348 1.53138 6.81348 2.18661C6.81348 2.84184 7.34477 3.37291 8 3.37291ZM15 15H1.00012L3.37298 5.50857H12.6271L15 15Z"
                                                stroke="#1B1F3B"
                                                stroke-opacity="0.8"
                                                stroke-width="1.5"
                                                stroke-miterlimit="10"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </button>
                                    <button class="p-4 IconButton">
                                        <svg
                                            width="14"
                                            height="14"
                                            viewBox="0 0 14 14"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M1 6V3C1 1.89543 1.89543 1 3 1H6M13 6V3C13 1.89543 12.1046 1 11 1H8M1 8V11C1 12.1046 1.89543 13 3 13H6M13 8V11C13 12.1046 12.1046 13 11 13H8"
                                                stroke="#1B1F3B"
                                                stroke-opacity="0.8"
                                                stroke-width="1.5"
                                            />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="w-full h-full flex items-center">
                                <img
                                    src="/assets/img/Map.png"
                                    class="w-full z-0"
                                    draggable="false"
                                />
                            </div>
                        </div>
                        <div
                            ref="box"
                            class="bg-white rounded-[5px] p-[5px] absolute z-[999] border-[1px]"
                            :class="{ hidden: !isdown }"
                        >
                            <img
                                :src="
                                    '/assets/icons/' +
                                    (selectAntenna == null
                                        ? devices[selectMain].image
                                        : 'antenna') +
                                    '.svg'
                                "
                            />
                        </div>
                        <template v-for="(item, index) in devices">
                            <div
                                @mousedown="
                                    (event) => {
                                        MaphandleMouseDown(event, index);
                                    }
                                "
                                :ref="'box' + index"
                                class="top-[-100px] bg-white rounded-[5px] p-[5px] absolute z-[1000] border-[1px]"
                                :class="{
                                    hidden:
                                        item.pointer.x == '' ||
                                        item.pointer.y == '',
                                }"
                            >
                                <img
                                    :src="
                                        '/assets/icons/' + item.image + '.svg'
                                    "
                                    draggable="false"
                                />
                            </div>
                            <template
                                v-for="(antenna, aindex) in item.antennas"
                            >
                                <div
                                    @mousedown="
                                        (event) => {
                                            MaphandleMouseDown(
                                                event,
                                                index,
                                                aindex
                                            );
                                        }
                                    "
                                    :ref="'box' + index + 'antennas' + aindex"
                                    class="bg-white rounded-full p-[5px] absolute z-[1000] border-[2px] border-activeColor top-[-100px]"
                                    :class="{
                                        hidden:
                                            antenna.pointer.x == '' ||
                                            antenna.pointer.y == '',
                                    }"
                                >
                                    <img
                                        :src="'/assets/icons/antenna.svg'"
                                        draggable="false"
                                    />
                                    <div
                                        class="absolute top-[-8px] right-[-8px] w-[18px] h-[18px] bg-opacity-50 rounded-full"
                                        :class="{
                                            'bg-activeDColor':
                                                antenna.pointer.x != '' &&
                                                antenna.pointer.y != '',
                                            'bg-warningDColor':
                                                antenna.pointer.x == '' ||
                                                antenna.pointer.y == '',
                                        }"
                                    >
                                        <div
                                            class="w-[18px] h-[16px] rounded-full flex items-center justify-center font-bold text-white text-[15px]"
                                            :class="{
                                                'bg-activeDColor':
                                                    antenna.pointer.x != '' &&
                                                    antenna.pointer.y != '',
                                                'bg-warningDColor':
                                                    antenna.pointer.x == '' ||
                                                    antenna.pointer.y == '',
                                            }"
                                        >
                                            {{ aindex + 1 }}
                                        </div>
                                    </div>
                                </div>
                                <svg
                                    width="655"
                                    height="616"
                                    class="absolute top-0 left-0 z-[999]"
                                    :class="{
                                        hidden:
                                            item.pointer.x == '' ||
                                            item.pointer.y == '' ||
                                            antenna.pointer.x == '' ||
                                            antenna.pointer.y == '',
                                    }"
                                >
                                    <line
                                        :x1="antenna.pointer.x + 16"
                                        :y1="antenna.pointer.y + 16"
                                        :x2="item.pointer.x + 20"
                                        :y2="item.pointer.y + 20"
                                        stroke="#26ABE0"
                                        stroke-width="2"
                                        stroke-dasharray="5,5"
                                    />
                                </svg>
                            </template>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
.IconButton {
    @apply rounded-2xl;
}
.IconButton:hover {
    background-color: lightgray;
}
</style>
<script>
import { defineComponent } from "vue";
import {
    BIconArrowRepeat,
    BIconCaretDownFill,
    BIconCaretUpFill,
    BIconCaretRightFill,
    BIconChevronLeft,
    BIconChevronDown,
} from "bootstrap-icons-vue";

import NavbarComponent from "../../components/NavbarComponent.vue";

import menu from "./menu.json";

export default defineComponent({
    name: "device",
    components: {
        NavbarComponent,

        BIconArrowRepeat,
        BIconCaretRightFill,
        BIconCaretDownFill,
        BIconChevronLeft,
        BIconChevronDown,
        BIconCaretUpFill,
    },
    data: () => ({
        point1: { x: 0, y: 0 },
        point2: { x: 100, y: 200 },
        dragStPt: { x: 0, y: 0 },
        menu,
        list: Array(3).fill(0),
        isShow: false,
        isdown: false,
        selectMain: 0,
        selectAntenna: null,
        devices: [
            {
                id: 321,
                image: "RFID",
                append: false,
                pointer: {
                    x: "",
                    y: "",
                },
                name: "RFID",
                antennas: [
                    {
                        pointer: {
                            x: "",
                            y: "",
                        },
                    },
                    {
                        pointer: {
                            x: "",
                            y: "",
                        },
                    },
                    {
                        pointer: {
                            x: "",
                            y: "",
                        },
                    },
                    {
                        pointer: {
                            x: "",
                            y: "",
                        },
                    },
                    {
                        pointer: {
                            x: "",
                            y: "",
                        },
                    },
                    {
                        pointer: {
                            x: "",
                            y: "",
                        },
                    },
                ],
            },
            {
                id: 321,
                image: "RFID",
                append: false,
                pointer: {
                    x: "",
                    y: "",
                },
                name: "RFID",
                antennas: [],
            },
            {
                id: 322,
                image: "UWB",
                append: false,
                pointer: {
                    x: "",
                    y: "",
                },
                name: "RFID",
                antennas: [
                    {
                        pointer: {
                            x: "",
                            y: "",
                        },
                    },
                    {
                        pointer: {
                            x: "",
                            y: "",
                        },
                    },
                    {
                        pointer: {
                            x: "",
                            y: "",
                        },
                    },
                    {
                        pointer: {
                            x: "",
                            y: "",
                        },
                    },
                    {
                        pointer: {
                            x: "",
                            y: "",
                        },
                    },
                    {
                        pointer: {
                            x: "",
                            y: "",
                        },
                    },
                ],
            },
        ],
        scale: 1,
        isMapMove: false,
    }),
    mounted() {
        document.addEventListener("mouseup", this.handleMouseUp);
    },
    beforeDestroy() {
        document.removeEventListener("mouseup", this.handleMouseUp);
    },
    methods: {
        Append(index, first = null, twice = null) {
            if (twice != null) {
                this.menu[index].submenu[first].submenu[twice].append =
                    !this.menu[index].submenu[first].submenu[twice].append;
            } else if (first != null) {
                this.menu[index].submenu[first].append =
                    !this.menu[index].submenu[first].append;
            } else {
                this.menu[index].append = !this.menu[index].append;
            }
        },
        handleMouseDown(event, index, aindex = null) {
            this.isdown = true;
            this.selectMain = index;
            if (aindex != null) {
                this.selectAntenna = aindex;
            } else {
                this.selectAntenna = null;
            }
            const container = this.$refs.container;
            const box = this.$refs.box;
            const containerRect = container.getBoundingClientRect();
            const x = event.clientX - containerRect.left;
            const y = event.clientY - containerRect.top;
            box.style.left = x + "px";
            box.style.top = y + "px";
        },
        handleMouseUp(event) {
            this.dragStPt = { x: 0, y: 0 };
            if (
                this.$refs.container &&
                this.$refs.container.contains(event.target)
            ) {
                if (this.isMapMove) {
                } else {
                    if (this.selectAntenna == null) {
                        const box = this.$refs[`box${this.selectMain}`];
                        box[0].style.left =
                            this.devices[this.selectMain].pointer.x + "px";
                        box[0].style.top =
                            this.devices[this.selectMain].pointer.y + "px";
                    } else {
                        const box =
                            this.$refs[
                                `box${this.selectMain}antennas${this.selectAntenna}`
                            ];
                        box[0].style.left =
                            this.devices[this.selectMain].antennas[
                                this.selectAntenna
                            ].pointer.x + "px";
                        box[0].style.top =
                            this.devices[this.selectMain].antennas[
                                this.selectAntenna
                            ].pointer.y + "px";
                    }
                }
            } else if (this.isdown) {
                if (this.selectAntenna == null) {
                    this.devices[this.selectMain].pointer.x = "";
                    this.devices[this.selectMain].pointer.y = "";
                } else {
                    this.devices[this.selectMain].antennas[
                        this.selectAntenna
                    ].pointer.x = "";
                    this.devices[this.selectMain].antennas[
                        this.selectAntenna
                    ].pointer.y = "";
                }
            }
            this.isdown = false;
            this.isMapMove = false;
            this.selectMain = 0;
            this.selectAntenna = null;
        },
        handleMouseMove(event) {
            if (this.isdown) {
                const container = this.$refs.container;
                const box = this.$refs.box;

                const containerRect = container.getBoundingClientRect();
                const x = event.clientX - containerRect.left;
                const y = event.clientY - containerRect.top;
                box.style.left = x + "px";
                box.style.top = y + "px";
                if (this.selectAntenna == null) {
                    this.devices[this.selectMain].pointer = {
                        x: x,
                        y: y,
                    };
                } else {
                    this.devices[this.selectMain].antennas[
                        this.selectAntenna
                    ].pointer = {
                        x: x,
                        y: y,
                    };
                }
            } else if (this.isMapMove) {
                const container = this.$refs.container;
                const containerRect = container.getBoundingClientRect();
                const x = event.clientX - containerRect.left - this.dragStPt.x;
                const y = event.clientY - containerRect.top - this.dragStPt.y;
                if (this.selectAntenna == null) {
                    this.devices[this.selectMain].pointer = {
                        x: x,
                        y: y,
                    };
                    const box = this.$refs[`box${this.selectMain}`];
                    box[0].style.left =
                        this.devices[this.selectMain].pointer.x + "px";
                    box[0].style.top =
                        this.devices[this.selectMain].pointer.y + "px";
                } else {
                    this.devices[this.selectMain].antennas[
                        this.selectAntenna
                    ].pointer = {
                        x: x,
                        y: y,
                    };
                    const box =
                        this.$refs[
                            `box${this.selectMain}antennas${this.selectAntenna}`
                        ];
                    box[0].style.left =
                        this.devices[this.selectMain].antennas[
                            this.selectAntenna
                        ].pointer.x + "px";
                    box[0].style.top =
                        this.devices[this.selectMain].antennas[
                            this.selectAntenna
                        ].pointer.y + "px";
                    this.isMapMove = true;
                }
            }
        },
        MaphandleMouseDown(event, index, aindex = null) {
            this.selectMain = index;
            const container = this.$refs.container;
            const containerRect = container.getBoundingClientRect();
            const x = event.clientX - containerRect.left;
            const y = event.clientY - containerRect.top;
            if (aindex != null) {
                this.selectAntenna = aindex;
                this.dragStPt = {
                    x:
                        x -
                        this.devices[this.selectMain].antennas[
                            this.selectAntenna
                        ].pointer.x,
                    y:
                        y -
                        this.devices[this.selectMain].antennas[
                            this.selectAntenna
                        ].pointer.y,
                };
                this.devices[this.selectMain].antennas[
                    this.selectAntenna
                ].pointer = {
                    x: x - this.dragStPt.x,
                    y: y - this.dragStPt.y,
                };
                const box =
                    this.$refs[
                        `box${this.selectMain}antennas${this.selectAntenna}`
                    ];
                box[0].style.left =
                    this.devices[this.selectMain].antennas[this.selectAntenna]
                        .pointer.x + "px";
                box[0].style.top =
                    this.devices[this.selectMain].antennas[this.selectAntenna]
                        .pointer.y + "px";
                this.isMapMove = true;
            } else {
                this.selectAntenna = null;
                this.dragStPt = {
                    x: x - this.devices[this.selectMain].pointer.x,
                    y: y - this.devices[this.selectMain].pointer.y,
                };
                this.devices[this.selectMain].pointer = {
                    x: x - this.dragStPt.x,
                    y: y - this.dragStPt.y,
                };
                const box = this.$refs[`box${this.selectMain}`];
                box[0].style.left =
                    this.devices[this.selectMain].pointer.x + "px";
                box[0].style.top =
                    this.devices[this.selectMain].pointer.y + "px";
                this.isMapMove = true;
            }
        },
        MaphandleMouseUp(event) {},
    },
});
</script>
