<template>
    <div class="w-full flex">
        <div
            class="w-full min-w-[980px] relative min-h-screen flex-col flex h-[100vh]"
        >
            <NavbarComponent />
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
import { defineComponent } from "vue";

import dashboard from "./dashboard.vue";
import NavbarComponent from "../../components/NavbarComponent.vue";

export default defineComponent({
    name: "device",
    components: {
        NavbarComponent,
        dashboard,
    },
    data: () => ({}),
    mounted() {},
    beforeDestroy() {},
    methods: {
        goBack() {
            this.$router.go(-1);
        },
    },
});
</script>

<style></style>
