<template>
  <div>
    localive
  </div>
</template>

<script>

import { defineComponent } from 'vue'
export default defineComponent({
  name: 'localive',
  components: {

  },
  data:()=>({
    
  }),
  computed: {
  },
  mounted() {
  },
  methods:{
  }
})
</script>