<template>
    <div class="w-full h-full landingView">

    </div>
</template>
<script>
    import { defineComponent } from 'vue'
  
    export default defineComponent({
        name: 'dashboard',
        components: {
        },
        data:()=>({
        }),
        mounted() {
        
        },
        methods:{
        }
    })
</script>
<style scoped>
    .landingView {
        background-image: url('/assets/img/Thumb.png');
        height: 100vh;
        background-size: cover;
    }
</style>