<template>
    <router-view />
</template>

<script>
import { defineComponent } from "vue";
import { setAuthToken } from "./utils/setAuthtoken";
import toast from "./utils/toast";

export default defineComponent({
    setup() {},
    created: async function () {
        const token = localStorage.getItem("token"); // Replace 'myToken' with the name of your token key
        if (token) {
            // Token exists in local storage, do something with it
            setAuthToken(token);
            try {
                await this.$store.dispatch("auth/login");
            } catch (error) {
                toast(this, "error", "No Authorization");
                this.$router.push("/login");
                console.log(error);
            }
        } else {
            // Token does not exist in local storage, redirect to login or do something else
            this.$router.push("/login");
        }
    },
});
</script>
