@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  color: #B2B2B2
}
.active-nav-link {
  color: #0B88F9
}
/* .active path{
  color: #26ABE0;
} */
body {
  font-family: 'Manrope', sans-serif;
}