<template>
    <div class="relative w-full min-h-[100vh]">
        <div
            class="relative md:absolute flex flex-row items-center gap-2 pl-0 md:pl-24 py-5 w-full justify-center md:justify-start"
        >
            <img src="/assets/img/logo/icon.svg" alt="ICON" />
            <img src="/assets/img/logo/text.svg" alt="ICON" />
        </div>
        <div
            class="flex md:grid flex-col grid-cols-2 gap-2 min-h-full md:min-h-[100vh]"
        >
            <div
                class="order-2 md:order-1 flex flex-col items-center justify-center"
            >
                <div class="flex flex-col gap-5">
                    <p class="text-4xl font-bold">Enter your Password</p>
                    <p class="text-lg">You have been inactive for 15 minutes</p>
                    <form
                        action="#"
                        @submit.prevent="submitData"
                        class="flex gap-5 flex-col min-w-[20rem]"
                    >
                        <form-password
                            type="password"
                            placeholder="Password"
                            :value="user.password"
                            @update:value="user.password = $event"
                            :error="errors.password"
                            @validate="validate('password')"
                        ></form-password>
                        <div class="submit">
                            <input
                                type="submit"
                                class="btn btn-primary btn-block"
                                value="Unlock"
                            />
                        </div>
                    </form>
                </div>
            </div>
            <div
                class="order-1 md:order-2 flex items-center p-5 w-full h-full justify-end"
            >
                <img
                    class="h-full"
                    src="/assets/img/login/login4.png"
                    alt="LOGIN"
                />
            </div>
        </div>
    </div>
</template>
<script>
import { defineComponent } from "vue";
import FormPassword from "../../components/FormPassword.vue";
import * as Yup from "yup";

const UserSchema = Yup.object().shape({
    password: Yup.string()
        .min(8, "Password should be less than 8 characters")
        .max(50, "Password should not exceed 50 characters")
        .required("Password is required"),
});

export default defineComponent({
    name: "dashboard",
    components: {
        "form-password": FormPassword,
    },
    data: () => ({
        user: {
            password: "",
        },
        errors: {
            password: "",
        },
    }),
    mounted() {},
    methods: {
        submitData() {
            UserSchema.validate(this.user, { abortEarly: false })
                .then(() => {
                    const submittedData = `${this.user.password}`;
                    alert(submittedData);
                })
                .catch((err) => {
                    err.inner.forEach((error) => {
                        this.errors = {
                            ...this.errors,
                            [error.path]: error.message,
                        };
                    });
                });
        },
        validate(field) {
            UserSchema.validateAt(field, this.user)
                .then(() => (this.errors[field] = ""))
                .catch((err) => {
                    this.errors[err.path] = err.message;
                });
        },
    },
});
</script>
<style scoped>
.errors {
    color: red;
}
.submit {
    background-color: #26abe0;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: white;
}
.submit:hover {
    opacity: 0.8;
}
.forgot-password {
    color: #26abe0;
}
.forgot-password:hover {
    opacity: 0.8;
}
.backButton {
    color: #26abe0;
}
</style>
