<template>
    <div class="relative w-full min-h-[100vh]">
        <div
            class="absolute flex flex-row items-center gap-2 pl-24 py-5 w-full justify-start"
        >
            <img src="/assets/img/logo/icon.svg" alt="ICON" />
            <img src="/assets/img/logo/text.svg" alt="ICON" />
        </div>
        <div
            class="flex md:grid flex-col grid-cols-2 gap-2 min-h-full md:min-h-[100vh]"
        >
            <div class="order-1 flex flex-col items-center justify-center">
                <div class="flex flex-col gap-5">
                    <p class="text-4xl font-bold">Log-in</p>
                    <p class="text-lg">
                        Welcome Back! Please login to your account
                    </p>
                    <form @submit.prevent="submitData" class="flex flex-col">
                        <form-input
                            :value="user.email"
                            @update:value="user.email = $event"
                        ></form-input>
                        <form-password
                            :value="user.password"
                            @update:value="user.password = $event"
                        ></form-password>
                        <div class="flex flex-col gap-3">
                            <div>
                                <input
                                    type="submit"
                                    class="btn btn-primary btn-block submit w-full"
                                    value="Log-in"
                                />
                            </div>
                            <div>
                                <input
                                    type="button"
                                    class="forgot-password text-[13px]"
                                    value="Forgot password?"
                                />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div
                class="order-2 flex items-center p-5 w-full h-full justify-end"
            >
                <img
                    class="h-full"
                    src="/assets/img/login/login1.png"
                    alt="LOGIN"
                />
            </div>
        </div>
    </div>
</template>
<script>
import { defineComponent } from "vue";
import FormInput from "../../components/FormInput.vue";
import FormPassword from "../../components/FormPassword.vue";
import * as Yup from "yup";

import api from "../../utils/api_user";
import toast from "../../utils/toast";
import { setAuthToken } from "../../utils/setAuthtoken";

const UserSchema = Yup.object().shape({
    email: Yup.string()
        .email()
        .max(50, "Email should not exceed 50 characters")
        .required("Email is required"),
    password: Yup.string()
        .min(4, "Password should be less than 4 characters")
        .max(50, "Password should not exceed 50 characters")
        .required("Password is required"),
});

export default defineComponent({
    name: "dashboard",
    components: {
        "form-input": FormInput,
        "form-password": FormPassword,
    },
    data: () => ({
        user: {
            email: "",
            password: "",
        },
        errors: {
            email: "",
            password: "",
        },
    }),
    mounted() {},
    methods: {
        submitData() {
            UserSchema.validate(this.user, { abortEarly: false })
                .then(() => {
                    const submittedData = `${this.user.email} ${this.user.password}`;
                })
                .catch((err) => {
                    err.inner.forEach((error) => {
                        this.errors = {
                            ...this.errors,
                            [error.path]: error.message,
                        };
                    });
                });

            api.post("/login", {
                email: this.user.email,
                password: this.user.password,
            })
                .then(async (response) => {
                    toast(this, "success", "Successful Login!");
                    setAuthToken(response.data.message);
                    try {
                        await this.$store.dispatch("auth/login");
                    } catch (error) {
                        console.log(error);
                    }
                    this.$router.push("/dashboard");
                })
                .catch((error) => {
                    if (error.response.status === 500) {
                        toast(this, "error", "Server Error");
                        return;
                    }
                    toast(this, "error", error.response.data.message);
                });
        },
        validate(field) {
            UserSchema.validateAt(field, this.user)
                .then(() => (this.errors[field] = ""))
                .catch((err) => {
                    this.errors[err.path] = err.message;
                });
        },
        onSubmit() {},
    },
});
</script>
<style scoped>
.errors {
    color: red;
}
.submit {
    background-color: #26abe0;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: white;
}
.submit:hover {
    opacity: 0.8;
}
.forgot-password {
    color: #26abe0;
}
.forgot-password:hover {
    opacity: 0.8;
}
</style>
