<template>
    <div class="w-full flex">
        <div
            class="w-full min-w-[980px] relative min-h-screen flex-col flex h-[100vh]"
        >
            <NavbarComponent />
            <div
                class="w-full flex items-center justify-between px-[24px] py-[12px]"
            >
                <div class="flex items-center gap-5">
                    <p class="text-[28px] font-extrabold">Object Alerts</p>
                    <BIconQuestionCircle class="text-[#20AEE5] text-xl" />
                </div>
                <div class="flex justify-end gap-5 relative">
                    <button
                        class="h-[44px] px-[20px] border border-activeColor rounded-[8px] text-activeColor flex items-center gap-2"
                        @click="UpdateFilter"
                    >
                        Filter <BIconFunnelFill />
                    </button>
                    <div
                        class="flex flex-col gap-3 p-5 border absolute min-w-[240px] top-full right-0 z-10 bg-white rounded-lg"
                        v-if="isShowFilter"
                    >
                        <div class="flex flex-row items-center gap-2">
                            <BIconLayoutThreeColumns
                                class="text-[#26ABE0] w-6 h-6"
                            />
                            <p class="text-base">Columns</p>
                        </div>
                        <div
                            class="flex flex-row items-center gap-2"
                            v-for="(column, index) in this.table.thead"
                        >
                            <input
                                type="checkbox"
                                v-bind:id="column.id"
                                @change="(e) => UpdateColumn(column.id, e)"
                                :checked="!this.hideColumns.includes(column.id)"
                            />
                            <label v-bind:for="column.id">{{
                                column.name
                            }}</label>
                        </div>
                    </div>
                    <router-link
                        class="h-[44px] px-[20px] bg-activeColor rounded-[8px] text-white flex items-center gap-2"
                        to=""
                        >Export</router-link
                    >
                </div>
            </div>
            <div class="user-body overflow-y-auto">
                <AlertsDatatable
                    :table="table"
                    :hideColumns="hideColumns"
                    :deleteRow="deleteRow"
                />
            </div>
        </div>
    </div>
</template>

<script>
import { defineComponent } from "vue";
import {
    BIconFunnelFill,
    BIconTrash3,
    BIconQuestionCircle,
    BIconChevronLeft,
    BIconChevronDown,
    BIconBell,
    BIconLayoutThreeColumns,
} from "bootstrap-icons-vue";

import AlertsDatatable from "../../components/AlertsDatatable.vue";
import NavbarComponent from "../../components/NavbarComponent.vue";

export default defineComponent({
    name: "users",
    data: () => ({
        isShowFilter: false,
        temp_table: {},
        table: {
            thead: [
                {
                    name: "Data",
                    id: 0,
                },
                {
                    name: "Alert Type",
                    id: 1,
                },
                {
                    name: "Object Type",
                    id: 2,
                },
                {
                    name: "Site Group",
                    id: 3,
                },
                {
                    name: "Site",
                    id: 4,
                },
                {
                    name: "Floor",
                    id: 5,
                },
                {
                    name: "Object",
                    id: 6,
                },
            ],
            tbody: [
                {
                    _id: "asdfasdfasdf",
                    body: [
                        {
                            date: "Today 10:44",
                        },
                        {
                            type: 0,
                            alertType: "Geofencing",
                        },
                        {
                            type: 0,
                            objectType: "8 MS",
                        },
                        {
                            sitegroup: "Site Group",
                        },
                        {
                            site: "Site",
                        },
                        {
                            floor: "floor",
                        },
                        {
                            object: "object",
                        },
                    ],
                },
                {
                    _id: "asdfasdfasdf",
                    body: [
                        {
                            date: "Today 10:44",
                        },
                        {
                            type: 0,
                            alertType: "Geofencing",
                        },
                        {
                            type: 0,
                            objectType: "8 MS",
                        },
                        {
                            sitegroup: "Site Group",
                        },
                        {
                            site: "Site",
                        },
                        {
                            floor: "floor",
                        },
                        {
                            object: "object",
                        },
                    ],
                },
                {
                    _id: "asdfasdfasdf",
                    body: [
                        {
                            date: "Today 10:44",
                        },
                        {
                            type: 0,
                            alertType: "Geofencing",
                        },
                        {
                            type: 0,
                            objectType: "8 MS",
                        },
                        {
                            sitegroup: "Site Group",
                        },
                        {
                            site: "Site",
                        },
                        {
                            floor: "floor",
                        },
                        {
                            object: "object",
                        },
                    ],
                },
                {
                    _id: "asdfasdfasdf",
                    body: [
                        {
                            date: "Today 10:44",
                        },
                        {
                            type: 0,
                            alertType: "Geofencing",
                        },
                        {
                            type: 0,
                            objectType: "8 MS",
                        },
                        {
                            sitegroup: "Site Group",
                        },
                        {
                            site: "Site",
                        },
                        {
                            floor: "floor",
                        },
                        {
                            object: "object",
                        },
                    ],
                },
                {
                    _id: "asdfasdfasdf",
                    body: [
                        {
                            date: "Today 10:44",
                        },
                        {
                            type: 0,
                            alertType: "Geofencing",
                        },
                        {
                            type: 0,
                            objectType: "8 MS",
                        },
                        {
                            sitegroup: "Site Group",
                        },
                        {
                            site: "Site",
                        },
                        {
                            floor: "floor",
                        },
                        {
                            object: "object",
                        },
                    ],
                },
                {
                    _id: "asdfasdfasdf",
                    body: [
                        {
                            date: "Today 10:44",
                        },
                        {
                            type: 0,
                            alertType: "Geofencing",
                        },
                        {
                            type: 0,
                            objectType: "8 MS",
                        },
                        {
                            sitegroup: "Site Group",
                        },
                        {
                            site: "Site",
                        },
                        {
                            floor: "floor",
                        },
                        {
                            object: "object",
                        },
                    ],
                },
                {
                    _id: "asdfasdfasdf",
                    body: [
                        {
                            date: "Today 10:44",
                        },
                        {
                            type: 0,
                            alertType: "Geofencing",
                        },
                        {
                            type: 0,
                            objectType: "8 MS",
                        },
                        {
                            sitegroup: "Site Group",
                        },
                        {
                            site: "Site",
                        },
                        {
                            floor: "floor",
                        },
                        {
                            object: "object",
                        },
                    ],
                },
                {
                    _id: "asdfasdfasdf",
                    body: [
                        {
                            date: "Today 10:44",
                        },
                        {
                            type: 0,
                            alertType: "Geofencing",
                        },
                        {
                            type: 0,
                            objectType: "8 MS",
                        },
                        {
                            sitegroup: "Site Group",
                        },
                        {
                            site: "Site",
                        },
                        {
                            floor: "floor",
                        },
                        {
                            object: "object",
                        },
                    ],
                },
            ],
        },
        hideColumns: [],
    }),
    mounted() {
        this.temp_table = this.table;
    },
    components: {
        BIconFunnelFill,
        BIconTrash3,
        BIconQuestionCircle,
        BIconChevronLeft,
        BIconChevronDown,
        BIconBell,
        BIconLayoutThreeColumns,

        AlertsDatatable,
        NavbarComponent,
    },
    methods: {
        UpdateColumn(columnNumber, event) {
            const checked = event.target.checked;
            const filteredArr = this.hideColumns;
            this.hideColumns = [];
            if (!checked) {
                filteredArr.push(columnNumber);
            } else {
                const index = filteredArr.indexOf(columnNumber);
                if (index > -1) {
                    filteredArr.splice(index, 1);
                }
            }
            this.hideColumns.push(...filteredArr);
        },
        deleteRow(id) {
            this.$swal
                .fire({
                    title: "Delete Role",
                    html: `Are you sure you want to delete the <span class="text-[#26ABE0]">CMS</span> role?<br/> This action cannot be undone.`,
                    showCancelButton: true,
                    confirmButtonText: `Delete`,
                    cancelButtonText: "Cancel",
                    reverseButtons: true,
                })
                .then((result) => {
                    if (result.isConfirmed) {
                        console.log("Name entered: ", result.value);
                        // Do something with the entered name
                    }
                });
        },
        UpdateFilter() {
            this.isShowFilter = !this.isShowFilter;
        },
    },
});
</script>

<style>
/* customize the scrollbar styles */
.user-body::-webkit-scrollbar {
    width: 5px;
}

.user-body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.user-body::-webkit-scrollbar-thumb {
    background-color: rgb(231, 145, 145);
    border-radius: 5px;
}
.user-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-color: rgb(229, 231, 235);
    @apply px-10 border-y-2;
}
.user-header-button {
    width: 100px;
    text-align: center;
    color: rgba(27, 31, 59, 0.8);
    @apply py-3;
}
.user-header > .active {
    color: #26abe0 !important;
    border-bottom: 1px solid #26abe0;
}
.swal2-actions {
    display: grid !important;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    gap: 10px;
    justify-content: space-between;
}
.swal2-confirm::before {
    content: url("/assets/img/User/Vector.svg");
    margin-right: 10px;
}
.swal2-confirm {
    background-color: red !important; /* Change to desired color */
    color: white !important;
    border-radius: 10px !important;
    /* width: 100%; */
}
.swal2-cancel {
    background-color: #1b1f3b0a !important; /* Change to desired color */
    color: black !important;
    border-radius: 10px !important;
    /* width: 100%; */
}
</style>
