<template>
    <div class="flex h-full min-h-screen select-none">
        <div
            :class="
                'bg-sideColor relative border-r-2 ' +
                (isMinimized
                    ? 'w-[78px] min-w-[78px]'
                    : 'w-[210px] min-w-[210px]')
            "
        >
            <!-- Header -->
            <div class="leading-1 p-5 flex items-center justify-center gap-2">
                <img
                    class="w-8 h-8"
                    src="/assets/img/logo/icon.svg"
                    alt="ICON"
                />
                <img
                    src="/assets/img/logo/text.svg"
                    alt="ICON"
                    v-if="!isMinimized"
                />
            </div>
            <!-- main router -->
            <!-- dashboard -->
            <router-link
                class=""
                :to="{ name: 'dashboard' }"
                active-class="active"
            >
                <div
                    class="px-[14px] rounded-[12px] mx-4 flex flex-row gap-3 items-center hover:bg-layouthoverColor cursor-pointer"
                    :class="{
                        'bg-layoutactiveColor rounded-[12px]':
                            currentUrl.includes('dashboard'),
                        'py-[12px]': !isMinimized,
                        'py-[14px]': isMinimized,
                    }"
                >
                    <img
                        class="w-4 h-4"
                        src="/assets/img/layout/dashboard.svg"
                    />
                    <p
                        class="text-[#1B1F3B7D] text-nsm whitespace-nowrap"
                        :class="{
                            'text-activeColor':
                                currentUrl.includes('dashboard'),
                        }"
                        v-if="!isMinimized"
                    >
                        Dashboard
                    </p>
                </div>
            </router-link>
            <!-- report -->
            <router-link
                class=""
                :to="{ name: 'report' }"
                active-class="active"
            >
                <div
                    class="px-[14px] rounded-[12px] mx-4 flex flex-row gap-3 items-center hover:bg-layouthoverColor"
                    :class="{
                        'bg-opacity-[7%] bg-[#26ABE0] rounded-[12px]':
                            currentUrl.includes('report'),
                        'py-[12px]': !isMinimized,
                        'py-[14px]': isMinimized,
                    }"
                >
                    <img class="w-4 h-4" src="/assets/img/layout/report.svg" />
                    <p
                        class="text-[#1B1F3B7D] text-nsm whitespace-nowrap"
                        :class="{
                            'text-activeColor': currentUrl.includes('report'),
                        }"
                        v-if="!isMinimized"
                    >
                        Report
                    </p>
                </div>
            </router-link>
            <!-- LocaLive -->
            <router-link
                class=""
                :to="{ name: 'localive' }"
                active-class="active"
            >
                <div
                    class="relative px-[14px] rounded-[12px] mx-4 flex flex-row gap-3 items-center hover:bg-layouthoverColor cursor-pointer"
                    :class="{
                        'bg-opacity-[7%] bg-[#26ABE0] rounded-[12px]':
                            currentUrl.includes('localive'),
                        'py-[12px]': !isMinimized,
                        'py-[14px]': isMinimized,
                    }"
                >
                    <div
                        class="absolute w-[6px] h-[6px] bg-activeColor right-[8px] top-[8px] rounded-full"
                    ></div>
                    <img
                        class="w-4 h-4"
                        src="/assets/img/layout/localive.svg"
                    />
                    <p
                        class="text-[#1B1F3B7D] text-nsm whitespace-nowrap"
                        :class="{
                            'text-activeColor': currentUrl.includes('localive'),
                        }"
                        v-if="!isMinimized"
                    >
                        Localive
                    </p>
                </div>
            </router-link>
            <!-- history -->
            <router-link
                class=""
                :to="{ name: 'history' }"
                active-class="active"
            >
                <div
                    class="px-[14px] rounded-[12px] mx-4 flex flex-row gap-3 items-center hover:bg-layouthoverColor cursor-pointer"
                    :class="{
                        'bg-opacity-[7%] bg-[#26ABE0] rounded-[12px]':
                            currentUrl.includes('history'),
                        'py-[12px]': !isMinimized,
                        'py-[14px]': isMinimized,
                    }"
                >
                    <img class="w-4 h-4" src="/assets/img/layout/history.svg" />
                    <p
                        class="text-[#1B1F3B7D] text-nsm whitespace-nowrap"
                        :class="{
                            'text-activeColor': currentUrl.includes('history'),
                        }"
                        v-if="!isMinimized"
                    >
                        History
                    </p>
                </div>
            </router-link>
            <!-- Notification -->
            <router-link
                class=""
                :to="{ name: 'notification' }"
                active-class="active"
            >
                <div
                    class="px-[14px] rounded-[12px] mx-4 flex flex-row gap-3 items-center hover:bg-layouthoverColor cursor-pointer"
                    :class="{
                        'bg-opacity-[7%] bg-[#26ABE0] rounded-[12px]':
                            currentUrl.includes('notification'),
                        'py-[12px]': !isMinimized,
                        'py-[14px]': isMinimized,
                    }"
                >
                    <img class="w-4 h-4" src="/assets/img/layout/alert.svg" />
                    <p
                        class="text-[#1B1F3B7D] text-nsm whitespace-nowrap"
                        :class="{
                            'text-activeColor':
                                currentUrl.includes('notification'),
                        }"
                        v-if="!isMinimized"
                    >
                        Alerts
                    </p>
                </div>
            </router-link>
            <!-- site -->
            <router-link class="" :to="{ name: 'site' }" active-class="active">
                <div
                    class="px-[14px] rounded-[12px] mx-4 flex flex-row gap-3 items-center hover:bg-layouthoverColor cursor-pointer"
                    :class="{
                        'bg-opacity-[7%] bg-[#26ABE0] rounded-[12px]':
                            currentUrl.includes('site'),
                        'py-[12px]': !isMinimized,
                        'py-[14px]': isMinimized,
                    }"
                >
                    <img class="w-4 h-4" src="/assets/img/layout/site.svg" />
                    <p
                        class="text-[#1B1F3B7D] text-nsm whitespace-nowrap"
                        :class="{
                            'text-activeColor': currentUrl.includes('site'),
                        }"
                        v-if="!isMinimized"
                    >
                        Site Manager
                    </p>
                </div>
            </router-link>
            <!-- device -->
            <router-link
                class=""
                :to="{ name: 'device' }"
                active-class="active"
            >
                <div
                    class="px-[14px] rounded-[12px] mx-4 flex flex-row gap-3 items-center hover:bg-layouthoverColor cursor-pointer"
                    :class="{
                        'bg-opacity-[7%] bg-[#26ABE0] rounded-[12px]':
                            currentUrl.includes('device'),
                        'py-[12px]': !isMinimized,
                        'py-[14px]': isMinimized,
                    }"
                >
                    <img class="w-4 h-4" src="/assets/img/layout/device.svg" />
                    <p
                        class="text-[#1B1F3B7D] text-nsm whitespace-nowrap"
                        :class="{
                            'text-activeColor': currentUrl.includes('device'),
                        }"
                        v-if="!isMinimized"
                    >
                        Device Manager
                    </p>
                </div>
            </router-link>
            <!-- Rules -->
            <router-link class="" :to="{ name: 'rule' }" active-class="active">
                <div
                    class="px-[14px] rounded-[12px] mx-4 flex flex-row gap-3 items-center hover:bg-layouthoverColor cursor-pointer"
                    :class="{
                        'bg-opacity-[7%] bg-[#26ABE0] rounded-[12px]':
                            currentUrl.includes('rule'),
                        'py-[12px]': !isMinimized,
                        'py-[14px]': isMinimized,
                    }"
                >
                    <img class="w-4 h-4" src="/assets/img/layout/rule.svg" />
                    <p
                        class="text-[#1B1F3B7D] text-nsm whitespace-nowrap"
                        :class="{
                            'text-activeColor': currentUrl.includes('rule'),
                        }"
                        v-if="!isMinimized"
                    >
                        Rules Manager
                    </p>
                </div>
            </router-link>
            <!--  Charts -->
            <router-link class="" :to="{ name: 'chart' }" active-class="active">
                <div
                    class="px-[14px] rounded-[12px] mx-4 flex flex-row gap-3 items-center hover:bg-layouthoverColor cursor-pointer"
                    :class="{
                        'bg-opacity-[7%] bg-[#26ABE0] rounded-[12px]':
                            currentUrl.includes('chart'),
                        'py-[12px]': !isMinimized,
                        'py-[14px]': isMinimized,
                    }"
                >
                    <img
                        class="w-4 h-4"
                        src="/assets/img/layout/analytics.svg"
                    />
                    <p
                        class="text-[#1B1F3B7D] text-nsm whitespace-nowrap"
                        :class="{
                            'text-activeColor': currentUrl.includes('chart'),
                        }"
                        v-if="!isMinimized"
                    >
                        Analytics
                    </p>
                </div>
            </router-link>
            <!-- group -->
            <router-link class="" to="/group" active-class="active">
                <div
                    class="px-[14px] rounded-[12px] mx-4 flex flex-row gap-3 items-center hover:bg-layouthoverColor cursor-pointer"
                    :class="{
                        'bg-opacity-[7%] bg-[#26ABE0] rounded-[12px]':
                            currentUrl.includes('group'),
                        'py-[12px]': !isMinimized,
                        'py-[14px]': isMinimized,
                    }"
                >
                    <img class="w-4 h-4" src="/assets/img/layout/user.svg" />
                    <p
                        class="text-[#1B1F3B7D] text-nsm whitespace-nowrap"
                        :class="{
                            'text-activeColor': currentUrl.includes('group'),
                        }"
                        v-if="!isMinimized"
                    >
                        Users
                    </p>
                </div>
            </router-link>
            <!-- vector -->
            <router-link
                class=""
                :to="{ name: 'vector' }"
                active-class="active"
            >
                <div
                    class="px-[14px] rounded-[12px] mx-4 flex flex-row gap-3 items-center hover:bg-layouthoverColor cursor-pointer"
                    :class="{
                        'bg-opacity-[7%] bg-[#26ABE0] rounded-[12px]':
                            currentUrl.includes('vector'),
                        'py-[12px]': !isMinimized,
                        'py-[14px]': isMinimized,
                    }"
                >
                    <img class="w-4 h-4" src="/assets/img/layout/system.svg" />
                    <p
                        class="text-[#1B1F3B7D] text-nsm whitespace-nowrap"
                        :class="{
                            'text-activeColor': currentUrl.includes('vector'),
                        }"
                        v-if="!isMinimized"
                    >
                        System
                    </p>
                </div>
            </router-link>

            <!-- extend part -->
            <div
                class="flex items-center justify-center gap-2 absolute w-full bottom-0 text-menuTextColor"
            >
                <button
                    class="bg-[#1b1f3b0a] rounded-lg"
                    :class="{
                        'px-[29px] py-[10px]': !isMinimized,
                        'p-[10px]': isMinimized,
                    }"
                    @click="ToggleSidebar"
                >
                    <img
                        v-if="isMinimized"
                        class="w-6 h-6"
                        src="/assets/img/layout/back.svg"
                    />
                    <div
                        class="flex flex-row gap-3 items-center"
                        v-if="!isMinimized"
                    >
                        <img
                            class="w-6 h-6"
                            src="/assets/img/layout/back.svg"
                        />
                        <p class="text-[#1b1f3b80] text-[13px]">
                            Collapse View
                        </p>
                    </div>
                </button>
            </div>
        </div>
        <div class="h-auto bg-white w-full min-w-[980px]">
            <router-view />
        </div>
    </div>
</template>

<script>
import { defineComponent } from "vue";
import { BIconHouse, BIconPeople } from "bootstrap-icons-vue";
export default defineComponent({
    name: "layout",
    components: {
        BIconHouse,
        BIconPeople,
    },
    data: () => ({
        isMinimized: true,
        currentUrl: window.location.href,
    }),
    watch: {
        $route(to, from) {
            this.currentUrl = to.path;
        },
    },
    computed: {},
    mounted() {},
    methods: {
        signOut() {
            this.$router.push({ name: "login" });
        },
        ToggleSidebar() {
            this.isMinimized = !this.isMinimized;
        },
    },
});
</script>
